﻿@using iPMS.Models.SessionModel
@model iPMS.Models.ViewPerformanceAnalysisModel
@{
    var messageInfo = iPMS.Helper.MessageManager.GetMessage();
    var Employee = this.Session["UserProfile"] as UserProfileSessionData;
}
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }
    String[] Word = { "ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4" };
    public String Text(String index)
    {
        return Word[StringToInt(index) - 1];
    }
}
<style>
    @*.content-body {
        background: #e4e4e5;
        padding-bottom: 40px;
    }*@

    .sub1, .sub2, .sub3, .sub4 {
        display: none;
    }

    :checked ~ .sub1, :checked ~ .sub2, :checked ~ .sub3, :checked ~ .sub4 {
        display: block;
        margin-left: 40px;
    }

    .card-body {
        background: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        padding: 30px;
        width: 70%;
        min-width: 700px;
        min-height: 900px;
        box-shadow: 0 0 0 1px rgb(53 72 91 / 7%), 0 2px 2px rgb(0 0 0 / 1%), 0 4px 4px rgb(0 0 0 / 2%), 0 10px 8px rgb(0 0 0 / 3%), 0 15px 15px rgb(0 0 0 / 3%), 0 30px 30px rgb(0 0 0 / 4%), 0 70px 65px rgb(0 0 0 / 5%)
    }

    .inputGroup {
        width: 600px;
    }

        .inputGroup > * {
            filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15)) !important;
        }

        .inputGroup > label, .sub1 > div > label, .sub2 > div > label, .sub3 > label, .sub4 > label {
            border-radius: 5px;
            line-height: 19px;
            cursor: pointer;
            border: 1px solid #d8d2b6;
            color: #444444;
            font-size: 18px;
            font-family: sans-serif;
            width: 100%;
            padding: 20px 25px 20px 25px;
        }

        .inputGroup input[type=radio]:checked + label {
            border: 1px solid #393749 !important;
            background: #343957 !important;
            color: #fff;
            filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25)) !important;
            box-shadow: none;
        }

    .sub2 > div > label {
        border: 1px solid #d8d2b6;
        /*background:;*/
    }

    .sub3 > label {
        border: 1px solid #c6a1d5;
        background: #d0a6e2;
    }

    input[type=radio]:checked + label:before {
        content: "✔  ";
        color: #fff;
        white-space: pre;
    }

    .inputGroup :hover + label {
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.35);
    }

    .inputGroup input {
        visibility: hidden;
        display: none;
    }

    .inputGroup label:before {
        content: "+  ";
        white-space: pre;
        color: #444444;
    }
</style>

<div class="container-fluid">

    <div class="row page-titles mx-0">
        <div class="col-sm-12 p-md-0">
            <div class="welcome-text">
                <div class="text-center mb-4">
                    @*<h4> รายงานวิเคราะห์ผลดำเนินงาน </h4>*@
                </div>

            </div>
        </div>

        <menu id="nestable-menu">
        </menu>
        <div class="container-fluid" style="display:flex; flex-direction:column">
            <div class="col-sm-12 p-md-0">
                <div class="text-center mb-4" style="align-self:center">
                    <p style="font-size: 32px; color: #444444; margin-bottom: 24px;">
                        คำจำกัดความ PMS ประจำปี
                        <span id="TextYear"> @ViewData["Year"] </span>
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-4">เลือกปี</span>
                        </div>
                        <select id="Year" name="Filter" class="form-control">
                            @foreach (var (item, index) in Model.YearsModelLists.Select((value, i) => (value, i)))
                            {
                                if (ViewData["Year"] as string == item.Year)
                                {
                                    <option value="@item.Year" selected>@item.Year</option>
                                }
                                else
                                {
                                    <option value="@item.Year">@item.Year</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="text">

                    @*<p style="font-size: 20px; color: #444444; margin-bottom: 30px;">ค้นหาเอกสาร</p>*@
                </div>
                <div style="border: 1px solid #e4e3e9; border-radius: 8px; width: 100%; min-height: 800px; padding: 15px; box-shadow: inset 0 0 15px #e5e2e9;" id="ClearGroup">
                    <div class="inputGroup">
                        @if (Model.PEAArchiveModelLists.Count > 0 && Model.PEAArchiveModelLists[0].ID != null)
                        {
                            <div class="inputGroup">
                                <input type="radio" name="level2" value='D-20' id="D-20" />
                                <label for="D-20">กฟจ.</label>
                                @foreach (var (item, index) in Model.PEAArchiveModelLists.Select((value, i) => (value, i)))
                                {
                                    if (item.ID == null)
                                    {
                                        break;
                                    }
                                    <div class="sub1">
                                        <div>
                                            <input type="radio" name="level3" value="D-@(index+3+"0")" id="D-@(index+3+"0")" />
                                            <label for="D-@(index+3+"0")">@item.PEA_OfficeNAME</label>
                                            @foreach (var (store, indexList) in item.store.Select((value, i) => (value, i)))
                                            {
                                                <div class="sub2">
                                                    <div>
                                                        <input type="radio" name="level4" value="D-@(index+3+"0"+indexList)" id="D-@(index+3+"0"+indexList)" />
                                                        <label for="D-@(index+3+"0"+indexList)">@Text(store.Quarter)</label>
                                                        <div class="sub3">
                                                            <a class="btn" href="~/Repository/PDF/PMSAnalyze/@store.FileName?@GenerateMath()"
                                                               target="_blank" title="ไฟล์เอกสาร" style="color:black">
                                                                <span style="color:black">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                                    </svg>
                                                                </span>
                                                                ไฟล์@Text(store.Quarter)
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                    </div>

                    @*<input type="radio" name="level2" value="D10" id="D10" />
                            <label for="D10">กฟฟ. ชั้น 1-3</label>

                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D100" id="D100" />
                                    <label for="D100">ไตรมาส 1</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D101" id="D101" />
                                    <label for="D101">ไตรมาส 1-2</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1-2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="inputGroup">
                            <input type="radio" name="level2" value="D10" id="D20" />
                            <label for="D20">กฟส</label>

                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D200" id="D200" />
                                    <label for="D200">ไตรมาส 1</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D201" id="D201" />
                                    <label for="D201">ไตรมาส 1-2</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1-2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="inputGroup">
                            <input type="radio" name="level2" value="D10" id="D30" />
                            <label for="D30">กฟฟ.นำร่อง</label>

                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D300" id="D300" />
                                    <label for="D300">ไตรมาส 1</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D301" id="D301" />
                                    <label for="D301">ไตรมาส 1-2</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1-2
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="inputGroup">
                            <input type="radio" name="level2" value="D10" id="D40" />
                            <label for="D40">กฟย.นำร่อง</label>

                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D400" id="D400" />
                                    <label for="D400">ไตรมาส 1</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D401" id="D401" />
                                    <label for="D401">ไตรมาส 1-2</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1-2
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D402" id="D402" />
                                    <label for="D402">ไตรมาส 1-3</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1-3
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sub1">
                                <div>
                                    <input type="radio" name="level3" value="D403" id="D403" />
                                    <label for="D403">ไตรมาส 1-4</label>
                                    <div class="sub2">
                                        <a class="btn" href="~/Repository/PDF/MastActivity/Act-123456.pdf?@GenerateMath()"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                            ไฟล์ไตรมาส 1-4
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>*@


                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const quarter = ["ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4"];
    function getquarter(month) {
        return quarter[month - 1];
    }

    $('select[name="Filter"]').change(function (e) {
        let Year = $('#Year').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("FilterYear", "PMSPerformanceAnalysis")',
            data: { Year: Year},
            dataType: "json",
            beforeSend: function () {
                // setting a timeout
                @*$("#loadMe").modal({
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard
                    show: true //Display loader!
                });*@

                $("#ClearGroup").empty();
                var yourlegend = document.getElementById("TextYear");
                yourlegend.innerHTML = Year;
            },
            success: function (data) {
                @*console.log(data)*@
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                     console.log(data);

                     @*$("#loadMe").modal("hide");*@
                     Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                     ).then(function () {
                         @*$("#loadMe").modal("hide");*@

                         let event_data = '';

                         if (data["Data"].length > 0 && data["Data"][0].ID != null) {

                            event_data += '<div class="inputGroup">';
                            event_data += '<input type="radio" name="level2" value="D-20" id="D-20" />';
                            event_data += '<label for="D-20">กฟจ.</label>';
                            for (var index = 0; index < data["Data"].length; index++) {
                                if (data["Data"][0].ID == null) {
                                    break;
                                }

                            
                                event_data += '<div class="sub1">';
                                event_data += '<div>';
                                event_data += '<input type="radio" name="level3" value="D-' + (index+3+"0") + '" id="D-' + (index+3+"0") + '" />';
                                    event_data += '<label for="D-' + (index + 3 + "0") + '">' + data["Data"][index].PEA_OfficeNAME + '</label>';
                                for (var quarter = 0; quarter < data["Data"][index].store.length; quarter++) {
                                    event_data += '<div class="sub2">';
                                    event_data += '<div>';
                                    event_data += '<input type="radio" name="level4" value="D-' + (index + 3 + "0" + quarter) + '" id="D-' + (index + 3 + "0" + quarter) + '" />';
                                    event_data += '<label for="D-' + (index + 3 + "0" + quarter) + '">' + getquarter(data["Data"][index].store[quarter].Quarter) + '</label>';
                                    event_data += '<div class="sub3">';
                                    event_data += '<a class="btn" href="../Repository/PDF/PMSAnalyze/' + data["Data"][index].store[quarter].FileName + '?@GenerateMath()" ';
                                    event_data += 'target="_blank" title="ไฟล์เอกสาร" style="color:black">';
                                    event_data += '<span style="color:black">';
                                    event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">';
                                    event_data += '<path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />';
                                    event_data += '</svg>';

                                    event_data += '</span>';
                                    event_data += 'ไฟล์' + getquarter(data["Data"][index].store[quarter].Quarter);
                                    event_data += '</a>';
                                    event_data += '</div>';
                                    event_data += '</div>';
                                    event_data += '</div>';
                                }
                            event_data += '</div>';
                            event_data += '</div>';
                            }
                            @*for (var quarter = 0; quarter < data["Data"][index].store.length; quarter++) {
                                event_data += '<div class="sub1">';
                                event_data += '<div>';
                                event_data += '<input type="radio" name="level3" value="D-' + index + "0" + quarter + '" id="D-' + index + "0" + quarter + '" />';
                                event_data += '<label for="D-' + index + "0" + quarter + '">' + getquarter(data["Data"][index].store[quarter].Quarter) + '</label>';
                                event_data += '<div class="sub2">';
                                event_data += '<a class="btn" href="../Repository/PDF/PMSAnalyze/' + data["Data"][index].store[quarter].FileName +'?@GenerateMath()"';
                                event_data += ' target="_blank" title="ไฟล์เอกสาร" style="color:black"> ';
                                event_data += '<span>';
                                event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">';
                                event_data += '<path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />';
                                event_data += '</svg>';
                                event_data += '</span>';
                                event_data += 'ไฟล์' + getquarter(data["Data"][index].store[quarter].Quarter);
                                event_data += '</a>';
                                event_data += '</div>';
                                event_data += '</div>';
                                event_data += '</div>';
                            }*@
                            event_data += '</div>';
                         }


                         $("#ClearGroup").append(event_data);

                     });
                }
                else {
                     Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                     }).then(function () {
                         @*$("#loadMe").modal("hide");*@

                     });
                }
            },
            error: function (error) {
                @*alert(error);*@
                @*$("#loadMe").modal("hide");*@

                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    });
</script>