﻿@using iPMS.Models.SessionModel;
@model iPMS.Models.ViewAdmin
@{
    var Employee = this.Session["UserProfile"] as UserProfileSessionData;
}
<style>
    .bodycolor {
        color: black;
    }
</style>

<div class="container-fluid">
    <div class="card">
        @*<div class="card-header">
            <div class="col-xl-6">
                <h4 class="card-title">จัดการสิทธิ์ผู้ดูแล</h4>
            </div>
            <div class="col-xl-6">
                <h4 class="card-title">ตารางรายชื่อผู้เกษียณ</h4>
            </div>
        </div>*@
        <div class="card-body">
            <div class="form-validation">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="">
                            <h4 class="card-title">กำหนดสิทธิ์แอดมิน</h4>
                        </div>
                        @*<div class="card-header">
                            <h4 class="card-title">กำหนดสิทธิ์แอดมิน</h4>
                        </div>*@
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label bodycolor">
                                รหัสพนักงาน
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="Employee_ID" name="Employee_ID" placeholder="ใส่รหัสพนักงาน" maxlength="8"
                                               onkeypress="return check_digit(event,this);" autocomplete="off">
                                        <input type="hidden" id="HiddenID" name="HiddenID" value="">
                                        <span>
                                            <button type="button" class="btn btn-info" onclick="ResponseData()">ยืนยัน</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        @*<div class="form-group row">
                            <label class="col-lg-3 col-form-label bodycolor">
                                ชื่อ
                            </label>
                            <div class="col-lg-6">
                                <label class="col-lg-12 col-form-label bodycolor" id="First_Name" name="First_Name">

                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label bodycolor">
                                นามสกุล
                            </label>
                            <div class="col-lg-6">
                                <label class="col-lg-12 col-form-label bodycolor" id="Last_Name" name="Last_Name">

                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label bodycolor">
                                สังกัดย่อ
                            </label>
                            <div class="col-lg-6">
                                <label class="col-lg-12 col-form-label bodycolor" id="Dept_Short" name="Dept_Short">

                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label bodycolor">
                                BA
                            </label>
                            <div class="col-lg-6">
                                <label class="col-lg-12 col-form-label bodycolor" id="BA" name="BA">

                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label bodycolor">
                                กำหนดสิทธิ์
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control valid" id="PermissionCode" name="PermissionCode" aria-describedby="val-skill-error" aria-invalid="false">
                                    <option value="">โปรดระบุสิทธิ์</option>-->
                                    @foreach (var (item, index) in Model.PermissionRoleModelLists.Select((value, i) => (value, i)))
                                    {
                                        <option value="@item.PermissionCode">@item.Description</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-3">
                                <button type="button" id="BtnSave" class="btn btn-primary" onclick="Insert()">บันทึก</button>
                            </div>
                        </div>*@
                    </div>

                        <div class="col-xl-12">
                            @*<div class="card-header">
                                <h4 class="card-title">ตารางรายชื่อแอดมิน</h4>
                            </div>*@
                            <div class="">
                                <h4 class="card-title">ตารางรายชื่อแอดมิน</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0" id="list_table_json" name="list_table_json">
                                        <thead style="color: #000000">
                                            <tr>
                                                <th style="width:100px">รหัสพนักงาน</th>
                                                <th style="width: 200px">ชื่อ</th>
                                                @*<th style="width: auto">ตำแหน่ง</th>*@
                                                <th style="width: 80px">BA</th>
                                                <th style="width: 120px">สิทธิ์ แผนปฏิบัติการ</th>
                                                <th style="width: 120px">สิทธิ์ PMS</th>
                                                <th style="width: 120px">ฟังก์ชัน</th>
                                            </tr>
                                        </thead>
                                        <tbody style="color: #000000">
                                            @foreach (var (item, index) in Model.PermissionAdminModelLists.Select((value, i) => (value, i)))
                                            {
                                                <tr>
                                                    <td>@item.UserId</td>
                                                    <input type="hidden" id="HiddenKey-@item.UserId" name="HiddenKey-@item.UserId" value="@item.Id">
                                                    <input type="hidden" id="Hidden-@item.UserId" name="Hidden-@item.UserId" value="@index">
                                                    <td>@item.FirstName @item.LastName</td>
                                                    <td>@item.BA</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.PMSDescription</td>
                                                    <td>
                                                        <button type="button" id="@item.UserId" class="btn btn-primary"
                                                                onclick="EditLabel(this.id, '@item.FirstName', '@item.LastName', '@item.BA')">
                                                            แก้ไข
                                                        </button>
                                                        <button type="button" id="@item.UserId" class="btn btn-primary-outline"
                                                                onclick="confirmDelete(this.id)"
                                                                data-id="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
<div class="modal fade" id="exampleModalCenter" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">กำหนดสิทธิ์ผู้ใช้งาน</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            @*<div class="modal-body">
                <h5 class="modal-title">กำหนดสิทธิ์ผู้ใช้งาน</h5>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>*@
        <div class="modal-body">
            <div class="form-group row">
                <label class="col-lg-5 col-form-label bodycolor">
                    ชื่อ
                </label>
                <div class="col-lg-6">
                    <label class="col-lg-12 col-form-label bodycolor" id="First_Name" name="First_Name">

                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-5 col-form-label bodycolor">
                    นามสกุล
                </label>
                <div class="col-lg-6">
                    <label class="col-lg-12 col-form-label bodycolor" id="Last_Name" name="Last_Name">

                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-5 col-form-label bodycolor">
                    BA
                </label>
                <div class="col-lg-6">
                    <label class="col-lg-12 col-form-label bodycolor" id="BA" name="BA">

                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-5 col-form-label bodycolor">
                    กำหนดสิทธิ์ แผนปฏิบัติการ
                    @*<span class="text-danger">*</span>*@
                </label>
                <div class="col-lg-6">
                    <select class="form-control valid" id="PermissionCode" name="PermissionCode" aria-describedby="val-skill-error" aria-invalid="false">
                        <option value="">โปรดระบุสิทธิ์</option>
                        @foreach (var (item, index) in Model.PermissionRoleModelLists.Select((value, i) => (value, i)))
                        {
                            <option value="@item.PermissionCode">@item.Description</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-5 col-form-label bodycolor">
                    กำหนดสิทธิ์ PMS
                    @*<span class="text-danger">*</span>*@
                </label>
                <div class="col-lg-6">
                    <select class="form-control valid" id="PMSPermissionCode" name="PMSPermissionCode" aria-describedby="val-skill-error" aria-invalid="false">
                        <option value="">โปรดระบุสิทธิ์</option>
                        @foreach (var (item, index) in Model.PMSPermissionRoleModelLists.Select((value, i) => (value, i)))
                        {
                            <option value="@item.PermissionCode">@item.Description</option>
                        }
                    </select>
                </div>
            </div>
        </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Insert()">บันทึก</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#list_table_json').DataTable({
            //"scrollX": true,
            //"scrollY": true,
            "language": {

                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });
        if (@Employee.IsLogin != "1") {
            location.reload();
        }
        
    });
    function hasNumber(myString) {
        return /\d/.test(myString);
    }
    function check_digit(e, obj) {
        var intsize = 20; // มี digit มีกี่ตัว
        var deczize = 0; // มีจุดทศนิยมกี่ตัว
        var keycode;

        if (window.event) keycode = window.event.keyCode;
        else if (e) { keycode = e.which; }
        else { return true; }
        var fieldval = (obj.value),
            dots = fieldval.split(".").length;

        if (keycode == 46) {
            return false;
        }
        if (keycode == 8 || keycode == 9 || keycode == 46 || keycode == 13) {
            // back space, tab, delete, enter
            return true;
        }
        if ((keycode >= 32 && keycode <= 45) || keycode == 47 || (keycode >= 58 && keycode <= 127) || (keycode >= 3585 && keycode <= 3673)) {
            return false;
        }
        @*if (fieldval == "0" && keycode == 48) {
            return false;
        }*@
        if (fieldval.indexOf(".") != -1) {
            if (keycode == 46) {
                return false;
            }
            var splitfield = fieldval.split(".");
            if (splitfield[1].length >= deczize && keycode != 8 && keycode != 0)
                return false;
        } else if (fieldval.length >= intsize && keycode != 46) {
            return false;
        } else {
            return true;
        }
    }
    function setLabelInModal(id, firstName, lastName, baCode) {
        $('#HiddenID').val(id)
        $('#First_Name').text(firstName);
        $('#Last_Name').text(lastName);
        @*$('#Dept_Short').text(departmentShort);*@
        $('#BA').text(baCode);
        $('#PermissionCode').val("");
        $('#PMSPermissionCode').val("");
    }
    function resetLabelInModal(data) {
        Swal.fire({
            icon: 'error',
            title: 'เกิดความผิดพลาด!',
            text: data,
        }).then(function () {
            $('#Employee_ID').val("");
            $('#HiddenID').val("")
            $('#First_Name').text("");
            $('#Last_Name').text("");
            @*$('#Dept_Short').text("");*@
            $('#BA').text("");
            $('#PermissionCode').val("");
            $('#PMSPermissionCode').val("");
        });
    }
    function ResponseData() {
        var id = $('#Employee_ID').val();
        $.ajax({
            url: "@Url.Action("ResponseData", "Admin")",
            dataType: 'json',
            type: 'POST',
            data: {
                UserId: id,
            },
            cache: false,
            beforeSend: function () {
                // setting a timeout
            },
            success: function (data) {
                @*console.log(data);*@
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    resetLabelInModal(data["Data"]);
                }
                else {
                    setLabelInModal(id, data["Data"].FirstName, data["Data"].LastName, data["Data"].BaCode);
                    $('#exampleModalCenter').modal('show');
                }
            },
            error: function (d) {
                /*console.log("error");*/
                alert(d);
            }
        });
    }

    function Insert() {
        var Id = $('#HiddenID').val();
        var ID = $('#Hidden-' + Id).val();
        var KeyID = $('#HiddenKey-' + Id).val();
        let CountTable = 0;
        var PermissionCode = $('#PermissionCode').val();
        var PMSPermissionCode = $('#PMSPermissionCode').val();
        if (Id == "") {
            var notifierCheckbox = document.getElementById("Employee_ID");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุรหัสพนักงานให้ถูกต้อง หรือ ยืนยันรหัสพนักงานก่อน.");
            notifierCheckbox.reportValidity();
            return;
        }
        //if (PermissionCode == "") {
        //    var notifierCheckbox = document.getElementById("PermissionCode");
        //    notifierCheckbox.focus();
        //    notifierCheckbox.setCustomValidity("โปรดเลือกระดับของแอดมิน.");
        //    notifierCheckbox.reportValidity();
        //    return;
        //}

        var LevelAdmin = "";
        var table = document.getElementById("list_table_json");
        CountTable = table.tBodies[0].rows.length; // นับจำนวนสิทธิ์ในตาราง
        @*for (var i = 1, row; row = table.rows[i]; i++) { // not name column
            //iterate through rows
            //rows would be accessed using the "row" variable assigned in the for loop
            //for (var j = 0, col; col = row.cells[j]; j++) {}
            if (Id == table.rows[i].cells[0].textContent.trim()) { // จับข้อมูลรหัสพนักงาน Input กับในตารางตรงกันไหม
                LevelAdmin = table.rows[i].cells[3].textContent.trim(); // เก็บค่าสถานะแอดมิน
                break;
            }
        }
        if (LevelAdmin == "ผู้พัฒนาระบบ") { // เช็คถ้าสิทธิ์เป็นผู้พัฒนาระบบ ไม่สามารถลบหรือแก้ไขได้
            Swal.fire({
                icon: 'error',
                title: 'เกิดความผิดพลาด!',
                text: 'ไม่สามารถเปลี่ยนแปลงสิทธิ์ผู้พัฒนาระบบได้',
            })
            return;
        }*@

        var formData = new FormData();
        formData.append("Id", KeyID);
        formData.append("UserId", Id);
        formData.append("PermissionCode", PermissionCode);
        formData.append("PMSPermissionCode", PMSPermissionCode);
        $.ajax({
            url: "@Url.Action("Insert", "Admin")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
                $("#BtnSave").attr("disabled", true);
            },
            success: function (data) {
                @*console.log(data);*@
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        resetLabelAndBtn();
                    });
                }
                else if (data["Status"] == "1") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        var event_data = '';
                        event_data += '<tr>';
                        event_data += '<td>' + Id + '</td>';
                        event_data += '<input type="hidden" id="HiddenKey-' + Id + '" name="HiddenKey-' + Id + '" value="' + data["Key"] +'">';
                        event_data += '<input type="hidden" id="Hidden-' + Id + '" name="Hidden-' + Id + '" value="' + (CountTable) + '">';
                        event_data += '<td>' + $("#First_Name").text() + " " + $("#Last_Name").text() + '</td>';
                        event_data += '<td>' + $("#BA").text() + '</td>';
                        event_data += '<td>' + $("#PermissionCode option:selected").text() + '</td>';
                        event_data += '<td>' + $("#PMSPermissionCode option:selected").text() + '</td>';
                        event_data += '<td><button type="button" id="' + Id + '" class="btn btn-primary" ' +
                            'onclick="EditLabel(this.id, ' + "'" + $('#First_Name').text() + "','" + $('#Last_Name').text() +
                            "','" + $('#BA').text() + "'" + ')" > ' + "แก้ไข" + '</button > '
                        event_data += '<button type="button"' + 'id="' + Id + '" class="btn btn-primary-outline" ' +
                            'onclick = "confirmDelete(this.id)" data-id="" > ' +
                        '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">' +
                        '<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>' +
                        '</svg>'
                        '</button>'
                        event_data += '</tr>';
                        @*$("#list_table_json").append(event_data);*@
                        // ดึง Datatable มาอัปเดต หน้าต่างข้อมูล
                        var table = $('#list_table_json').DataTable();
                        table.row.add($(event_data)).draw();

                        resetLabelAndBtn();
                    });
                }
                else if (data["Status"] == "2") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {

                        // ดึง Datatable มาอัปเดต หน้าต่างข้อมูล
                        var table = $('#list_table_json').DataTable();
                        var idx = table
                            .row(ID)
                            .index();
                        table.cell(idx, 2).data(data["BA"]).draw();
                        //table.cell(idx, 2).data(Agency).draw();
                        table.cell(idx, 3).data($("#PermissionCode option:selected").text()).draw();
                        table.cell(idx, 4).data($("#PMSPermissionCode option:selected").text()).draw();
                        @* table.cell(idx, 4).data(IPAddress).draw();*@
                        @* location.reload();*@

                        resetLabelAndBtn();
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'ไม่สามารถบันทึกได้',
                        text: data,
                    }).then(function () {
                        $("#BtnSave").removeAttr("disabled");
                        @* location.reload();*@
                    });
                }
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
            }
        });
    }
    function EditLabel(id, firstname, lastname, ba) {
        $('#Employee_ID').val(id);
        $('#HiddenID').val(id)
        $('#First_Name').text(firstname);
        $('#Last_Name').text(lastname);
        @*$('#Dept_Short').text(deptshort);*@
        $('#BA').text(ba);
        $('#PermissionCode').val("");
        $('#PMSPermissionCode').val("");
        $('#exampleModalCenter').modal('show');
    }
    function resetLabelAndBtn() {
        $('#Employee_ID').val("");
        $('#HiddenID').val("");
        $('#First_Name').text("");
        $('#Last_Name').text("");
        @* $('#Dept_Short').text("");*@
        $('#BA').text("");
        $('#PermissionCode').val("");
        $('#PMSPermissionCode').val("");
        $("#BtnSave").removeAttr("disabled");
        $('#exampleModalCenter').modal('hide');
    }

    function ApiDelete(Id) {
        var KeyID = $('#HiddenKey-' + Id).val();
        var formData = new FormData();
        formData.append("Id", KeyID);
        formData.append("UserId", Id);
        $.ajax({
            url: "@Url.Action("Delete", "Admin")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
            },
            success: function (data) {
                console.log(data);
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                    Swal.fire({
                        title: 'ลบแล้ว!',
                        text: data["Message"],
                        icon: 'success',
                        confirmButtonText: 'ตกลง',
                    }).then(function () {
                        var ID = $('#Hidden-' + Id).val();
                        //console.log(ID)
                        var myTable = $('#list_table_json').DataTable();
                        myTable.row(ID).remove().draw();

                        //รีเซต row ตารางใหม่
                        var table = document.getElementById("list_table_json");
                        for (var i = 1, row; row = table.rows[i]; i++) { // not name column
                            let EmployeeId = table.rows[i].cells[0].textContent.trim();
                            console.log(EmployeeId)
                            let HiddenRow = $('#Hidden-' + EmployeeId).val();
                            if (HiddenRow > ID) {
                                $('#Hidden-' + EmployeeId).val(HiddenRow - 1);
                            }
                        }

                        resetLabelAndBtn();
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    })
                }
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
            }
        });
    }
    function confirmDelete(id) {
        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ลบทิ้ง!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                ApiDelete(id);
            }
        })
    }

</script>