﻿@model iPMS.Models.ViewManagementSystem
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }
    String[] list = { "ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4" };
    String[] months = {"ประจำเดือนมกราคม", "ประจำเดือนกุมภาพันธ์", "ประจำเดือนมีนาคม", "ประจำเดือนเมษายน"
                        , "ประจำเดือนพฤษภาคม", "ประจำเดือนมิถุนายน", "ประจำเดือนกรกฎาคม", "ประจำเดือนสิงหาคม"
                        , "ประจำเดือนกันยายน", "ประจำเดือนตุลาคม", "ประจำเดือนพฤศจิกายน", "ประจำเดือนธันวาคม"};
    String[] rangemonths = { "มกราคม-มิถุนายน", "กรกฎาคม-ธันวาคม" };
    public String getText(int TimeCode,int Index)
    {
        if(TimeCode == 1)
        {
            return months[Index - 1];
        }
        else if (TimeCode == 2)
        {
            return list[Index - 1];
        }
        else
        {
            return rangemonths[Index - 1];
        }
    }
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ตารางจัดการระบบลงคะแนน</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-warning ml-2" onclick="resetModal()">ปิดระบบลงคะแนนกิจกรรม</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table mb-0" id="list_table_json" name="list_table_json">
                            <thead style="color: #000000">
                                <tr>
                                    <th style="width: auto">ลำดับ</th>
                                    <th style="width: auto">หัวข้อกิจกรรม</th>
                                    <th style="width: auto">ปี</th>
                                    <th style="width: auto">ระยะเวลาวัด</th>
                                    <th style="width: auto">รอบ</th>
                                    <th style="width: auto">ผู้บันทึก</th>
                                    <th style="width: auto">Action</th>
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                @foreach (var (item, index) in Model.MastLockModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        <td>@(index+1)</td>
                                        <td>@item.TypeName</td>
                                        <td>@item.Year</td>
                                        <td>@item.NameTimesAYear</td>
                                        <td>@getText(@StringToInt(item.TimesAYear), @StringToInt(item.Quarter) )</td>
                                        <td>@item.CreateBy</td>
                                        <td>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="confirmDelete(this.id,@index)" data-id=""
                                                    title="ลบ">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="exampleModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ปิดระบบการลงคะแนน</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <input type="hidden" id="HiddenID" />
                            <input type="hidden" id="HiddensetRow" />
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">หัวข้อ<span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="ChooseType" name="ChooseType">
                                        <option value="" selected>Please select</option>
                                        @foreach (var (item, index) in Model.TypeModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.TypeName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ปี<span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="ChooseYear" name="ChooseYear">
                                        <option value="" selected>Please select</option>
                                        @*@foreach (var (item, index) in Model.TypeModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.TypeName</option>
                                        }*@
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ระยะเวลาการวัด <span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="ChooseNameTimesAYear" name="ChooseNameTimesAYear">
                                        <option value="" selected>Please select</option>
                                        @*@foreach (var (item, index) in Model.TypeModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.TypeName</option>
                                        }*@
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">รอบ <span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="ChooseRound" name="ChooseRound">
                                        <option value="" selected>Please select</option>
                                        @*@foreach (var (item, index) in Model.TypeModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.TypeName</option>
                                        }*@
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" onclick="Insert()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("list_table_json");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $(document).ready(function () {
        $('#list_table_json').DataTable({
            //"scrollX": true,
            //"scrollY": true,
            "language": {

                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });
    });

    $('#ChooseType').change(function () {
        // $(this).val() will work here
        let TypeCode = $('#ChooseType').find(":selected").val();
        if (TypeCode == 3) { // แผนปฏิบัติ
            $.ajax({
                type: "POST",
                url: '@Url.Action("FilterYear", "Admin")',
                data: { TypeCode: TypeCode },
                dataType: "json",
                success: function (data) {
                    @*console.log(data)*@
                    if (data["Status"] == "1") {
                        $('#ChooseYear').empty();
                        $('#ChooseNameTimesAYear').empty();
                        $('#ChooseRound').empty();
                        let ElementSelectYear = $('#ChooseYear');
                        let ElementSelectTimeYear = $('#ChooseNameTimesAYear');
                        let ElementSelectRound = $('#ChooseRound');

                        let event_data = '';
                        // ปี
                        for (var index = 0; index < data["Year"].length; index++) {
                            if (index == 0) {
                                event_data += '<option value="' + data["Year"][index].Year + '" selected>' + data["Year"][index].Year + '</option>';
                            }
                            else {
                                event_data += '<option value="' + data["Year"][index].Year + '" >' + data["Year"][index].Year + '</option>';
                            }
                        }
                        ElementSelectYear.append(event_data);

                        // ระยะเวลาการวัด
                        event_data = '';
                        for (var index = 0; index < data["TimesAYears"].length; index++) {
                            if (index == 0) {
                                event_data += '<option value="' + data["TimesAYears"][index].ID + '" selected>' + data["TimesAYears"][index].NameTimesAYear + '</option>';
                            }
                            else {
                                event_data += '<option value="' + data["TimesAYears"][index].ID + '" >' + data["TimesAYears"][index].NameTimesAYear + '</option>';
                            }
                        }
                        ElementSelectTimeYear.append(event_data);

                        // รอบไตรมาส
                        event_data = '';
                        for (var index = 1; index <= 4; index++) {
                            if (index == 1) {
                                event_data += '<option value="' + index + '" selected>' + "ไตรมาส 1" + '</option>';
                            }
                            else {
                                event_data += '<option value="' + index + '" >' + "ไตรมาส 1-" + index + '</option>';

                            }
                        }
                        ElementSelectRound.append(event_data);

                    }
                    else if (data["Status"] == "-99") {
                        location.reload();
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: data["Message"],
                        }).then(function () {

                        });
                    }
                },
                error: function (error) {
                    @*alert(error);*@
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: error["Message"],
                    })
                }
            });
        }
        else {
            $('#ChooseYear').empty().append('<option value="" selected>Please select</option>');
            $('#ChooseNameTimesAYear').empty().append('<option value="" selected>Please select</option>');
            $('#ChooseRound').empty().append('<option value="" selected>Please select</option>');
        }
    });
    @*$('#TopicID').change(function () {
        // $(this).val() will work here
        let TypeCode = $('#TypeID').find(":selected").val();
        let TopicCode = $('#TopicID').find(":selected").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetRunning", "DataManagement")',
            data: { TypeCode: TypeCode ,TopicCode : TopicCode},
            dataType: "json",
            success: function (data) {
                //console.log(data)
                if (data["Status"] == "1") {
                    $('#Running').val( (data["Data"] + 1) );
                }
                else if (data["Status"] == "-99") {
                    location.reload();
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    });*@

    function OpenModal() {
        $('#exampleModalCenter').modal('show');
    }
    function Insert() {
        let ChooseType = $('#ChooseType').find(":selected").val();
        let ChooseYear = $('#ChooseYear').find(":selected").val();
        let ChooseNameTimesAYear = $('#ChooseNameTimesAYear').find(":selected").val();
        let ChooseRound = $('#ChooseRound').find(":selected").val();

        if (ChooseType == "") {
            let notifierCheckbox = document.getElementById("ChooseType");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุหัวข้อ.");
            notifierCheckbox.reportValidity();
            return;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("InsertMastLock", "Admin")',
            data: { TypeID: ChooseType, Year: ChooseYear, TimesAYear: ChooseNameTimesAYear, Round: ChooseRound },
            dataType: "json",
            success: function (data) {
                console.log(data)
                if (data["Status"] == "1") {
                    Swal.fire({
                        title: 'สำเร็จ',
                        text: data["Message"],
                        icon: 'success',
                        confirmButtonText: 'ตกลง',
                    }).then(function () {
                        $('#exampleModalCenter').modal('hide');
                        location.reload();
                    });
                }
                else if (data["Status"] == "-99") {
                    location.reload();
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                @*alert(error);*@
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    }
    function resetModal() {
        $('#ChooseType').val("");
        $('#ChooseYear').empty().append('<option value="" selected>Please select</option>');
        $('#ChooseNameTimesAYear').empty().append('<option value="" selected>Please select</option>');
        $('#ChooseRound').empty().append('<option value="" selected>Please select</option>');

        OpenModal();
    }
    
    
    function confirmDelete(ID,indexRow) {

        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ลบทิ้ง!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteMastLock", "Admin")',
                    data: { ID: ID },
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                            Swal.fire({
                                title: 'ลบแล้ว!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {
                                $('#exampleModalCenter').modal('hide');
                                location.reload();
                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }

</script>