﻿@using iPMS.Models.SessionModel
@using iPMS.Models 
@{
    var messageInfo = iPMS.Helper.MessageManager.GetMessage();
    var Employee = this.Session["UserProfile"] as UserProfileSessionData;
}
@functions{
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>iPMS</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Repository/Template/images/logo.png">
    <!-- Favicon icon -->
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link rel="stylesheet" href="~/Repository/Template/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Repository/Template/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="~/Repository/Template/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">

    <link href="~/Repository/Template/css/style-loading.css" rel="stylesheet">

    <link href="~/Repository/Template/css/style.css" rel="stylesheet">

    <link href="~/Repository/Template/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Repository/Template/a.css" rel="stylesheet">

    <!-- DataTable FixColumns -->
    <link href="~/Repository/Template/DataTableFixColumns.min.css" rel="stylesheet">


    <!--**********************************
        Scripts
    ***********************************-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="@Url.Action("Index", "Home")" class="brand-logo">
                <img class="logo-abbr" src="~/Repository/Template/images/logo.png" alt="">
                <img class="logo-compact" src="~/Repository/Template/images/logo-text.png" alt="">
                <img class="brand-title" src="~/Repository/Template/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            @*<div class="search_bar dropdown">
                                    <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                        <i class="mdi mdi-magnify"></i>
                                    </span>
                                    <div class="dropdown-menu p-0 m-0">
                                        <form>
                                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                        </form>
                                    </div>
                                </div>*@
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="card-body px-0">
                                        <div class="todo-list">
                                            <div class="tdl-holder">
                                                <div class="tdl-content widget-todo mr-4 ps ps--active-y">
                                                    <ul class="list-unstyled">
                                                        @*@foreach (var std in ViewData["Notification"] as IList<RawDataSectionModel>)
                                                        {
                                                            <li class="media dropdown-item">
                                                                <span class="success"><i class="ti-user"></i></span>
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <p>
                                                                            <strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                                        </p>
                                                                    </a>
                                                                </div>
                                                                <span class="notify-time">3:20 am</span>
                                                            </li>
                                                        }*@
                                                    </ul>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <a class="" href="#" style=" display: block; text-align: center;">
                                        See all notifications <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="user-avatar rounded-circle" src="https://pictureapi.pea.co.th/MyphotoAPI/api/v1/Main/GetPicImg?EmpCode=@(Employee.Username)" alt="User Avatar">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="@Url.Action("About", "Home")" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    @*<a href="#" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>*@
                                    @using (Html.BeginForm("SignOut", "Home", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="icon-key"></i>
                                            <span class="ml-2">ออกจากระบบ </span>
                                        </a>
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    @*https://www.flaticon.com/search*@
                    <li class="nav-label first">เมนูหลัก</li>
                    <li>
                        <a href="@Url.Action("Index", "Home")" aria-expanded="false">
                            <i class=""><img src="~/Repository/Template/iconImg/Dashboard.png" /></i><span class="nav-text">แดชบอร์ด</span>
                        </a>
                    </li>

                    @* PMS *@
                    <li class="nav-label">กิจกรรม</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class=""><img src="~/Repository/Template/iconImg/PMS.png" /></i><span class="nav-text">PMS</span>
                        </a>
                        <ul aria-expanded="false">

                            <li>
                                <a href="@Url.Action("Index", "Home")" aria-expanded="false">
                                    <i class=""><img src="~/Repository/Template/iconImg/Dashboard.png" /></i><span class="nav-text">แดชบอร์ด</span>
                                </a>
                            </li>

                            @if ((@StringToInt(Employee.PMSPermissionCode) <= 30 && @StringToInt(Employee.PMSPermissionCode) >= 0)
                                || Employee.PositionDescShort == "ชก."
                                || Employee.PositionDescShort == "รก."
                                || Employee.PositionDescShort == "อก."
                                || Employee.PositionDescShort == "รฝ."
                                || Employee.PositionDescShort == "อฝ."
                                || Employee.PositionDescShort == "ผชก.")
                            {
                                <li>
                                    <a href="@Url.Action("ViewAssistant", "PMSReportResult")" aria-expanded="false">
                                        <i class=""><img src="~/Repository/Template/iconImg/research.png" /></i><span class="nav-text">PMS กฟก.2 (ผชก.(ก2))</span>
                                    </a>
                                </li>
                            }
                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class=""><img src="~/Repository/Template/iconImg/Definition.png" /></i><span>PMS กฟฟ.</span>
                                </a>
                                <ul aria-expanded="false">
                                    @if (Employee.BaCode == "H000")
                                    {
                                        <li><a href='@Url.Action("viewCEO", "PMSReportResult")'>1. กฟจ.(CEO)</a></li>
                                        <li><a href='@Url.Action("viewSizeLM", "PMSReportResult")'>2. กฟส. Size L,M</a></li>
                                        <li><a href='@Url.Action("viewSizeS", "PMSReportResult")'>3. กฟส. Size S</a></li>
                                        <li><a href='@Url.Action("viewSizeXs", "PMSReportResult")'>4. กฟส. Size XS</a></li>
                                    }
                                    else if (Employee.IDPEA == "2")
                                    {
                                        <li><a href='@Url.Action("viewCEO", "PMSReportResult")'>1. กฟจ.(CEO)</a></li>
                                    }
                                    else if (Employee.IDPEA == "3")
                                    {
                                        <li><a href='@Url.Action("viewSizeLM", "PMSReportResult")'>2. กฟส. Size L,M</a></li>
                                    }
                                    else if (Employee.IDPEA == "4")
                                    {
                                        <li><a href='@Url.Action("viewSizeS", "PMSReportResult")'>3. กฟส. Size S</a></li>
                                    }
                                    else if (Employee.IDPEA == "5")
                                    {
                                        <li><a href='@Url.Action("viewSizeXs", "PMSReportResult")'>4. กฟส. Size XS</a></li>
                                    }
                                </ul>
                            </li>

                            @*<li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class=""><img src="~/Repository/Template/iconImg/ReportResult.png" /></i><span class="">PMS ผจก.</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a href='@Url.Action("Target", "ActionPlan")'>1. กฟจ.(CEO)</a></li>
                                    <li><a href='@Url.Action("Customer", "ActionPlan")'>2. กฟส. Size L,M</a></li>
                                    <li><a href='@Url.Action("Internal", "ActionPlan")'>3. กฟส. Size S</a></li>
                                    <li><a href='@Url.Action("LearningAndDevelopment", "ActionPlan")'>4. กฟส. Size XS</a></li>
                                </ul>
                            </li>*@

                            <li>
                                <a href="@Url.Action("Index", "PMSPerformanceAnalysis")" aria-expanded="false">
                                    <i class=""><img src="~/Repository/Template/iconImg/Analysis.png" /></i><span class="nav-text">คำจำกัดความ PMS</span>
                                </a>
                            </li>
                            
                            @if (@StringToInt(Employee.PMSPermissionCode) <= 30 && @StringToInt(Employee.PMSPermissionCode) >= 0)
                            {
                                <li>
                                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                        <i class=""><img src="~/Repository/Template/iconImg/ReportResult.png" /></i><span class="">ประเมินผลการดำเนินงาน</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href='@Url.Action("Assistant", "PMSReportResult")'>1. กฟก.2 (ผชก.(ก2))</a></li>
                                        <li><a href='@Url.Action("EvaluateCEO", "PMSReportResult")'>2. กฟจ.(CEO)</a></li>
                                        <li><a href='@Url.Action("EvaluateLM", "PMSReportResult")'>3. กฟส. Size L,M</a></li>
                                        <li><a href='@Url.Action("EvaluateS", "PMSReportResult")'>4. กฟส. Size S</a></li>
                                        <li><a href='@Url.Action("EvaluateXS", "PMSReportResult")'>5. กฟส. Size XS</a></li>
                                    </ul>
                                </li>
                            }
                            

                            @if (@StringToInt(Employee.PMSPermissionCode) <= 10 && @StringToInt(Employee.PMSPermissionCode) >= 0)
                            {
                                <li>
                                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                        <i class=""><img src="~/Repository/Template/iconImg/DataManage.png" /></i><span class="">จัดการข้อมูล</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href='@Url.Action("Activity", "PMSDataManagement")'>1. กำหนดกิจกรรม</a></li>
                                        <li><a href='@Url.Action("Archive", "PMSDataManagement")'>2. อัปโหลดไฟล์</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>

                    @* แผนปฏิบัติการ *@
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class=""><img src="~/Repository/Template/iconImg/AP.png" /></i><span class="nav-text">แผนปฏิบัติการ</span>
                        </a>
                        <ul aria-expanded="false">
                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class=""><img src="~/Repository/Template/iconImg/Definition.png" /></i><span>นิยามแผนปฏิบัติการ</span>
                                </a>
                                <ul aria-expanded="false">
                                    @*<li><a href='@Url.Action("SocietyAndEnvironment", "ActionPlan")'>1. ด้าน สังคมและสิ่งแวดล้อม</a></li>*@
                                    <li><a href='@Url.Action("Target", "ActionPlan")'>1. ด้านเป้าหมาย</a></li>
                                    <li><a href='@Url.Action("Customer", "ActionPlan")'>2. ด้านลูกค้า</a></li>
                                    <li><a href='@Url.Action("Internal", "ActionPlan")'>3. ด้านกระบวนการภายใน</a></li>
                                    <li><a href='@Url.Action("LearningAndDevelopment", "ActionPlan")'>4. ด้านเรียนรู้และพัฒนา</a></li>
                                </ul>
                            </li>

                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class=""><img src="~/Repository/Template/iconImg/ReportResult.png" /></i><span class="">รายงานผล</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li>@*<a href='@Url.Action("SocietyAndEnvironment", "ReportResults")'>1. ด้าน สังคมและสิ่งแวดล้อม</a>*@</li>
                                    <li><a href='@Url.Action("Target", "ReportResults")'>1. ด้านเป้าหมาย</a></li>
                                    <li><a href='@Url.Action("Customer", "ReportResults")'>2. ด้านลูกค้า</a></li>
                                    <li><a href='@Url.Action("Internal", "ReportResults")'>3. ด้านกระบวนการภายใน</a></li>
                                    <li><a href='@Url.Action("LearningAndDevelopment", "ReportResults")'>4. ด้านเรียนรู้และพัฒนา</a></li>
                                </ul>
                            </li>

                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class=""><img src="~/Repository/Template/iconImg/Analysis.png" /></i><span class="">วิเคราะห์ผลดำเนินงาน</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a href='@Url.Action("Index", "PerformanceAnalysis")'>1. รายงานวิเคราะห์</a></li>
                                </ul>
                            </li>

                            @* เมนูการรับทราบผลการดำเนินงาน ผจก. , อก. ที่เป็นผู้รับผิดชอบ *@
                            @if ((@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0)
                                || (@StringToInt(Employee.PermissionCode) <= 50 && @StringToInt(Employee.PermissionCode) >= 40))
                            {
                                <li>
                                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                        <i class=""><img src="~/Repository/Template/iconImg/Executive.png" /></i><span class="">ผลดำเนินงาน</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        <li><a href='@Url.Action("Acknowledge", "Executive")'>1. รับทราบผลดำเนินงาน</a></li>
                                    </ul>
                                </li>
                            }

                            @if (@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0)
                            {
                                <li>
                                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                        <i class=""><img src="~/Repository/Template/iconImg/DataManage.png" /></i><span class="">จัดการข้อมูล</span>
                                    </a>
                                    <ul aria-expanded="false">
                                        @*<li><a href='@Url.Action("Index", "DataManagement")'>1. หัวข้อแผน</a></li>*@
                                        <li><a href='@Url.Action("Activity", "DataManagement")'>1. หัวข้อกิจกรรม</a></li>
                                        <li><a href='@Url.Action("Archive", "DataManagement")'>2. อัปโหลดไฟล์</a></li>
                                        @*<li><a href='@Url.Action("Index", "DataManagement")'>3. นิยาม</a></li>*@
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>


                    <li class="nav-label first">แจ้งปัญหา</li>
                    <li>
                        <a href="@Url.Action("Index", "ReportProblem")" aria-expanded="false">
                            <i class=""><img src="~/Repository/Template/iconImg/Bug.png" /></i><span class="nav-text">แจ้งปัญหาที่พบ</span>
                        </a>
                    </li>
                    @*@if (@StringToInt(Employee.PermissionCode) == 1)
        {*@
                    <li>
                        <a href="@Url.Action("ProblemStatus", "ReportProblem")" aria-expanded="false">
                            <i class=""><img src="~/Repository/Template/iconImg/BugStatus.png" /></i><span class="nav-text">สถานะปัญหา</span>
                        </a>
                    </li>
                    @*}*@

                    @if (@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0)
                    {
                        <li class="nav-label first">ระบบงานแอดมิน</li>
                        <li>
                            <a href="@Url.Action("Index", "Admin")" aria-expanded="false">
                                <i class=""><img src="~/Repository/Template/iconImg/users.png" /></i><span class="nav-text">จัดการสิทธิ์</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ManagementSystem", "Admin")" aria-expanded="false">
                                <i class="fa fa-wpforms"></i><span class="nav-text">จัดการระบบลงคะแนน</span>
                            </a>
                        </li>
                    }

                    @if (@StringToInt(Employee.PermissionCode) == 1)
                    {
                        <li class="nav-label first">ระบบงานผู้พัฒนา</li>
                        <li>
                            <a href="@Url.Action("Index", "Developer")" aria-expanded="false">
                                <i class="fa fa-wpforms"></i><span class="nav-text">ลบหัวข้อกิจกรรม</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ManagementSystem", "Developer")" aria-expanded="false">
                                <i class="fa fa-wpforms"></i><span class="nav-text">ตรวจสอบ</span>
                            </a>
                        </li>
                    }

                    <li class="nav-label first">คู่มือการใช้งาน</li>
                    <li>
                        <a href="@Url.Action("Index", "WorkManual")" aria-expanded="false">
                            <i class=""><img src="~/Repository/Template/iconImg/Manual.png" /></i><span class="nav-text">คู่มือ</span>
                        </a>
                    </li>

                    @*<li class="nav-label">Apps</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon icon-app-store"></i><span class="nav-text">Apps</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./app-profile.html">Profile</a></li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                    <ul aria-expanded="false">
                        <li><a href="./email-compose.html">Compose</a></li>
                        <li><a href="./email-inbox.html">Inbox</a></li>
                        <li><a href="./email-read.html">Read</a></li>
                    </ul>
                </li>
                <li><a href="./app-calender.html">Calendar</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon icon-chart-bar-33"></i><span class="nav-text">Charts</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./chart-flot.html">Flot</a></li>
                <li><a href="./chart-morris.html">Morris</a></li>
                <li><a href="./chart-chartjs.html">Chartjs</a></li>
                <li><a href="./chart-chartist.html">Chartist</a></li>
                <li><a href="./chart-sparkline.html">Sparkline</a></li>
                <li><a href="./chart-peity.html">Peity</a></li>
            </ul>
        </li>
        <li class="nav-label">Components</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon icon-world-2"></i><span class="nav-text">Bootstrap</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./ui-accordion.html">Accordion</a></li>
                <li><a href="./ui-alert.html">Alert</a></li>
                <li><a href="./ui-badge.html">Badge</a></li>
                <li><a href="./ui-button.html">Button</a></li>
                <li><a href="./ui-modal.html">Modal</a></li>
                <li><a href="./ui-button-group.html">Button Group</a></li>
                <li><a href="./ui-list-group.html">List Group</a></li>
                <li><a href="./ui-media-object.html">Media Object</a></li>
                <li><a href="./ui-card.html">Cards</a></li>
                <li><a href="./ui-carousel.html">Carousel</a></li>
                <li><a href="./ui-dropdown.html">Dropdown</a></li>
                <li><a href="./ui-popover.html">Popover</a></li>
                <li><a href="./ui-progressbar.html">Progressbar</a></li>
                <li><a href="./ui-tab.html">Tab</a></li>
                <li><a href="./ui-typography.html">Typography</a></li>
                <li><a href="./ui-pagination.html">Pagination</a></li>
                <li><a href="./ui-grid.html">Grid</a></li>

            </ul>
        </li>

        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon icon-plug"></i><span class="nav-text">Plugins</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./uc-select2.html">Select 2</a></li>
                <li><a href="./uc-nestable.html">Nestedable</a></li>
                <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                <li><a href="./uc-toastr.html">Toastr</a></li>
                <li><a href="./map-jqvmap.html">Jqv Map</a></li>
            </ul>
        </li>
        <li>
            <a href="widget-basic.html" aria-expanded="false">
                <i class="icon icon-globe-2"></i><span class="nav-text">Widget</span>
            </a>
        </li>
        <li class="nav-label">Forms</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon icon-form"></i><span class="nav-text">Forms</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="@Url.Action("Index", "ETL")">Form Elements</a></li>
                <li><a href="./form-wizard.html">Wizard</a></li>
                <li><a href="./form-editor-summernote.html">Summernote</a></li>
                <li><a href="form-pickers.html">Pickers</a></li>
                <li><a href="form-validation-jquery.html">Jquery Validate</a></li>
            </ul>
        </li>
        <li class="nav-label">Table</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon icon-layout-25"></i><span class="nav-text">Table</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                <li><a href="table-datatable-basic.html">Datatable</a></li>
            </ul>
        </li>

        <li class="nav-label">Extra</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./page-register.html">Register</a></li>
                <li><a href="./page-login.html">Login</a></li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                    <ul aria-expanded="false">
                        <li><a href="./page-error-400.html">Error 400</a></li>
                        <li><a href="./page-error-403.html">Error 403</a></li>
                        <li><a href="./page-error-404.html">Error 404</a></li>
                        <li><a href="./page-error-500.html">Error 500</a></li>
                        <li><a href="./page-error-503.html">Error 503</a></li>
                    </ul>
                </li>
                <li><a href="./page-lock-screen.html">Lock Screen</a></li>
            </ul>
        </li>*@
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            @RenderBody()
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                @*<p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
                    <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>*@
                <p>ผู้ดูแลระบบ นาย จักรพันธ์ สุเฌอ รก.รท.(ก2) เบอร์โทรศัพท์ (32)10352</p>
                <p>ผู้พัฒนาระบบ นาย ณัฐพล คุ้มไม้ ผสจ.กรท.(ก2) เบอร์โทรศัพท์ (32)10365</p>
                <p>ผู้พัฒนาระบบ นางสาว อมลวรรณ พิสุทธิไพศาล ผสจ.กรท.(ก2) เบอร์โทรศัพท์ (32)10365</p>
                <p>ผู้พัฒนาระบบ นาย รัฐพล สัมพันธ์สุวรรณ ผสจ.กรท.(ก2) เบอร์โทรศัพท์ (32)10365</p>
                <p>ผู้พัฒนาระบบ นางสาว กนกพรรณ ขันทอง ผสบ.กรท.(ก2) เบอร์โทรศัพท์ (32)10363</p>

            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
        <!--**********************************
           Support ticket button start
        ***********************************-->
        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="minutes">00</label>
                    <label id="colon">:</label>
                    <label id="seconds">00</label>
                </div>

                <div class="modal-footer">
                    <h1 class="title">Loading</h1>
                    <div class="rainbow-marker-loader"></div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Repository/Template/vendor/global/global.min.js"></script>
    <script src="~/Repository/Template/js/quixnav-init.js"></script>
    <script src="~/Repository/Template/js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="~/Repository/Template/vendor/raphael/raphael.min.js"></script>
    <script src="~/Repository/Template/vendor/morris/morris.min.js"></script>


    <script src="~/Repository/Template/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Repository/Template/vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="~/Repository/Template/vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="~/Repository/Template/vendor/flot/jquery.flot.js"></script>
    <script src="~/Repository/Template/vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="~/Repository/Template/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="~/Repository/Template/vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="~/Repository/Template/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="~/Repository/Template/vendor/jquery.counterup/jquery.counterup.min.js"></script>

    <script src="~/Repository/Template/js/dashboard/dashboard-1.js"></script>

    <!-- Sweetalert -->
    <script src="~/Repository/Template/SweetAlert/sweetalert.min.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <!-- Datatable -->
    <script src="~/Repository/Template/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Repository/Template/js/plugins-init/datatables.init.js"></script>
    <script src="~/Repository/Template/b.js"></script>

    <!-- Datatable FixColumns -->
    <script src="~/Repository/Template/DataTableFixColumns.js"></script>


    <script>
        $(document).ready(function () {
            let message = '@(messageInfo?.Message)';
            let messageType = '@(messageInfo?.IsSuccess == (bool?)true ? "success": "error")';

            if (message) {
                Swal.fire(messageType,  message, messageType);
            }

            $('.li-logout').each(function () {
                var t = $(this);
                t.css('width', $('li:eq(0)').outerWidth(true) );
            });
        });
    </script>
</body>

</html>