﻿@using iPMS.Models.SessionModel
@model iPMS.Models.ViewReportProblemModel
@{
    var messageInfo = iPMS.Helper.MessageManager.GetMessage();
    var Employee = this.Session["UserProfile"] as UserProfileSessionData;
}
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }
}
<link href="~/Repository/Template/spinner.css" rel="stylesheet">

<style>
    .btn-outline-danger:hover {
        background-color: white;
        color: #FF1616;
    }

    .btn-outline-success:hover {
        background-color: white;
        color: #7ED321;
    }

    .btn-outline-secondary {
        border-color: #6c757d;
        color: #6c757d;
    }

        .btn-outline-secondary:hover {
            background-color: white;
            color: #6c757d;
        }

    .btn-outline-warning:hover {
        background-color: white;
        color: #FFAA16;
    }
</style>
<div class="container-fluid">

    <div class="row page-titles mx-0">
        <div class="col-sm-12 p-md-0">
            <div class="welcome-text">
                <div class="text-center mb-4">
                    <h4>
                        แจ้งปัญหา
                    </h4>
                </div>
            </div>
        </div>
        <div class="card-body" style="margin-left:10px">
            <div class="basic-form">
                <form>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>ชื่อ </label>
                            <label class="form-control" id="Name">@Employee.TitleFullName @Employee.FirstName @Employee.LastName</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label>รหัสพนักงาน </label>
                            <label class="form-control" id="EmployeeID">@Employee.Username</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label>สังกัด </label>
                            <label class="form-control" id="BAName">@Employee.BaName</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label>แผนก </label>
                            <label class="form-control" id="Department">@ViewData["Department"]</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label>เบอร์ติดต่อ </label><span class="text-danger"> *</span>
                            <input type="text" class="form-control" id="Tel" maxlength="50" placeholder="ตัวอย่าง 10365" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>เรื่อง</label><span class="text-danger"> *</span>
                            <select id="Title" class="form-control">
                                <option value="" selected></option>
                                @foreach (var (item, index) in Model.SectionModelLists.Select((value, i) => (value, i)))
                                {
                                    <option value="@item.ID">@item.Title</option>
                                }
                                @*<option selected value="0">ปัญหาโปรแกรม</option>*@
                            </select>
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>รายละเอียด</label><span class="text-danger"> *</span>
                            <textarea class="form-control" id="Details" name="Details" rows="3" placeholder="" maxlength="500"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="Insert()">ยืนยัน</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    
    $(document).ready(function () {
        
    });

    function Insert() {
        let Name = $("#Name").text();
        @*let Result = $('input[name="Result"]:checked').val();*@
        let EmployeeID = $("#EmployeeID").text();
        let BAName = $("#BAName").text();
        let Department = $("#Department").text();
        let Tel = $("#Tel").val();
        let Title = $("#Title").val();
        let TitleText = $("#Title option:selected").text();
        let Details = $("#Details").val();
        
        
        if (!Tel) { // เช็ค
            let notifierCheckbox = document.getElementById("Tel");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดกรอกเบอร์ติดต่อ เพื่อให้แอดมินสามารถติดต่อกลับได้.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (!Title) { // เช็ค
            let notifierCheckbox = document.getElementById("Title");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือก เรื่องที่ต้องการจะแจ้ง.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (!Details) { // เช็ค
            let notifierCheckbox = document.getElementById("Details");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุรายละเอียด.");
            notifierCheckbox.reportValidity();
            return;
        }

        var formData = new FormData();
        formData.append("Name", Name);
        formData.append("EmployeeID", EmployeeID);
        formData.append("BAName", BAName);
        formData.append("Department", Department);
        formData.append("Tel", Tel);
        formData.append("Title", Title); 
        formData.append("TitleText", TitleText);
        formData.append("Details", Details);

        $.ajax({
            url: "@Url.Action("Insert", "ReportProblem")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
                @*$("#BtnSave").attr("disabled", true);*@
            },
            success: function (data) {
                console.log(data);
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        @*resetLabelAndBtn();*@
                    });
                }
                else if (data["Status"] == "1") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        @*$('#exampleModalCenter').modal('hide');*@
                        location.reload();
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'ไม่สามารถบันทึกได้',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
            }
        });
    }
</script>
