﻿@using iPMS.Models.SessionModel
@model iPMS.Models.ViewReportProblemModel
@{
    var messageInfo = iPMS.Helper.MessageManager.GetMessage();
    var Employee = this.Session["UserProfile"] as UserProfileSessionData;
}
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="">สถานะแจ้งปัญหา</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table mb-0" id="list_table_json" name="list_table_json">
                            <thead style="color: #000000">
                                <tr>
                                    <th style="width: 150px">วันที่แจ้งปัญหา</th>
                                    <th style="width: 150px">ปัญหา</th>
                                    <th style="width: 300px">รายละเอียด</th>
                                    <th style="width: 200px">สถานะ</th>
                                    <th style="width: 100px">ผู้รับผิดชอบล่าสุด</th>
                                    <th style="width: 200px">หมายเหตุ</th>
                                    @if (@StringToInt(Employee.PermissionCode) >= 0 && @StringToInt(Employee.PermissionCode) <= 10)
                                    {
                                        <th style="width: 50px"></th>
                                    }

                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                @foreach (var (item, index) in Model.ReportProblemModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        <td>@item.DateTime.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@item.TitleDesc</td>
                                        <td>@item.Details</td>
                                        <td>@item.Describetion</td>
                                        <td>@item.Responsible</td>
                                        <td>@item.Note</td>
                                        @if (@StringToInt(Employee.PermissionCode) >= 0 && @StringToInt(Employee.PermissionCode) <= 10)
                                        {
                                            <td>
                                                @if(item.Complete != "1")
                                                {
                                                    <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                        onclick="OpenModal(this.id,@index)" data-id=""
                                                        title="ตรวจสอบ">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                        </svg>
                                                    </button>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="exampleModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">อัปเดตสถานะ</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <input type="hidden" id="HiddenID" />
                            <input type="hidden" id="HiddensetRow" />

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="color:black">สถานะ<span class="text-danger"> * </span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="Status" name="Status">
                                        <option value="" selected>Please select</option>
                                        @foreach (var (item, index) in Model.ReportProblemStatusModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID" data-year="@item.IsTransfer" data-third="@item.Complete" >@item.Describetion</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row" id="HiddenNote">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="Note" class="col-form-label" style="color:black">หมายเหตุ </label>
                                        <textarea class="form-control" id="Note" maxlength="200" style="color:black"></textarea>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" onclick="Insert()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#list_table_json').DataTable({
            //"scrollX": true,
            //"scrollY": true,
            "language": {

                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });
        if (@Employee.IsLogin != "1") {
            location.reload();
        }

    });
    function OpenModal(ID, index) {
        $('#HiddenID').val(ID);
        $('#HiddensetRow').val(index);
        $('#Status').val('');
        $('#exampleModalCenter').modal('show');
    }
    function Insert() {
        let Status = $("#Status").val();
        let IsTransfer = $('#Status').find(':selected').data("year");
        let Complete = $('#Status').find(':selected').data("third");
        let Note = $("#Note").val();
        let ID = $('#HiddenID').val();
        let rowIndex = $('#HiddensetRow').val();

        if (!Status) { // เช็ค
            let notifierCheckbox = document.getElementById("Status");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือกสถานะที่ต้องการอัปเดต.");
            notifierCheckbox.reportValidity();
            return;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateStatus", "ReportProblem")',
            data: { ID: ID, Status: Status, IsTransfer: IsTransfer, Note: Note },
            dataType: "json",
            success: function (data) {
                @*console.log(data);*@

                if(data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                    @*$('#Report').val(data["Data"][0].Report);
                    $('#PerformanceText').val(data["Data"][0].PerformanceText);
                    $('#PerformanceText2').val(data["Data"][0].PerformanceText2);*@

                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {

                        // ดึง Datatable มาอัปเดต หน้าต่างข้อมูล
                        var table = $('#list_table_json').DataTable();
                        var idx = table
                            .row(rowIndex)
                            .index();
                        @* table.cell(idx, 1).data(BA).draw();
                        table.cell(idx, 2).data(Agency).draw();*@

                        table.cell(idx, 3).data($("#Status option:selected").text()).draw();
                        table.cell(idx, 4).data(data["User"]).draw();
                        if (Complete == "1") {
                            table.cell(idx, 5).data('').draw();
                        }
                        @* table.cell(idx, 4).data(IPAddress).draw();*@
                        @* location.reload();*@

                        $("#Status").val('');
                        $("#Note").val('');

                        $('#exampleModalCenter').modal('hide');
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    }
</script>