﻿@model iPMS.Models.ViewActivityDataManagement
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
}
<style>
    ul.ks-cboxtags {
        list-style: none;
        /*padding: 20px;*/
    }

    ul.ks-cboxtags li {
        display: block;
    }

    ul.ks-cboxtags li label {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.8);
        font-size: 18px;
        border-radius: 4px;
        white-space: nowrap;
        margin: 0 0 10px 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        display: block;
    }

    ul.ks-cboxtags li label {
        padding: 10px 20px;
        cursor: pointer;
    }

    ul.ks-cboxtags li label::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "FontAwesome";
        font-weight: 900;
        font-size: 24px;
        padding: 0;
        /*margin-right: 15px;*/
        content: "\f1db";
        color: rgba(0, 0, 0, 0.2);
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        position: absolute;
        right: 40px;
        margin-top: -5px;
    }

    ul.ks-cboxtags li label span {
        background: #f9e090;
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 30px;
        color: #fff;
        margin-left: 10px;
    }

    ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
        content: "\f058";
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        color: #fff;
    }

    ul.ks-cboxtags li input[type="checkbox"]:checked + label {
        border: 1px solid #c400c6;
        background-color: #c400c6;
        color: #fff;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

        ul.ks-cboxtags li input[type="checkbox"]:checked + label span {
            background: #fff;
            color: #000;
        }

    ul.ks-cboxtags li input[type="checkbox"] {
        display: absolute;
    }

    ul.ks-cboxtags li input[type="checkbox"] {
        position: absolute;
        opacity: 0;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ตารางมาสเตอร์หัวข้อกิจกรรม</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-warning ml-2" onclick="resetModal()">เพิ่มหัวข้อกิจกรรม</button>
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-12">
                        <input id="myInput" onkeyup="myFunction()" />
                    </div>

                </div>

                <div class="card-body">
                    <div class="col-2">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Small</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>*@

                <div class="card-body">
                    <div class="table-responsive">
                        <input type="hidden" id="HiddenCountRow" name="HiddenCountRow" value="@Model.ActivityModelLists.Count">
                        <table class="table mb-0" id="list_table_json" name="list_table_json">
                            <thead style="color: #000000">
                                <tr>
                                    <th style="width: auto">ประเภทการวัด</th>
                                    <th style="width: auto">ชื่อผู้รับผิดชอบ</th>
                                    <th style="width: auto">ด้านการวัด</th>
                                    <th style="width: auto">ลำดับ</th>
                                    <th style="width: auto">แผนงาน</th>
                                    <th style="width: auto">กิจกรรม</th>
                                    <th style="width: auto">ไฟล์เอกสาร</th>
                                    <th style="width: auto">Action</th>
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                @foreach (var (item, index) in Model.ActivityModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        @*<input type="hidden" id="HiddenKey-@item.UserId" name="HiddenKey-@item.UserId" value="@item.Id">
                                        <input type="hidden" id="Hidden-@item.UserId" name="Hidden-@item.UserId" value="@index">*@
                                        <input type="hidden" id="HiddenID-@index" name="HiddenID-@index" value="@item.ID">
                                        <input type="hidden" id="HiddensetRow-@index" name="HiddensetRow-@index" value="@index">
                                        <input type="hidden" id="HiddenRow-@item.ID" name="Hidden-@item.ID" value="@index">
                                        <td>@item.TypeName</td>
                                        <td>@item.AssessorDepartment</td>
                                        <td>@item.TopicName</td>
                                        <td>@item.Running</td>
                                        <td>@item.Plans</td>
                                        <td>@item.SectionName</td>
                                        <td>
                                            @if (@item.TargetFile != "")
                                            {
                                                <a class="btn" href="~/Repository/PDF/MastActivity/@item.TargetFile?@GenerateMath()" 
                                                   target="_blank" title="ไฟล์เอกสาร">
                                                    <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline" 
                                                    onclick="transfer(this.id)" data-id="" 
                                                    title="ระบุการไฟฟ้า" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                                </svg>
                                            </button>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline" 
                                                    onclick="confirmEdit(this.id,@index)" data-id=""
                                                    title="แก้ไขมาสเตอร์">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                </svg>
                                            </button>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline" 
                                                    onclick="confirmDelete(this.id,@index)" data-id=""
                                                    title="ลบมาสเตอร์">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="exampleModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">เพิ่มหัวข้อกิจกรรม</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <input type="hidden" id="HiddenID" />
                            <input type="hidden" id="HiddensetRow" />
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">ผู้รับผิดชอบ<span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="CostCenterID" name="CostCenterID">
                                        <option value="" selected>Please select</option>
                                        @foreach (var (item, index) in Model.CostCenterModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.CostCenterName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">ประเภทของการวัด<span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="TypeID" name="TypeID">
                                        @foreach (var (item, index) in Model.TypeModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID" selected>@item.TypeName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" >@*id="HideTopic" style="display:none"*@
                                <label class="col-sm-3 col-form-label">ด้าน<span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="TopicID" name="TopicID">
                                        <option value="" selected>Please select</option>
                                        @foreach (var (item, index) in Model.TopicModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.TopicName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">หมายเลขข้อ <span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="" id="Running" name="Running" value="@(Model.ActivityModelLists.Count+1)">
                                </div>
                            </div>

                            <div class="form-group row" >@*id="HidePlans" style="display:none"*@
                                <label class="col-sm-3 col-form-label">แผนงาน <span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="" id="Plans" name="Plans" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">ชื่อเกณฑ์วัด <span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="" id="SectionName" name="SectionName" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">เป้าหมาย <span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="Target" name="Target"
                                              rows="3" placeholder="" maxlength="500"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    ไฟล์เป้าหมาย
                                    <span id="ModalSpanFiles" style="display:none">
                                        <input type="hidden" id="HiddenFileName" />
                                        <a class="btn" href="" id="HiddenFile"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                        </a>
                                    </span>
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">อัปโหลด</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="PostedFile" name="PostedFile"
                                                   accept="application/pdf">
                                            <label class="custom-file-label" for="PostedFile" data-browse="เรียกดู" id="textFile">เลือกไฟล์</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">คำนิยาม </label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="Define" name="Define"
                                              rows="3" placeholder="" maxlength="200"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">รอบการรายงาน/ความถี่ </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="" id="Frequency" name="Frequency" maxlength="100">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">รอบการตัดข้อมูล </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="" id="CuttingCycle" name="CuttingCycle" maxlength="100">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">ผู้ประเมิน (แผนก) <span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="" id="AssessorDepartment" name="AssessorDepartment" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">หน่วยงานที่ถูกประเมิน (ระดับกอง) <span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="" id="AssessedDivision" name="AssessedDivision" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">หน่วยงานที่ถูกประเมิน (ระดับ กฟฟ.) <span class="text-danger"> * </span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="" id="AssessedPEA" name="AssessedPEA" maxlength="100">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" onclick="Insert()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TransferModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">โอนหัวข้อกิจกรรม</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <input type="hidden" id="HiddenTransferID" />

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ปีที่วัดการประเมิน<span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="Year" name="Year">
                                        @*<option value="">Please select</option>*@
                                        @foreach (var (item, index) in Model.YearsModelLists.Select((value, i) => (value, i)))
                                        {
                                            if (DateTime.Now.Year.ToString() == item.Year)
                                            {
                                                <option value="@item.Year" selected>@item.Year</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Year">@item.Year</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ระบุการไฟฟ้า<span class="text-danger"> * </span></label>
                                @*<div class="col-sm-7"></div>
                                <div class="col-sm-5"></div>*@
                                <div class="col-sm-7">
                                    <ul class="ks-cboxtags">
                                        <input type="hidden" value="@Model.MastPEAModelLists.Count">
                                        @foreach (var (item, index) in Model.MastPEAModelLists.Select((value, i) => (value, i)))
                                        {
                                            <li>
                                                <input type="checkbox" name="GroupPEAGroup" id="PEAGroup-@(index+1)" value="@item.ID">
                                                <label for="PEAGroup-@(index+1)">@item.PEAGroup</label>
                                            </li>
                                        }
                                        @*<li>
                                            <input type="checkbox" id="checkboxThree" value="Order Two">
                                            <label for="checkboxThree">Followers <span>1,189</span></label>
                                        </li>*@
                                    </ul>
                                    @*<select class="form-control" id="PEAGroup" name="PEAGroup">
                                        <option value="" selected>Please select</option>
                                        @foreach (var (item, index) in Model.MastPEAModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.PEAGroup</option>
                                        }
                                    </select>*@
                                </div>
                            </div>

                            @*<div class="form-group row">
                                <label class="col-sm-5 col-form-label">ระบุส่วนงาน<span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="SegmentID" name="SegmentID">
                                        @foreach (var (item, index) in Model.MastSegmentModelLists.Select((value, i) => (value, i)))
                                        {
                                            if (item.SegmentID == "0")
                                            {
                                                <option value="@item.SegmentID" selected>@item.SegmentName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.SegmentID">@item.SegmentName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>*@

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ขอบเขตการวัด<span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="NameTimesAYear" name="NameTimesAYear">
                                        @*<option value="" selected>Please select</option>*@
                                        @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID" selected>@item.NameTimesAYear</option>
                                        }
                                    </select>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" onclick="InsertTransfer()" id="SaveTransfer">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("list_table_json");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $(document).ready(function () {
        $('#list_table_json').DataTable({
            //"scrollX": true,
            //"scrollY": true,
            "language": {

                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });
    });
    $('#PostedFile').on('change', function () {
        var myFile = "";
        myFile = $("#PostedFile").val();
        @* console.log(myFile);*@
        var upld = myFile.split('.').pop();
        if (upld.toUpperCase() == 'PDF') {
            //sweetalert success
            //alert("File uploaded is pdf")
            const fileSize = this.files[0].size / 1024 / 1024; // in MiB
            if (fileSize > 5) {
                Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: 'ขนาดไฟล์ต้องไม่เกิน 5 MiB',
                    }).then(function () {

                });
                $("#textFile").text('เลือกไฟล์');
                // $(file).val(''); //for clearing with Jquery
            } else {
                // Proceed further
                var i = $(this).prev('label').clone();
                var file = $('#PostedFile')[0].files[0].name;
                $(this).prev('label').text(file);
                $("#textFile").text(file);
            }
        }
        else if (upld.toUpperCase() == '') {
            $(this).prev('label').text("เลือกไฟล์");
            $("#textFile").text('เลือกไฟล์');
        }
        else {
            $(this).prev('label').text("เลือกไฟล์");
            $("#textFile").text('เลือกไฟล์');
            Swal.fire({
                icon: 'error',
                title: "อัพโหลดเฉพาะ PDF เท่านั้น",
                text: 'ขนาดไฟล์ต้องไม่เกิน 5 MiB',
            }).then(function () {

            });
        }
    });

    $('#TypeID').change(function () {
        // $(this).val() will work here
        let TypeCode = $('#TypeID').find(":selected").val();
        if (TypeCode == 3) {
            $('#HideTopic').show();
            $('#HidePlans').show();
        }
        else {
            $('#HideTopic').hide();
            $('#HidePlans').hide();
            $("#TopicID").val("").change();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetRunning", "DataManagement")',
                data: { TypeCode: TypeCode},
                dataType: "json",
                success: function (data) {
                    @*console.log(data)*@
                    if (data["Status"] == "1") {
                        $('#Running').val( (data["Data"] + 1) );
                    }
                    else if (data["Status"] == "-99") {
                        location.reload();
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: data["Message"],
                        }).then(function () {

                        });
                    }
                },
                error: function (error) {
                    @*alert(error);*@
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: error["Message"],
                    })
                }
            });
        }
    });
    $('#TopicID').change(function () {
        // $(this).val() will work here
        let TypeCode = $('#TypeID').find(":selected").val();
        let TopicCode = $('#TopicID').find(":selected").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetRunning", "DataManagement")',
            data: { TypeCode: TypeCode ,TopicCode : TopicCode},
            dataType: "json",
            success: function (data) {
                @*console.log(data)*@
                if (data["Status"] == "1") {
                    $('#Running').val( (data["Data"] + 1) );
                }
                else if (data["Status"] == "-99") {
                    location.reload();
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    });
    function OpenModal() {
        $('#exampleModalCenter').modal('show');
    }
    function Insert() {
        let Running = $('#Running').val();
        let CostCenterID = $('#CostCenterID').find(":selected").val();
        let TypeID = $('#TypeID').find(":selected").val();
        let TopicID = $('#TopicID').find(":selected").val();
        let Plans = $('#Plans').val();
        let SectionName = $('#SectionName').val();
        let Target = $('#Target').val();

        // ชื่อไฟล์ กรณีจะไม่เปลี่ยนแปลงไฟล์และยังให้ไฟล์เก่าคงอยู่
        //let TargetFile = $('#HiddenFileName').val();

        let PostedFile = $('#PostedFile').val();
        let Define = $('#Define').val();
        let Frequency = $('#Frequency').val();
        let CuttingCycle = $('#CuttingCycle').val();
        let AssessorDepartment = $('#AssessorDepartment').val();
        let AssessedDivision = $('#AssessedDivision').val();
        let AssessedPEA = $('#AssessedPEA').val();

        let ID = $('#HiddenID').val();
        let Hiddenrow = $('#HiddensetRow').val();

        @*var ID = $('#Hidden-' + Id).val();*@
        @*var KeyID = $('#HiddenKey-' + Id).val();*@
        let CountTable = 0;
        if (Running == "") {
            let notifierCheckbox = document.getElementById("Running");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุหมายเลขข้อ.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (CostCenterID == "") {
            let notifierCheckbox = document.getElementById("CostCenterID");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือกผู้รับผิดชอบ.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (TypeID == "") {
            let notifierCheckbox = document.getElementById("TypeID");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือกประเภทของการวัด.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (TypeID == "3") {
            if (TopicID == "") {
                let notifierCheckbox = document.getElementById("TopicID");
                notifierCheckbox.focus();
                notifierCheckbox.setCustomValidity("โปรดเลือกด้านการวัด.");
                notifierCheckbox.reportValidity();
                return;
            }
        } 
        if (SectionName == "") {
            let notifierCheckbox = document.getElementById("SectionName");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุชื่อเกณฑ์การวัด.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (Target == "") {
            let notifierCheckbox = document.getElementById("Target");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุเป้าหมาย.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (AssessorDepartment == "") {
            let notifierCheckbox = document.getElementById("AssessorDepartment");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุผู้ประเมิน (แผนก).");
            notifierCheckbox.reportValidity();
            return;
        }
        if (AssessedDivision == "") {
            let notifierCheckbox = document.getElementById("AssessedDivision");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุหน่วยงานที่ถูกประเมิน (ระดับกอง).");
            notifierCheckbox.reportValidity();
            return;
        }
        if (AssessedPEA == "") {
            let notifierCheckbox = document.getElementById("AssessedPEA");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุหน่วยงานที่ถูกประเมิน (ระดับ กฟฟ.).");
            notifierCheckbox.reportValidity();
            return;
        }


        var LevelAdmin = "";
        var table = document.getElementById("list_table_json");
        CountTable = table.tBodies[0].rows.length; // นับจำนวนสิทธิ์ในตาราง
        @*for (var i = 1, row; row = table.rows[i]; i++) { // not name column
            //iterate through rows
            //rows would be accessed using the "row" variable assigned in the for loop
            //for (var j = 0, col; col = row.cells[j]; j++) {}
            if (Id == table.rows[i].cells[0].textContent.trim()) { // จับข้อมูลรหัสพนักงาน Input กับในตารางตรงกันไหม
                LevelAdmin = table.rows[i].cells[3].textContent.trim(); // เก็บค่าสถานะแอดมิน
                break;
            }
        }
        if (LevelAdmin == "ผู้พัฒนาระบบ") { // เช็คถ้าสิทธิ์เป็นผู้พัฒนาระบบ ไม่สามารถลบหรือแก้ไขได้
            Swal.fire({
                icon: 'error',
                title: 'เกิดความผิดพลาด!',
                text: 'ไม่สามารถเปลี่ยนแปลงสิทธิ์ผู้พัฒนาระบบได้',
            })
            return;
        }*@

        var formData = new FormData();
        formData.append("ID", ID);
        formData.append("Running", Running);
        formData.append("CostCenterID", CostCenterID);
        formData.append("TypeID", TypeID);
        formData.append("TopicID", TopicID);
        formData.append("Plans", Plans);
        formData.append("SectionName", SectionName);
        formData.append("Target", Target);

        // เพื่มชื่อไฟล์
        //formData.append("TargetFile", TargetFile);

        formData.append("Define", Define);
        formData.append("Frequency", Frequency);
        formData.append("CuttingCycle", CuttingCycle);
        formData.append("AssessorDepartment", AssessorDepartment);
        formData.append("AssessedDivision", AssessedDivision);
        formData.append("AssessedPEA", AssessedPEA);
        @*formData.append("PostedFile", PostedFile);*@
        var fileInput = document.getElementById('PostedFile');
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formData.append("PostedFile", fileInput.files[i]);
        }


        $.ajax({
            url: "@Url.Action("CreateMastActivity", "DataManagement")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
                $("#BtnSave").attr("disabled", true);
            },
            success: function (data) {
                console.log(data);
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        resetLabelAndBtn();
                    });
                }
                else if (data["Status"] == "1") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        @*var event_data = '';
                        event_data += '<tr>';
                        event_data += '<td>' + Id + '</td>';
                        event_data += '<input type="hidden" id="HiddenKey-' + Id + '" name="HiddenKey-' + Id + '" value="' + data["Key"] +'">';
                        event_data += '<input type="hidden" id="Hidden-' + Id + '" name="Hidden-' + Id + '" value="' + (CountTable) + '">';
                        event_data += '<td>' + $("#First_Name").text() + " " + $("#Last_Name").text() + '</td>';
                        event_data += '<td>' + $("#BA").text() + '</td>';
                        event_data += '<td>' + $("#PermissionCode option:selected").text() + '</td>';
                        event_data += '<td><button type="button" id="' + Id + '" class="btn btn-primary" ' +
                            'onclick="EditLabel(this.id, ' + "'" + $('#First_Name').text() + "','" + $('#Last_Name').text() +
                            "','" + $('#BA').text() + "'" + ')" > ' + "แก้ไข" + '</button > '
                        event_data += '<button type="button"' + 'id="' + Id + '" class="btn btn-primary-outline" ' +
                            'onclick = "confirmDelete(this.id)" data-id="" > ' +
                        '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">' +
                        '<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>' +
                        '</svg>'
                        '</button>'
                        event_data += '</tr>';
                        // ดึง Datatable มาอัปเดต หน้าต่างข้อมูล
                        var table = $('#list_table_json').DataTable();
                        table.row.add($(event_data)).draw();*@

                        $('#exampleModalCenter').modal('hide');
                        location.reload();
                    });
                }
                else if (data["Status"] == "2") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        // ดึง Datatable มาอัปเดต หน้าต่างข้อมูล
                        var table = $('#list_table_json').DataTable();
                        var idx = table
                            .row(Hiddenrow)
                            .index();
                        table.cell(idx, 0).data(data["Data"][0].TypeName).draw();
                        table.cell(idx, 1).data(data["Data"][0].AssessorDepartment).draw();
                        table.cell(idx, 2).data(data["Data"][0].TopicName).draw();
                        table.cell(idx, 3).data(data["Data"][0].Running).draw();
                        table.cell(idx, 4).data(data["Data"][0].Plans).draw();
                        table.cell(idx, 5).data(data["Data"][0].SectionName).draw();

                        @*table.cell(idx, 6).deleteCell(0);*@

                        if (data["Data"][0].TargetFile) {
                            let event_data = '';
                            event_data += '<a class="btn" href="../Repository/PDF/MastActivity/' + data["Data"][0].TargetFile + '?@GenerateMath()"';
                            event_data += 'target="_blank" title="ไฟล์เอกสาร">';
                            event_data += '<span>';
                            event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">';
                            event_data += '<path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />';
                            event_data += '</svg>';
                            event_data += '<span>';
                            event_data += '</a>';
                            table.cell(idx, 6).data(event_data).draw();
                        }
                        else {
                            let event_data2 = '';
                            event_data2 += '<a >';
                            event_data2 += '</a>';
                            table.cell(idx, 6).data(event_data2).draw();
                        }
                        $('#exampleModalCenter').modal('hide');
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'ไม่สามารถบันทึกได้',
                        text: data["Message"],
                    }).then(function () {
                        $("#BtnSave").removeAttr("disabled");
                        @* location.reload();*@
                    });
                }
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
            }
        });
    }
    function resetModal() {
        $('#Running').val("");
        $('#CostCenterID').val("");
        //$('#TypeID').val("");
        $('#TopicID').val("");
        $('#Plans').val("");
        $('#SectionName').val("");
        $('#Target').val("");

        $('#HideTopic').hide();
        $('#HidePlans').hide();
        $("#HiddenFile").attr("href", "#")
        $("#HiddenFileName").val("")
        $('#ModalSpanFiles').hide();

        $("#textFile").text('เลือกไฟล์');
        $('#PostedFile').val("");

        $('#Define').val("");
        $('#Frequency').val("");
        $('#CuttingCycle').val("");
        $('#AssessorDepartment').val("");
        $('#AssessedDivision').val("");
        $('#AssessedPEA').val("");
        $('#HiddenID').val("")
        $('#HiddensetRow').val("")

        OpenModal()
    }
    function setModal(data,setRow) {
        $('#HiddensetRow').val(setRow);

        $('#Running').val(data["Data"][0].Running);
        $('#CostCenterID').val(data["Data"][0].CostCenterID);
        $('#TypeID').val(data["Data"][0].TypeID);
        $('#TopicID').val(data["Data"][0].TopicID);
        $('#Plans').val(data["Data"][0].Plans);
        $('#SectionName').val(data["Data"][0].SectionName);
        $('#Target').val(data["Data"][0].Target);
        if (data["Data"][0].TypeID == "3") {
            $('#HideTopic').show();
            $('#HidePlans').show();
        }
        else {
            $('#HideTopic').hide();
            $('#HidePlans').hide();
        }
        if (data["Data"][0].TargetFile != "") {
            $("#HiddenFile").attr("href", "../Repository/PDF/MastActivity/" + data["Data"][0].TargetFile + "?@GenerateMath()")
            $("#HiddenFileName").val(data["Data"][0].TargetFile)
            $('#ModalSpanFiles').show();
        }
        else {
            $("#HiddenFile").attr("href", "#")
            $("#HiddenFileName").val("")
            $('#ModalSpanFiles').hide();
        }

        $("#textFile").text('เลือกไฟล์');
        $('#PostedFile').val("");

        $('#Define').val(data["Data"][0].Define);
        $('#Frequency').val(data["Data"][0].Frequency);
        $('#CuttingCycle').val(data["Data"][0].CuttingCycle);
        $('#AssessorDepartment').val(data["Data"][0].AssessorDepartment);
        $('#AssessedDivision').val(data["Data"][0].AssessedDivision);
        $('#AssessedPEA').val(data["Data"][0].AssessedPEA);
        $('#HiddenID').val(data["Data"][0].ID)
    }
    function confirmEdit(ID,setRow) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMastAct", "DataManagement")',
            data: { ID: ID },
            dataType: "json",
            success: function (data) {
                @*console.log(data)*@
                if (data["Status"] == "1") {
                    @*console.log(data["Data"])*@
                    let setRow2 = $('#HiddenRow-' + ID).val();
                    setModal(data, setRow2);

                    @* ยกเลิกใช้ 'setRow' -> ใช้ setRow2 เนื่องจากมีการแก้ไขโปรแกรมให้ลบแล้วไม่รีเฟรซหน้า *@
                    @*setModal(data, setRow);*@

                    OpenModal();
                }
                else if (data["Status"] == "-99") {
                    location.reload();
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    }
    function confirmDelete(ID,indexRow) {
        @*let ID = $('#HiddenID').val();*@

        let Hiddenrow = $('#HiddenRow-' + ID).val();

        @*let Hiddenrow = indexRow;*@

        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ลบทิ้ง!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteMastAct", "DataManagement")',
                    data: { ID: ID },
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                            Swal.fire({
                                title: 'ลบแล้ว!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {

                                @*var ID = $('#Hidden-' + Id).val();
                                console.log(ID)*@
                                var myTable = $('#list_table_json').DataTable();
                                myTable.row(Hiddenrow).remove().draw();

                                //รีเซต row ตารางใหม่
                                let countAllRow = $('#HiddenCountRow').val();
                                for (var i = Hiddenrow; i < countAllRow - 1; i++) {
                                    i = Number(i);
                                    let valueKey = $("#HiddenID-" + (i + 1)).val();
                                    $("#HiddenID-" + (i + 1)).attr("name", "HiddenID-" + i);
                                    $("#HiddenID-" + (i+1)).attr("id", "HiddenID-"+i);
                                    $('#HiddensetRow-' + (i + 1)).val(i);
                                    $("#HiddensetRow-" + (i + 1)).attr("name", "HiddensetRow-" + i);
                                    $("#HiddensetRow-" + (i + 1)).attr("id", "HiddensetRow-" + i);
                                    $('#HiddenRow-' + valueKey).val(i);
                                }
                                $('#HiddenCountRow').val(countAllRow - 1);

                                $('#exampleModalCenter').modal('hide');
                                @*location.reload();*@
                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }
    function setModalTransfer() {
        $('#PEAGroup').val("");
        $('#SegmentID').val("0");
        $('input[type=checkbox]').prop('checked', false);
        //$('#NameTimesAYear').val("");
    }
    function transfer(ID) {
        setModalTransfer();
        $('#HiddenTransferID').val(ID);
        $('#TransferModalCenter').modal('show');
    }
    function InsertTransfer() {
        let ID = $('#HiddenTransferID').val();
        let Year = $('#Year').find(":selected").val();
        let PEAGroup = $('#PEAGroup').find(":selected").val();
        let NameTimesAYear = $('#NameTimesAYear').find(":selected").val();
        let SegmentID = $('#SegmentID').find(":selected").val();

        var checkboxes = document.querySelectorAll('input[name="GroupPEAGroup"]:checked'); // Checkbox
        //console.log(checkboxes)
        //var values = []
        var values = new Array(); // Array
        Array.prototype.forEach.call(checkboxes, function (el) { // Loop หาค่า Checkbox
            values.push(el.value);
        });
        console.log(values)
        
        if (Year == "") {
            let notifierCheckbox = document.getElementById("Year");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือกปีที่วัดการประเมิณ.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (PEAGroup == "" || values.length == 0) {
            //let notifierCheckbox = document.getElementById("PEAGroup");
            let notifierCheckbox = document.getElementsByName("GroupPEAGroup");
            notifierCheckbox[0].focus();
            notifierCheckbox[0].setCustomValidity("โปรดเลือกการไฟฟ้า.");
            notifierCheckbox[0].reportValidity();
            return;
        }
        if (NameTimesAYear == "") {
            let notifierCheckbox = document.getElementById("NameTimesAYear");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือกขอบเขตการวัด.");
            notifierCheckbox.reportValidity();
            return;
        }

        var formData = new FormData();
        formData.append("ID", ID);
        formData.append("Year", Year);
        //formData.append("PEAGroup", PEAGroup);
        formData.append("GroupPEAGroup", values);
        formData.append("NameTimesAYear", NameTimesAYear);
        formData.append("SegmentID", SegmentID);

        $.ajax({
            url: "@Url.Action("CreateSection", "DataManagement")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
                $("#SaveTransfer").attr("disabled", true);
            },
            success: function (data) {
                console.log(data);
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
                else if (data["Status"] == "1") {
                    let insertString = "เพิ่มข้อมูลของ ";
                    for (let i = 0; i < data["InsertGroup"].length; i++) {
                        if (i > 0) {
                            insertString += ", ";
                        }
                        value = $('label[for="' + "PEAGroup-" + data["InsertGroup"][i] + '"]').html()
                        insertString += value;
                    }
                    insertString += " สำเร็จ";
                    
                    for (let i = 0; i < data["RepeatedlyGroup"].length; i++) {
                        if (i == 0) {
                            insertString += "<br><span style='color:red'>แต่ ";
                        }
                        if (i > 0) {
                            insertString += ", ";
                        }
                        value = $('label[for="' + "PEAGroup-" + data["RepeatedlyGroup"][i] + '"]').html()
                        insertString += value;

                        if (i == data["RepeatedlyGroup"].length - 1) {
                            insertString += " </span> มีข้อมูลอยู่ในระบบอยู่แล้ว";
                        }
                    }

                    Swal.fire(
                        'สำเร็จ',
                        insertString,
                        'success'
                    ).then(function () {
                        
                        @*$('#TransferModalCenter').modal('hide');*@
                        @*setModalTransfer();*@

                        @*location.reload();*@
                    });
                }
                if (data["Status"] == "3") { // กรณีโยนซ้ำ
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        @*$('#TransferModalCenter').modal('hide');*@
                    });
                }
                @*else if (data["Status"] == "2") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        
                    });
                }*@
                $("#SaveTransfer").attr("disabled", false);
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
                $("#SaveTransfer").attr("disabled", false);
            }
        });
    }
</script>