﻿@model iPMS.Models.ViewActivityPMSDataManagement
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
}
<style>
    ul.ks-cboxtags {
        list-style: none;
        /*padding: 20px;*/
    }

        ul.ks-cboxtags li {
            display: block;
        }

            ul.ks-cboxtags li label {
                display: inline-block;
                background-color: rgba(255, 255, 255, 0.9);
                border: 1px solid rgba(0, 0, 0, 0.1);
                color: rgba(0, 0, 0, 0.8);
                font-size: 18px;
                border-radius: 4px;
                white-space: nowrap;
                margin: 0 0 10px 0;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-transition: all .2s;
                -o-transition: all .2s;
                transition: all .2s;
                display: block;
            }

            ul.ks-cboxtags li label {
                padding: 10px 20px;
                cursor: pointer;
            }

                ul.ks-cboxtags li label::before {
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    font-family: "FontAwesome";
                    font-weight: 900;
                    font-size: 24px;
                    padding: 0;
                    /*margin-right: 15px;*/
                    content: "\f1db";
                    color: rgba(0, 0, 0, 0.2);
                    -webkit-transition: -webkit-transform .3s ease-in-out;
                    transition: -webkit-transform .3s ease-in-out;
                    -o-transition: transform .3s ease-in-out;
                    transition: transform .3s ease-in-out;
                    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                    position: absolute;
                    right: 40px;
                    margin-top: -5px;
                }

                ul.ks-cboxtags li label span {
                    background: #f9e090;
                    font-size: 12px;
                    padding: 2px 5px;
                    border-radius: 30px;
                    color: #fff;
                    margin-left: 10px;
                }

            ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
                content: "\f058";
                -webkit-transform: rotate(-360deg);
                -ms-transform: rotate(-360deg);
                transform: rotate(-360deg);
                -webkit-transition: -webkit-transform .3s ease-in-out;
                transition: -webkit-transform .3s ease-in-out;
                -o-transition: transform .3s ease-in-out;
                transition: transform .3s ease-in-out;
                transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                color: #fff;
            }

            ul.ks-cboxtags li input[type="checkbox"]:checked + label {
                border: 1px solid #c400c6;
                background-color: #c400c6;
                color: #fff;
                -webkit-transition: all .2s;
                -o-transition: all .2s;
                transition: all .2s;
            }

                ul.ks-cboxtags li input[type="checkbox"]:checked + label span {
                    background: #fff;
                    color: #000;
                }

            ul.ks-cboxtags li input[type="checkbox"] {
                display: absolute;
            }

            ul.ks-cboxtags li input[type="checkbox"] {
                position: absolute;
                opacity: 0;
            }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ตารางมาสเตอร์หัวข้อกิจกรรม</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-warning ml-2" onclick="resetModal()">เพิ่มหัวข้อกิจกรรม</button>
                    </div>
                </div>

                @*<div class="row">
                        <div class="col-12">
                            <input id="myInput" onkeyup="myFunction()" />
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="col-2">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Small</span>
                                </div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>*@

                <div class="card-body">
                    <div class="table-responsive">
                        <input type="hidden" id="HiddenCountRow" name="HiddenCountRow" value="@Model.ActivityModelLists.Count">
                        <table class="table mb-0" id="list_table_json" name="list_table_json">
                            <thead style="color: #000000">
                                <tr>
                                    <th style="width: 300px">ประเภทงาน</th>
                                    <th style="width: 500px">เกณฑ์วัดการดำเนินงาน</th>
                                    <th style="width: auto">หน่วยงานที่รับผิดชอบ</th>
                                    <th style="width: auto">ลำดับ</th>
                                    <th style="width: auto">Action</th>
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                @foreach (var (item, index) in Model.ActivityModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        @*<input type="hidden" id="HiddenKey-@item.UserId" name="HiddenKey-@item.UserId" value="@item.Id">
                                            <input type="hidden" id="Hidden-@item.UserId" name="Hidden-@item.UserId" value="@index">*@
                                        <input type="hidden" id="HiddenID-@index" name="HiddenID-@index" value="@item.ID">
                                        <input type="hidden" id="HiddensetRow-@index" name="HiddensetRow-@index" value="@index">
                                        <input type="hidden" id="HiddenRow-@item.ID" name="Hidden-@item.ID" value="@index">
                                        <td>@item.TopicName</td>
                                        <td>@item.Cri_work</td>
                                        <td>@item.Cri_res</td>
                                        <td>@item.Running</td>
                                        <td>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="transfer(this.id)" data-id=""
                                                    title="ระบุการไฟฟ้า">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                                </svg>
                                            </button>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="confirmEdit(this.id,@index)" data-id=""
                                                    title="แก้ไขมาสเตอร์">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                </svg>
                                            </button>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="confirmDelete(this.id,@index)" data-id=""
                                                    title="ลบมาสเตอร์">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="exampleModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">เพิ่มหัวข้อกิจกรรม</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <input type="hidden" id="HiddenID" />
                            <input type="hidden" id="HiddensetRow" />
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">ผู้รับผิดชอบ<span class="text-danger"> * </span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="CostCenterID" name="CostCenterID">
                                        <option value="" selected>Please select</option>
                                        @foreach (var (item, index) in Model.CostCenterModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.CostCenterName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                @*id="HideTopic" style="display:none"*@
                            <label class="col-sm-4 col-form-label">ประเภทงาน<span class="text-danger"> * </span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="TopicID" name="TopicID">
                                    <option value="" selected>Please select</option>
                                    @foreach (var (item, index) in Model.TopicModelLists.Select((value, i) => (value, i)))
                                    {
                                        <option value="@item.ID">@item.TopicName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">หมายเลขข้อ<span class="text-danger"> * </span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="" id="Running" name="Running" value="@(Model.ActivityModelLists.Count+1)">
                            </div>
                        </div>

                        <div class="form-group row">
                            @*id="HidePlans" style="display:none"*@
                        <label class="col-sm-4 col-form-label">เกณฑ์วัดการดำเนินงาน<span class="text-danger"> * </span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" id="Cri_work" name="Cri_work" maxlength="150">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">หน่วยวัด<span class="text-danger"> * </span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" id="Cri_Unit" name="Cri_Unit" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">ค่าเกณฑ์วัด ระดับ 1<span class="text-danger"> * </span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" id="Cri_lv1" name="Cri_lv1" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">ค่าเกณฑ์วัด ระดับ 2<span class="text-danger"> * </span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" id="Cri_lv2" name="Cri_lv2" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">ค่าเกณฑ์วัด ระดับ 3<span class="text-danger"> * </span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" id="Cri_lv3" name="Cri_lv3" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">ค่าเกณฑ์วัด ระดับ 4<span class="text-danger"> * </span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" id="Cri_lv4" name="Cri_lv4" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">ค่าเกณฑ์วัด ระดับ 5<span class="text-danger"> * </span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" id="Cri_lv5" name="Cri_lv5" maxlength="50">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">หน่วยงานที่รับผิดชอบการประเมินผลฯ <span class="text-danger"> * </span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" id="Cri_res" name="Cri_res" maxlength="60">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">ลิงก์ Power Bi Dashboard</label>
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" placeholder="" id="Cri_Bi" name="Cri_Bi" 
                                      maxlength="1000" rows="3"></textarea>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        <button type="button" class="btn btn-primary" onclick="Insert()">บันทึก</button>
    </div>
</div>
</div>
</div>

<div class="modal fade" id="TransferModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">โอนหัวข้อกิจกรรม</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <input type="hidden" id="HiddenTransferID" />

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ปีที่วัดการประเมิน<span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="Year" name="Year">
                                        @*<option value="">Please select</option>*@
                                        @foreach (var (item, index) in Model.YearsModelLists.Select((value, i) => (value, i)))
                                        {
                                            if (DateTime.Now.Year.ToString() == item.Year)
                                            {
                                                <option value="@item.Year" selected>@item.Year</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Year">@item.Year</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ระบุการไฟฟ้า<span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <ul class="ks-cboxtags">
                                        <input type="hidden" value="@Model.MastPEAModelLists.Count">
                                        @foreach (var (item, index) in Model.MastPEAModelLists.Select((value, i) => (value, i)))
                                        {
                                            <li>
                                                <input type="checkbox" name="GroupPEAGroup" id="PEAGroup-@item.IDPEA" value="@item.IDPEA">
                                                <label for="PEAGroup-@item.IDPEA">@item.PEAGroup</label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ประเมินการไฟฟ้า</label>
                                <div class="col-sm-7">
                                    <ul class="ks-cboxtags">
                                        <li>
                                            <input type="checkbox" name="Estimate" id="Estimate" value="1" disabled>
                                            <label for="Estimate">PMS การไฟฟ้า</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group row" id="HideWeight" style="display:none">
                                <label class="col-sm-5 col-form-label">น้ำหนัก <span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="" id="Weight" name="Weight" maxlength="6">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ขอบเขตการวัด<span class="text-danger"> * </span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="NameTimesAYear" name="NameTimesAYear">
                                        <option value="" selected>Please select</option>
                                        @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.NameTimesAYear</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" onclick="InsertTransfer()" id="SaveTransfer">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#Weight').on('keypress', function (e) {
        var pressed = String.fromCharCode(e.which);
        var final = this.value + pressed;
        if (!final.match(/^\d{1,10}(\.|\.\d{1,10})?$/i)) {
            e.preventDefault(); // or return false;
        }
    });


    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("list_table_json");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $(document).ready(function () {
        $('#list_table_json').DataTable({
            //"scrollX": true,
            //"scrollY": true,
            "language": {

                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });
    });

    $('#TopicID').change(function () {
        // $(this).val() will work here
        let TopicCode = $('#TopicID').find(":selected").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetRunning", "PMSDataManagement")',
            data: { TopicCode : TopicCode},
            dataType: "json",
            success: function (data) {
                @*console.log(data)*@
                if (data["Status"] == "1") {
                    $('#Running').val( (data["Data"] + 1) );
                }
                else if (data["Status"] == "-99") {
                    location.reload();
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    });
    $('#Estimate').on("click", function () {
        check = $("#Estimate").is(":checked");
        if (check) {
            $('#HideWeight').show();
        } else {
            $('#HideWeight').hide();
        }
    });

    function OpenModal() {
        $('#exampleModalCenter').modal('show');
    }
    function Insert() {
        let CostCenterID = $('#CostCenterID').find(":selected").val();
        let TopicID = $('#TopicID').find(":selected").val();
        let Running = $('#Running').val();
        let Cri_work = $('#Cri_work').val();
        let Cri_Unit = $('#Cri_Unit').val();
        let Cri_lv1 = $('#Cri_lv1').val();
        let Cri_lv2 = $('#Cri_lv2').val();
        let Cri_lv3 = $('#Cri_lv3').val();
        let Cri_lv4 = $('#Cri_lv4').val();
        let Cri_lv5 = $('#Cri_lv5').val();
        let Cri_res = $('#Cri_res').val();
        let Cri_Bi = $('#Cri_Bi').val();

        let ID = $('#HiddenID').val();
        let Hiddenrow = $('#HiddensetRow').val();

        let CountTable = 0;
        if (Running == "") {
            let notifierCheckbox = document.getElementById("Running");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุหมายเลขข้อ.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (CostCenterID == "") {
            let notifierCheckbox = document.getElementById("CostCenterID");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือกผู้รับผิดชอบ.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (TopicID == "") {
            let notifierCheckbox = document.getElementById("TopicID");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือกประเภทงาน.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (Cri_work == "") {
            let notifierCheckbox = document.getElementById("Cri_work");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุเกณฑ์วัดการดำเนินงาน.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (Cri_Unit == "") {
            let notifierCheckbox = document.getElementById("Cri_Unit");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุหน่วยวัด.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (Cri_lv1 == "") {
            let notifierCheckbox = document.getElementById("Cri_lv1");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุค่าเกณฑ์วัด ระดับ 1");
            notifierCheckbox.reportValidity();
            return;
        }
        if (Cri_lv2 == "") {
            let notifierCheckbox = document.getElementById("Cri_lv2");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุค่าเกณฑ์วัด ระดับ 2");
            notifierCheckbox.reportValidity();
            return;
        }
        if (Cri_lv3 == "") {
            let notifierCheckbox = document.getElementById("Cri_lv3");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุค่าเกณฑ์วัด ระดับ 3");
            notifierCheckbox.reportValidity();
            return;
        }
        if (Cri_lv4 == "") {
            let notifierCheckbox = document.getElementById("Cri_lv4");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุค่าเกณฑ์วัด ระดับ 4");
            notifierCheckbox.reportValidity();
            return;
        }
        if (Cri_lv5 == "") {
            let notifierCheckbox = document.getElementById("Cri_lv5");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุค่าเกณฑ์วัด ระดับ 5");
            notifierCheckbox.reportValidity();
            return;
        }
        if (Cri_res == "") {
            let notifierCheckbox = document.getElementById("Cri_res");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดระบุหน่วยงานที่รับผิดชอบการประเมินผลฯ");
            notifierCheckbox.reportValidity();
            return;
        }

        var LevelAdmin = "";
        var table = document.getElementById("list_table_json");
        CountTable = table.tBodies[0].rows.length; // นับจำนวนสิทธิ์ในตาราง
        @*for (var i = 1, row; row = table.rows[i]; i++) { // not name column
            //iterate through rows
            //rows would be accessed using the "row" variable assigned in the for loop
            //for (var j = 0, col; col = row.cells[j]; j++) {}
            if (Id == table.rows[i].cells[0].textContent.trim()) { // จับข้อมูลรหัสพนักงาน Input กับในตารางตรงกันไหม
                LevelAdmin = table.rows[i].cells[3].textContent.trim(); // เก็บค่าสถานะแอดมิน
                break;
            }
        }
        if (LevelAdmin == "ผู้พัฒนาระบบ") { // เช็คถ้าสิทธิ์เป็นผู้พัฒนาระบบ ไม่สามารถลบหรือแก้ไขได้
            Swal.fire({
                icon: 'error',
                title: 'เกิดความผิดพลาด!',
                text: 'ไม่สามารถเปลี่ยนแปลงสิทธิ์ผู้พัฒนาระบบได้',
            })
            return;
        }*@

        var formData = new FormData();
        formData.append("ID", ID);
        formData.append("CostCenterID", CostCenterID);
        formData.append("TopicID", TopicID);
        formData.append("Running", Running);
        formData.append("Cri_work", Cri_work);
        formData.append("Cri_Unit", Cri_Unit);
        formData.append("Cri_lv1", Cri_lv1);
        formData.append("Cri_lv2", Cri_lv2);
        formData.append("Cri_lv3", Cri_lv3);
        formData.append("Cri_lv4", Cri_lv4);
        formData.append("Cri_lv5", Cri_lv5);
        formData.append("Cri_res", Cri_res);
        formData.append("Cri_Bi", Cri_Bi);

        $.ajax({
            url: "@Url.Action("CreateMastActivity", "PMSDataManagement")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
                $("#BtnSave").attr("disabled", true);
            },
            success: function (data) {
                console.log(data);
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        resetLabelAndBtn();
                    });
                }
                else if (data["Status"] == "1") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        $('#exampleModalCenter').modal('hide');
                        location.reload();
                    });
                }
                else if (data["Status"] == "2") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        // ดึง Datatable มาอัปเดต หน้าต่างข้อมูล
                        var table = $('#list_table_json').DataTable();
                        var idx = table
                            .row(Hiddenrow)
                            .index();

                        table.cell(idx, 0).data(data["Data"][0].TopicName).draw();
                        table.cell(idx, 1).data(data["Data"][0].Cri_work).draw();
                        table.cell(idx, 2).data(data["Data"][0].Cri_res).draw();
                        table.cell(idx, 3).data(data["Data"][0].Running).draw();

                        $('#exampleModalCenter').modal('hide');
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'ไม่สามารถบันทึกได้',
                        text: data["Message"],
                    }).then(function () {
                        $("#BtnSave").removeAttr("disabled");
                        @* location.reload();*@
                    });
                }
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
            }
        });
    }
    function resetModal() {
        $('#CostCenterID').val('');
        $('#TopicID').val('');
        $('#Running').val('');
        $('#Cri_work').val('');
        $('#Cri_Unit').val('');
        $('#Cri_lv1').val('');
        $('#Cri_lv2').val('');
        $('#Cri_lv3').val('');
        $('#Cri_lv4').val('');
        $('#Cri_lv5').val('');
        $('#Cri_res').val('');
        $('#Cri_Bi').val('');

        $('#HiddenID').val("")
        $('#HiddensetRow').val("")

        OpenModal()
    }
    function setModal(data,setRow) {
        $('#HiddensetRow').val(setRow);

        $('#CostCenterID').val(data["Data"][0].CostCenterID);
        $('#TopicID').val(data["Data"][0].TopicID);
        $('#Running').val(data["Data"][0].Running);
        $('#Cri_work').val(data["Data"][0].Cri_work);
        $('#Cri_Unit').val(data["Data"][0].Cri_Unit);
        $('#Cri_lv1').val(data["Data"][0].Cri_lv1);
        $('#Cri_lv2').val(data["Data"][0].Cri_lv2);
        $('#Cri_lv3').val(data["Data"][0].Cri_lv3);
        $('#Cri_lv4').val(data["Data"][0].Cri_lv4);
        $('#Cri_lv5').val(data["Data"][0].Cri_lv5);
        $('#Cri_res').val(data["Data"][0].Cri_res);
        $('#Cri_Bi').val(data["Data"][0].Cri_Bi);
        
        // set id เพื่ออัพเดท
        $('#HiddenID').val(data["Data"][0].ID)
    }
    function confirmEdit(ID,setRow) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMastAct", "PMSDataManagement")',
            data: { ID: ID },
            dataType: "json",
            success: function (data) {
                @*console.log(data)*@
                if (data["Status"] == "1") {
                    console.log(data["Data"])
                    let setRow2 = $('#HiddenRow-' + ID).val();
                    setModal(data, setRow2);

                    @* ยกเลิกใช้ 'setRow' -> ใช้ setRow2 เนื่องจากมีการแก้ไขโปรแกรมให้ลบแล้วไม่รีเฟรซหน้า *@
                    @*setModal(data, setRow);*@

                    OpenModal();
                }
                else if (data["Status"] == "-99") {
                    location.reload();
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    }
    function confirmDelete(ID,indexRow) {
        @*let ID = $('#HiddenID').val();*@

        let Hiddenrow = $('#HiddenRow-' + ID).val();

        @*let Hiddenrow = indexRow;*@

        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ลบทิ้ง!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteMastAct", "PMSDataManagement")',
                    data: { ID: ID },
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                            Swal.fire({
                                title: 'ลบแล้ว!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {

                                @*var ID = $('#Hidden-' + Id).val();
                                console.log(ID)*@
                                var myTable = $('#list_table_json').DataTable();
                                myTable.row(Hiddenrow).remove().draw();

                                //รีเซต row ตารางใหม่
                                let countAllRow = $('#HiddenCountRow').val();
                                for (var i = Hiddenrow; i < countAllRow - 1; i++) {
                                    i = Number(i);
                                    let valueKey = $("#HiddenID-" + (i + 1)).val();
                                    $("#HiddenID-" + (i + 1)).attr("name", "HiddenID-" + i);
                                    $("#HiddenID-" + (i+1)).attr("id", "HiddenID-"+i);
                                    $('#HiddensetRow-' + (i + 1)).val(i);
                                    $("#HiddensetRow-" + (i + 1)).attr("name", "HiddensetRow-" + i);
                                    $("#HiddensetRow-" + (i + 1)).attr("id", "HiddensetRow-" + i);
                                    $('#HiddenRow-' + valueKey).val(i);
                                }
                                $('#HiddenCountRow').val(countAllRow - 1);

                                $('#exampleModalCenter').modal('hide');
                                @*location.reload();*@
                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }


    function setModalTransfer() {
        $('input[type=checkbox]').prop('checked', false);

        //check = $("#Estimate").is(":checked");
        //if (check) {
        //    $('#HideWeight').show();
        //} else {
        //    $('#HideWeight').hide();
        //}
        $('#Estimate').prop('checked', true);
        $('#HideWeight').show();

        $('#Weight').val("");
        $('#NameTimesAYear').val("");
    }
    function transfer(ID) {
        setModalTransfer();
        $('#HiddenTransferID').val(ID);
        $('#TransferModalCenter').modal('show');
    }
    function InsertTransfer() {
        let ID = $('#HiddenTransferID').val();
        let Year = $('#Year').find(":selected").val();
        let NameTimesAYear = $('#NameTimesAYear').find(":selected").val();
        let IsEstimate = $('#Estimate').prop('checked');
        let Weight = $('#Weight').val();
        IsEstimate = IsEstimate == true ? "1" : "0";

        var checkboxes = document.querySelectorAll('input[name="GroupPEAGroup"]:checked'); // Checkbox
        //console.log(checkboxes)
        //var values = []
        var values = new Array(); // Array
        Array.prototype.forEach.call(checkboxes, function (el) { // Loop หาค่า Checkbox
            values.push(el.value);
        });
        console.log(values)

        if (Year == "") {
            let notifierCheckbox = document.getElementById("Year");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือกปีที่วัดการประเมิณ.");
            notifierCheckbox.reportValidity();
            return;
        }
        if (values.count == 0) {
            //let notifierCheckbox = document.getElementById("PEAGroup");
            let notifierCheckbox = document.getElementsByName("GroupPEAGroup");
            notifierCheckbox[0].focus();
            notifierCheckbox[0].setCustomValidity("โปรดเลือกการไฟฟ้า.");
            notifierCheckbox[0].reportValidity();
            return;
        }
        if (IsEstimate == "1") {
            if (Weight == "") {
                let notifierCheckbox = document.getElementById("Weight");
                notifierCheckbox.focus();
                notifierCheckbox.setCustomValidity("โปรดระบุน้ำหนักที่ใช้ประเมิน.");
                notifierCheckbox.reportValidity();
                return;
            }
        }
        if (NameTimesAYear == "") {
            let notifierCheckbox = document.getElementById("NameTimesAYear");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดเลือกขอบเขตการวัด.");
            notifierCheckbox.reportValidity();
            return;
        }

        var formData = new FormData();
        formData.append("ID", ID);
        formData.append("Year", Year);
        //formData.append("PEAGroup", PEAGroup);
        formData.append("GroupPEAGroup", values);
        formData.append("IsEstimate", IsEstimate);
        formData.append("Weight", Weight);
        formData.append("NameTimesAYear", NameTimesAYear);

        $.ajax({
            url: "@Url.Action("CreateSection", "PMSDataManagement")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
                $("#SaveTransfer").attr("disabled", true);
            },
            success: function (data) {
                console.log(data);
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
                else if (data["Status"] == "1") {
                    let insertString = "เพิ่มข้อมูลของ ";
                    for (let i = 0; i < data["InsertGroup"].length; i++) {
                        if (i > 0) {
                            insertString += ", ";
                        }
                        value = $('label[for="' + "PEAGroup-" + data["InsertGroup"][i] + '"]').html()
                        insertString += value;
                    }
                    insertString += " สำเร็จ";

                    for (let i = 0; i < data["RepeatedlyGroup"].length; i++) {
                        if (i == 0) {
                            insertString += "<br><span style='color:red'>แต่ ";
                        }
                        if (i > 0) {
                            insertString += ", ";
                        }
                        value = $('label[for="' + "PEAGroup-" + data["RepeatedlyGroup"][i] + '"]').html()
                        insertString += value;

                        if (i == data["RepeatedlyGroup"].length - 1) {
                            insertString += " </span> มีข้อมูลอยู่ในระบบอยู่แล้ว";
                        }
                    }

                    Swal.fire(
                        'สำเร็จ',
                        insertString,
                        'success'
                    ).then(function () {

                        @*$('#TransferModalCenter').modal('hide');*@
                        @*setModalTransfer();*@

                        @*location.reload();*@
                    });
                }
                if (data["Status"] == "3") { // กรณีโยนซ้ำ
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        @*$('#TransferModalCenter').modal('hide');*@
                    });
                }
                @*else if (data["Status"] == "2") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {

                    });
                }*@
                $("#SaveTransfer").attr("disabled", false);
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
                $("#SaveTransfer").attr("disabled", false);
            }
        });
    }
</script>