﻿@model iPMS.Models.ViewArchiveDataManagement
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }

    String[] list = { "ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4" };
    public String getTextQuarter(int index)
    {
        return list[index - 1];
    }
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ตารางอัปโหลดไฟล์</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-warning ml-2" onclick="resetModal()">อัปโหลดไฟล์</button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table mb-0" id="list_table_json" name="list_table_json">
                            <thead style="color: #000000">
                                <tr>
                                    <th style="width: auto">หัวข้อ</th>
                                    <th style="width: auto">ประเภท</th>
                                    <th style="width: auto">ปี</th>
                                    <th style="width: auto">หน่วยงาน</th>
                                    <th style="width: auto">ไตรมาส</th>
                                    <th style="width: auto">ไฟล์เอกสาร</th>
                                    <th style="width: auto">Action</th>
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                @foreach (var (item, index) in Model.ArchiveModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        <input type="hidden" id="HiddensetRow-@index" name="HiddensetRow-@index" value="@index">
                                        <input type="hidden" id="HiddenRow-@item.ID" name="Hidden-@item.ID" value="@index">
                                        <td>@item.TypeName</td>
                                        <td>@item.Name</td>
                                        <td>@item.Year</td>
                                        <td>@item.PEA_OfficeNAME</td>
                                        <td>@item.Quarter</td>
                                        <td>
                                            @if (@item.FileName != "")
                                            {
                                                <a class="btn" href="~/Repository/PDF/PMSAnalyze/@item.FileName?@GenerateMath()"
                                                   target="_blank" title="ไฟล์เอกสาร" style="color:black">
                                                    <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="transfer(this.id,@item.CabinetID)" data-id=""
                                                    title="แก้ไขเอกสาร">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                </svg>
                                            </button>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="confirmDelete(this.id,@index)" data-id=""
                                                    title="ลบเอกสาร">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">อัปโหลดไฟล์</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="basic-form">
                        <form>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="color:black">ปี<span class="text-danger"> * </span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="Year" name="Year">
                                        @*<option value="">Please select</option>*@
                                        @foreach (var (item, index) in Model.YearsModelLists.Select((value, i) => (value, i)))
                                        {
                                            if (DateTime.Now.Year.ToString() == item.Year)
                                            {
                                                <option value="@item.Year" selected>@item.Year</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Year">@item.Year</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="color:black">หัวข้อ<span class="text-danger"> * </span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="CabinetID" name="CabinetID">
                                        @*<option value="">Please select</option>*@
                                        @foreach (var (item, index) in Model.CabinetCategoryModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID" data-year="@item.FileExtension" selected>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label" style="color:black">การไฟฟ้า<span class="text-danger"> * </span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="PEAOfficeID" name="PEAOfficeID">
                                        <option value="" selected>Please select</option>
                                        @foreach (var (item, index) in Model.NameProvincePEAModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.PEA_OfficeNAME</option>
                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="color:black">ขอบเขตการวัด<span class="text-danger"> * </span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="TimesAYearID" name="TimesAYearID">
                                        @*<option value="" selected>Please select</option>*@
                                        @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                        {
                                            <option value="@item.ID">@item.NameTimesAYear</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="color:black">ไตรมาส<span class="text-danger"> * </span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="Quarter" name="Quarter">
                                        <option value="" selected>Please select</option>
                                        @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                        {
                                            for (var i = 1; i <= StringToInt(item.TimesAYear); i++)
                                            {
                                                <option value="@i">@getTextQuarter(i)</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="color:black">
                                    ไฟล์เอกสาร
                                    <span class="text-danger"> * </span>
                                    <span id="ModalSpanFiles" style="display:none">
                                        <input type="hidden" id="HiddenFileName" />
                                        <a class="btn" href="" id="HiddenFile"
                                           target="_blank" title="ไฟล์เอกสาร" style="color:black">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                        </a>
                                    </span>
                                </label>
                                <div class="col-sm-8">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">อัปโหลด</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="PostedFile" name="PostedFile"
                                                   accept="application/pdf">
                                            <label class="custom-file-label" for="PostedFile" data-browse="เรียกดู" id="textFile"
                                                   style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">เลือกไฟล์</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" onclick="Insert()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TransferModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">แก้ไขไฟล์</h5>

                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <input type="hidden" id="HiddenTransferID" />

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="color:black">
                                    ไฟล์เอกสาร
                                    <span class="text-danger"> * </span>
                                    <span id="ModalSpanFiles" style="display:none">
                                        <input type="hidden" id="HiddenFileName" />
                                        <a class="btn" href="" id="HiddenFile"
                                           target="_blank" title="ไฟล์เอกสาร">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                        </a>
                                    </span>
                                </label>
                                <div class="col-sm-8">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">อัปโหลด</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="PostedFileUpdate" name="PostedFileUpdate"
                                                   accept="application/pdf">
                                            <label class="custom-file-label" for="PostedFileUpdate" data-browse="เรียกดู" id="textFileUpdate"
                                                   style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">เลือกไฟล์</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" onclick="InsertTransfer()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#list_table_json').DataTable({
            //"scrollX": true,
            //"scrollY": true,
            "language": {

                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });
    });
    $('#PostedFile').click(function () {
        let ChangeFile = $('#CabinetID').find(':selected').val();
        if (ChangeFile == 1 || ChangeFile == "1") {
            $('#PostedFile').attr("accept", ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")
        }
        else if (ChangeFile == 2 || ChangeFile == "2") {
            $('#PostedFile').attr("accept", "application/pdf")
        }
    });
    $('#PostedFile').on('change', function () {
        let FileExtension = $('#CabinetID').find(':selected').data("year");
        if (typeof FileExtension === 'undefined') {
            Swal.fire({
                icon: 'error',
                title: "ไม่สามารถอัปโหลดไฟล์ได้",
                text: 'กรุณาเลือกหัวข้อก่อนอัปโหลดไฟล์',
            }).then(function () {

            });
        }
        else {
            const myArray = FileExtension.split(",");
            var myFile = "";
            myFile = $("#PostedFile").val();
            @*console.log(myFile);*@
            var upld = myFile.split('.').pop();
            if (myArray.includes(upld.toLocaleLowerCase())) {
                //sweetalert success
                //alert("File uploaded is pdf")
                const fileSize = this.files[0].size / 1024 / 1024; // in MiB
                if (fileSize > 5) {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: 'ขนาดไฟล์ต้องไม่เกิน 5 MiB',
                    }).then(function () {

                    });
                    $("#textFile").text('เลือกไฟล์');
                    // $(file).val(''); //for clearing with Jquery
                } else {
                    // Proceed further
                    var i = $(this).prev('label').clone();
                    var file = $('#PostedFile')[0].files[0].name;
                    $(this).prev('label').text(file);
                    $("#textFile").text(file);
                }
            }
            else if (upld.toLocaleLowerCase() == '') {
                $(this).prev('label').text("เลือกไฟล์");
                $("#textFile").text('เลือกไฟล์');
            }
            else {
                $(this).prev('label').text("เลือกไฟล์");
                $("#textFile").text('เลือกไฟล์');
                Swal.fire({
                    icon: 'error',
                    title: "อัพโหลดเฉพาะ " + FileExtension +" เท่านั้น",
                    text: 'ขนาดไฟล์ต้องไม่เกิน 5 MiB',
                }).then(function () {

                });
            }
        }
    });

    $('#PostedFileUpdate').click(function () {
        let ChangeFile = $('#CabinetID').find(':selected').val();
        if (ChangeFile == 1 || ChangeFile == "1") {
            $('#PostedFileUpdate').attr("accept", ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")
        }
        else if (ChangeFile == 2 || ChangeFile == "2") {
            $('#PostedFileUpdate').attr("accept", "application/pdf")
        }
    });
    $('#PostedFileUpdate').on('change', function () {
        let FileExtension = $('#CabinetID').find(':selected').data("year");
        if (typeof FileExtension === 'undefined') {
            Swal.fire({
                icon: 'error',
                title: "ไม่สามารถอัปโหลดไฟล์ได้",
                text: 'กรุณาเลือกหัวข้อก่อนอัปโหลดไฟล์',
            }).then(function () {

            });
        }
        else {
            const myArray = FileExtension.split(",");
            var myFile = "";
            myFile = $("#PostedFileUpdate").val();
            @* console.log(myFile);*@
            var upld = myFile.split('.').pop();
            if (myArray.includes(upld.toLocaleLowerCase())) {
                //sweetalert success
                //alert("File uploaded is pdf")
                const fileSize = this.files[0].size / 1024 / 1024; // in MiB
                if (fileSize > 5) {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: 'ขนาดไฟล์ต้องไม่เกิน 5 MiB',
                    }).then(function () {

                    });
                    $("#textFileUpdate").text('เลือกไฟล์');
                    // $(file).val(''); //for clearing with Jquery
                } else {
                    // Proceed further
                    var i = $(this).prev('label').clone();
                    var file = $('#PostedFileUpdate')[0].files[0].name;
                    $(this).prev('label').text(file);
                    $("#textFileUpdate").text(file);
                }
            }
            else if (upld.toLocaleLowerCase() == '') {
                $(this).prev('label').text("เลือกไฟล์");
                $("#textFileUpdate").text('เลือกไฟล์');
            }
            else {
                $(this).prev('label').text("เลือกไฟล์");
                $("#textFileUpdate").text('เลือกไฟล์');
                Swal.fire({
                    icon: 'error',
                    title: "อัพโหลดเฉพาะ " + FileExtension + " เท่านั้น",
                    text: 'ขนาดไฟล์ต้องไม่เกิน 5 MiB',
                }).then(function () {

                });
            }
        }
    });

    function OpenModal() {
        $('#exampleModalCenter').modal('show');
    }

function Insert() {
    let Year = $('#Year').find(":selected").val();
    let CabinetID = $('#CabinetID').find(":selected").val();
    let PEAOfficeID = $('#PEAOfficeID').find(":selected").val();
    let TimesAYearID = $('#TimesAYearID').find(":selected").val();
    let Quarter = $('#Quarter').find(":selected").val();
    let totalFiles = document.getElementById("PostedFile").files.length;
    let ID = $('#HiddenID').val();
    let Hiddenrow = $('#HiddensetRow').val();

    if (Year == "") {
        let notifierCheckbox = document.getElementById("Year");
        notifierCheckbox.focus();
        notifierCheckbox.setCustomValidity("โปรดเลือกปี.");
        notifierCheckbox.reportValidity();
        return;
    }
    if (PEAOfficeID == "") {
        let notifierCheckbox = document.getElementById("PEAOfficeID");
        notifierCheckbox.focus();
        notifierCheckbox.setCustomValidity("โปรดเลือกการไฟฟ้า.");
        notifierCheckbox.reportValidity();
        return;
    }
    if (Quarter == "") {
        let notifierCheckbox = document.getElementById("Quarter");
        notifierCheckbox.focus();
        notifierCheckbox.setCustomValidity("โปรดเลือกไตรมาส.");
        notifierCheckbox.reportValidity();
        return;
    }

    if (totalFiles == 0 || totalFiles == "0") {
        var notifierCheckbox = document.getElementById("PostedFile");
        notifierCheckbox.focus();
        notifierCheckbox.setCustomValidity("โปรดอัปโหลดไฟล์.");
        notifierCheckbox.reportValidity();
        return;
    }

    var formData = new FormData();
    formData.append("TypeID", "1");
    formData.append("Year", Year);
    formData.append("CabinetID", CabinetID);
    formData.append("PEAOfficeID", PEAOfficeID);
    formData.append("TimesAYearID", TimesAYearID);
    formData.append("Quarter", Quarter);

    var fileInput = document.getElementById('PostedFile');
    for (i = 0; i < fileInput.files.length; i++) {
        //Appending each file to FormData object
        formData.append("PostedFile", fileInput.files[i]);
    }

    $.ajax({
        url: "@Url.Action("UploadArchive", "PMSDataManagement")",
        dataType: 'json',
        type: 'POST',
        data: formData,
        cache: false,
        processData: false,
        contentType: false,
        beforeSend: function () {
            // setting a timeout
            $("#BtnSave").attr("disabled", true);
        },
        success: function (data) {
            console.log(data);
            if (data["Status"] == "-99") {
                location.reload();
            }
            else if (data["Status"] == "0") {
                Swal.fire({
                    icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                    resetLabelAndBtn();
                });
            }
            else if (data["Status"] == "1") {
                Swal.fire(
                    'สำเร็จ',
                    data["Message"],
                    'success'
                ).then(function () {
                    $('#exampleModalCenter').modal('hide');
                    location.reload();
                });
            }
            else if (data["Status"] == "2") {
                Swal.fire(
                    'สำเร็จ',
                    data["Message"],
                    'success'
                ).then(function () {
                    // ดึง Datatable มาอัปเดต หน้าต่างข้อมูล
                    var table = $('#list_table_json').DataTable();

                    let EditRow = $('#HiddenRow-' + data["ID"]).val();
                    var idx = table
                        .row(EditRow)
                        .index();

                    let event_data = '';
                        event_data += '<a class="btn" href="../Repository/PDF/PMSAnalyze/' + data["FileName"] + '?@GenerateMath()"';
                        event_data += 'target="_blank" title="ไฟล์เอกสาร" style="color:black">';
                        event_data += '<span>';
                        event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">';
                        event_data += '<path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />';
                        event_data += '</svg>';
                        event_data += '<span>';
                        event_data += '</a>';
                        table.cell(idx, 5).data(event_data).draw();
                    $('#exampleModalCenter').modal('hide');
                });
            }
            else {
                Swal.fire({
                    icon: 'error',
                        title: 'ไม่สามารถบันทึกได้',
                        text: data["Message"],
                    }).then(function () {
                        $("#BtnSave").removeAttr("disabled");
                        @* location.reload();*@
                });
            }
        },
        error: function (d) {
            /*console.log("error");*/
            alert("404. Please wait until the File is Loaded.");
        }
    });
    }
    function resetModal() {
        $('#PEAOfficeID').val("");
        $('#Quarter').val("");
        $("#textFile").text('เลือกไฟล์');
        $('#PostedFile').val("");

        OpenModal()
    }

    function confirmDelete(ID,indexRow) {
        @*let ID = $('#HiddenID').val();*@
        let Hiddenrow = indexRow;
        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ลบทิ้ง!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
        if (result.isConfirmed) {
                $.ajax({
                type: "POST",
                    url: '@Url.Action("DeleteArchive", "DataManagement")',
                    data: { ID: ID },
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                        Swal.fire({
                            title: 'ลบแล้ว!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {
                                $('#exampleModalCenter').modal('hide');
                                location.reload();
                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }

    function transfer(ID,CabinetID) {
        $('#HiddenTransferID').val(ID);
        $('#TransferModalCenter').modal('show');

        $("#textFileUpdate").text('เลือกไฟล์');
        $('#PostedFileUpdate').val("");

        $('#CabinetID').val(CabinetID);
    }
    function InsertTransfer() {
        let ID = $('#HiddenTransferID').val();
        let totalFiles = document.getElementById("PostedFileUpdate").files.length;
        if (totalFiles == 0 || totalFiles == "0") {
            var notifierCheckbox = document.getElementById("PostedFileUpdate");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดอัปโหลดไฟล์.");
            notifierCheckbox.reportValidity();
            return;
        }

        var formData = new FormData();
        formData.append("ID", ID);

        var fileInput = document.getElementById('PostedFileUpdate');
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formData.append("PostedFile", fileInput.files[i]);
        }

        $.ajax({
            url: "@Url.Action("UploadArchive", "PMSDataManagement")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
                $("#BtnSave").attr("disabled", true);
            },
            success: function (data) {
                console.log(data);
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
                else if (data["Status"] == "2") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {

                        var table = $('#list_table_json').DataTable();

                        let EditRow = $('#HiddenRow-' + data["ID"]).val();
                        var idx = table
                            .row(EditRow)
                            .index();

                        let event_data = '';
                            event_data += '<a class="btn" href="../Repository/PDF/PMSAnalyze/' + data["FileName"] + '?@GenerateMath()"';
                            event_data += 'target="_blank" title="ไฟล์เอกสาร" style="color:black">';
                            event_data += '<span>';
                            event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">';
                            event_data += '<path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />';
                            event_data += '</svg>';
                            event_data += '<span>';
                            event_data += '</a>';
                        table.cell(idx, 5).data(event_data).draw();

                        $('#TransferModalCenter').modal('hide');

                        @*location.reload();*@
                    });
                }
                if (data["Status"] == "3") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        @*$('#TransferModalCenter').modal('hide');*@
                    });
                }
                @*else if (data["Status"] == "2") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {

                    });
                }*@
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
            }
        });
    }
</script>