﻿@using iPMS.Models.SessionModel
@model iPMS.Models.ViewPMSReportResult
@{
    ViewBag.Title = "viewSizeLM";
}
@{
    var messageInfo = iPMS.Helper.MessageManager.GetMessage();
    var Employee = this.Session["UserProfile"] as UserProfileSessionData;
}
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }
    String[] list = { "ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4" };
    public String getTextQuarter(int index)
    {
        return list[index - 1];
    }
    String[] listMonth = { "ประจำเดือนมกราคม", "ประจำเดือนกุมภาพันธ์", "ประจำเดือนมีนาคม", "ประจำเดือนเมษายน"
        , "ประจำเดือนพฤษภาคม", "ประจำเดือนมิถุนายน", "ประจำเดือนกรกฎาคม", "ประจำเดือนสิงหาคม"
        , "ประจำเดือนกันยายน", "ประจำเดือนตุลาคม", "ประจำเดือนพฤศจิกายน", "ประจำเดือนธันวาคม" };
    public String getTextMonth(int index)
    {
        return listMonth[index - 1];
    }
}

<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-12 p-md-0">
            <div class="welcome-text">
                <div class="text-center mb-4">
                    <h4>
                        @ViewData["Title_Page"] ประจำปี
                        <span id="SpanYear" style="font-size: 1.25rem">@ViewData["Year"]</span>
                        @*<span>@ViewBag.IsEdit</span>*@
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">
            <div class="card">
                <div class="header-content">
                    <div class="navbar navbar-expand" style="padding: 1.25rem 1.25rem 5px;">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                                <h4 class="card-title">ตารางมาสเตอร์หัวข้อกิจกรรม</h4>
                            </div>

                            @if (@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0)
                            {
                                <div class="navbar-nav header-right">
                                    <button type="button" class="btn btn-rounded btn-warning" onclick="ExportExcel()">
                                        <span class="btn-icon-left text-warning">
                                            <i class="fa fa-download color-warning"></i>
                                        </span>Export Excel
                                    </button>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">เลือกปี</span>
                                </div>
                                <select id="ChooseYear" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.YearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["Year"] as string == item.Year)
                                        {
                                            <option value="@item.Year" selected>@item.Year</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Year">@item.Year</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ระยะเวลาการวัด</span>
                                </div>
                                <select id="ChooseNameTimesAYear" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["NameTimesAYear"] as string == item.ID)
                                        {
                                            <option value="@item.ID" data-year="@item.TimesAYear" selected>@item.NameTimesAYear</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID" data-year="@item.TimesAYear">@item.NameTimesAYear</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">รอบ</span>
                                </div>
                                <select id="ChooseRound" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["NameTimesAYear"] as string == item.ID)
                                        {
                                            for (int i = 1; i <= StringToInt(item.TimesAYear); i++)
                                            {
                                                if (i.ToString() == ViewData["Round"].ToString())
                                                {
                                                    <option value="@i" selected>@getTextMonth(i)</option>
                                                }
                                                else
                                                {
                                                    <option value="@i">@getTextMonth(i)</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <input type="hidden" id="HiddenKey" name="HiddenKey" value="" />
                    <input type="hidden" id="HiddenRow" name="HiddenRow" value="" />
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0" id="list_table_json" name="list_table_json">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="white-space: nowrap; width: 5%; text-align: center; vertical-align: middle;">ประเมินผล</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 5%; text-align: center; vertical-align: middle;">ลำดับ</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 25%; text-align: center; vertical-align: middle;">ประเภท</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 25%; text-align: center; vertical-align: middle;">เกณฑ์วัดผลการดำเนินงาน</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 10%; text-align: center; vertical-align: middle;">หน่วยวัด</th>
                                    <th colspan="5" style="white-space: nowrap; width: 95%; text-align: center; vertical-align: middle;">ค่าเกณฑ์วัด</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 10%; text-align: center; vertical-align: middle;">ผู้ประเมิน</th>
                                    @{int rowList = Model.RawDataSectionModelLists.Count; }
                                    @{int CountPEA = 0;}
                                    @if (rowList > 0)
                                    {
                                        CountPEA = Model.RawDataSectionModelLists[0].PEA.Count;
                                    }
                                    @foreach (var (item, index) in Model.RawDataSectionModelLists.Select((value, i) => (value, i)))
                                    {
                                        foreach (var (ListPEA, indexPEA) in item.PEA.Select((value, i) => (value, i)))
                                        {
                                            <th colspan="2" style="white-space: nowrap;width:10%;text-align: center; vertical-align: middle;">@ListPEA.PEA_OfficeNAME</th>
                                        }
                                        break;
                                    }

                                </tr>
                                <tr>
                                    <th style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">1</th>
                                    <th style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">2</th>
                                    <th style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">3</th>
                                    <th style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">4</th>
                                    <th style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">5</th>
                                    @for (int i = 0; i < CountPEA; i++)
                                    {
                                        <th style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">ผล</th>
                                        <th style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">ระดับ</th>
                                    }
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                @foreach (var (item, index) in Model.RawDataSectionModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle;">
                                            <button type="button" id="@item.ID" class="btn btn-primary"
                                                    onclick="downloadExcel(this.id)" data-id="" title="ดาวน์โหลด">
                                                Export
                                            </button>
                                            <div style="padding-top:10px"></div>
                                            <button type="button" id="@item.ID" class="btn btn-primary"
                                                    onclick="transfer(this.id,@index)" data-id="" title="อัปโหลด">
                                                Upload
                                            </button>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;">@(index+1)</th>
                                        <th>@item.TopicName</th>
                                        <th>@item.Cri_work</th>
                                        <th style="text-align: center; vertical-align: middle;">@item.Cri_Unit</th>
                                        @if (item.IsAllTheSame == "1")
                                        {
                                            <th colspan="5" style="text-align: center; vertical-align: middle;">@item.Cri_lv1</th>
                                            <th style="display: none"></th>
                                            <th style="display: none"></th>
                                            <th style="display: none"></th>
                                            <th style="display: none"></th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv1</th>
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv2</th>
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv3</th>
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv4</th>
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv5</th>
                                        }
                                        <th>@item.Cri_res</th>
                                        @foreach (var (score, indexscore) in item.PEA.Select((value, i) => (value, i)))
                                        {
                                            <th style="text-align: center; vertical-align: middle;">@score.Score</th>
                                            <th style="text-align: center; vertical-align: middle;">@score.Levels</th>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="TransferModalCenter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">อัปโหลดคะแนน</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="color:black">
                                    ไฟล์เอกสาร
                                    <span class="text-danger"> * </span>
                                    <span id="ModalSpanFiles" style="display:none">
                                        <input type="hidden" id="HiddenFileName" />
                                        <a class="btn" href="" id="HiddenFile"
                                           target="_blank" title="ไฟล์เอกสาร" style="color:black">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                </svg>
                                            </span>
                                        </a>
                                    </span>
                                </label>
                                <div class="col-sm-8">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">อัปโหลด</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="PostedFile" name="PostedFile"
                                                   accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                            <label class="custom-file-label" for="PostedFile" data-browse="เรียกดู" id="textFile"
                                                   style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">เลือกไฟล์</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" onclick="UploadFile()" id="SaveUpload">บันทึก</button>
            </div>
        </div>
    </div>
</div>

@* modal load *@
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>รอสักครู่ กำลังโหลดข้อมูล</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#list_table_json').DataTable({
            @* "autoWidth": true,
            "scrollX": true,
                "scrollY": true,*@
            scrollY: "600px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                left: 3
            },
            "language": {
                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });
    });
    const quarter = ["ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4"];
    const months = ["ประจำเดือนมกราคม", "ประจำเดือนกุมภาพันธ์", "ประจำเดือนมีนาคม", "ประจำเดือนเมษายน"
        , "ประจำเดือนพฤษภาคม", "ประจำเดือนมิถุนายน", "ประจำเดือนกรกฎาคม", "ประจำเดือนสิงหาคม"
        , "ประจำเดือนกันยายน", "ประจำเดือนตุลาคม", "ประจำเดือนพฤศจิกายน", "ประจำเดือนธันวาคม"];
    const rangemonths = ["มกราคม-มิถุนายน", "กรกฎาคม-ธันวาคม"];

    function getquarter(month) {
        return quarter[month - 1];
    }
    function getMonth(month) {
        return months[month - 1];
    }
    function getBetween(month) {
        return rangemonths[month - 1];
    }
    const viewlistMonth = [
        "มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน"
        , "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม"
        , "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม" ];
    function getviewTextMonth(index)
    {
        return viewlistMonth[index - 1];
    }

    $('#PostedFile').on('change', function () {
        var myFile = "";
        myFile = $("#PostedFile").val();
        @* console.log(myFile);*@
        var upld = myFile.split('.').pop();
        if (upld.toUpperCase() == 'XLSX' || upld.toUpperCase() == 'XLS' || upld.toUpperCase() == 'CSV') {
            //sweetalert success
            //alert("File uploaded is pdf")
            const fileSize = this.files[0].size / 1024 / 1024; // in MiB
            if (fileSize > 5) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: 'ขนาดไฟล์ต้องไม่เกิน 5 MiB',
                }).then(function () {

                });
                $("#textFile").text('เลือกไฟล์');
                // $(file).val(''); //for clearing with Jquery
            } else {
                // Proceed further
                var i = $(this).prev('label').clone();
                var file = $('#PostedFile')[0].files[0].name;
                $(this).prev('label').text(file);
                $("#textFile").text(file);
            }
        }
        else if (upld.toUpperCase() == '') {
            $(this).prev('label').text("เลือกไฟล์");
            $("#textFile").text('เลือกไฟล์');
        }
        else {
            $(this).prev('label').text("เลือกไฟล์");
            $("#textFile").text('เลือกไฟล์');
            Swal.fire({
                icon: 'error',
                title: "อัพโหลดเฉพาะ xlsx, xls, csv เท่านั้น",
                text: 'ขนาดไฟล์ต้องไม่เกิน 5 MiB',
            }).then(function () {

            });
        }
    });

    $('select[name="Filter"]').change(function (e) {
        let Year = $('#ChooseYear').val();
        let PEAGroup = @ViewData["PEAGroup"]; // S.
        let NameTimesAYear = $('#ChooseNameTimesAYear').val();
        let Round = $('#ChooseRound').val();
        var change = 0;
        if (this.id == "ChooseYear") {
            var yourlegend = document.getElementById("SpanYear");
            yourlegend.innerHTML = Year;
        }
        //if (this.id == "ChooseRound") {
        //    var value = getquarter(Round);
        //    var yourlegend = document.getElementById("TextRound");
        //    yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + value;
        //}
        if (this.id == "ChooseNameTimesAYear") {
            change = 1;
            let round = $(this).find(':selected').data("year");
            $('#ChooseRound').find('option').remove().end();
            let raw_data = '';
            if (NameTimesAYear == "2") { // กรณีที่เลือกเป็น ไตรมาส
                for (let index = 1; index <= round; index++) {
                    var quarter = getquarter(index);
                    if (index == 1) {
                        //var yourlegend = document.getElementById("TextRound");
                        //yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + quarter;
                        raw_data += '<option value="' + index + '" selected> ' + quarter + '</option>';
                    }
                    else {
                        raw_data += '<option value="' + index + '" >' + quarter + '</option>';
                    }
                }
            }
            else if (NameTimesAYear == "1") { // กรณีที่เลือกเป็น ทุกเดือน หรือ ทุกครึ่งปี
                for (let index = 1; index <= round; index++) {
                    var month = getMonth(index);
                    if (index == 1) {
                        //var yourlegend = document.getElementById("TextRound");
                        //yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + month;
                        raw_data += '<option value="' + index + '" selected>' + month + '</option>';
                    }
                    else {
                        raw_data += '<option value="' + index + '" >' + month + '</option>';
                    }
                }
            }
            else {
                for (let index = 1; index <= round; index++) {
                    var month = getBetween(index);
                    if (index == 1) {
                        //var yourlegend = document.getElementById("TextRound");
                        //yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + month;
                        raw_data += '<option value="' + index + '" selected>' + month + '</option>';
                    }
                    else {
                        raw_data += '<option value="' + index + '" >' + month + '</option>';
                    }
                }
            }
            $('#ChooseRound').append(raw_data);
            round = 1;
        }
        if (change == 1) {
            Round = 1;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("FilterYear", "PMSReportResult")',
            data: { Year: Year, PEAGroup: PEAGroup, NameTimesAYear: NameTimesAYear, Round: Round},
            dataType: "json",
            beforeSend: function () {
                // setting a timeout
                @*$('#list_table_json').DataTable().clear().destroy();*@

                $("#loadMe").modal({
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard
                    show: true //Display loader!
                });
            },
            success: function (data) {
                @*console.log(data)*@
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                    console.log(data["Data"]);
                    $.fn.dataTable.FixedColumns.prototype.destroy = function () {
                    var nodes = ['body', 'footer', 'header'];

                    //remove the cloned nodes
                    for (var i = 0, l = nodes.length; i < l; i++) {
                        if (this.dom.clone.left[nodes[i]]) {
                            this.dom.clone.left[nodes[i]].parentNode.removeChild(this.dom.clone.left[nodes[i]]);
                        }
                        if (this.dom.clone.right[nodes[i]]) {
                            this.dom.clone.right[nodes[i]].parentNode.removeChild(this.dom.clone.right[nodes[i]]);
                        }
                    }

                    //remove event handlers
                    $(this.s.dt.nTable).off('column-sizing.dt.DTFC destroy.dt.DTFC draw.dt.DTFC');

                    $(this.dom.scroller).off('scroll.DTFC mouseover.DTFC');
                    $(window).off('resize.DTFC');

                    $(this.dom.grid.left.liner).off('scroll.DTFC wheel.DTFC mouseover.DTFC');
                    $(this.dom.grid.left.wrapper).remove();

                    $(this.dom.grid.right.liner).off('scroll.DTFC wheel.DTFC mouseover.DTFC');
                    $(this.dom.grid.right.wrapper).remove();

                    $(this.dom.body).off('mousedown.FC mouseup.FC mouseover.FC click.FC');

                    //remove DOM elements
                    var $scroller = $(this.dom.scroller).parent();
                    var $wrapper = $(this.dom.scroller).closest('.DTFC_ScrollWrapper');
                    $scroller.insertBefore($wrapper);
                    $wrapper.remove();

                    //cleanup variables for GC
                    delete this.s;
                    delete this.dom;
                    };

                    $('#list_table_json').DataTable().destroy();
                    $('#list_table_json').empty();
                    var event_data = '';
                    event_data += '<thead>';
                    event_data += '<tr>';
                    event_data += '<th rowspan="2" style="white-space: nowrap; width: 5%; text-align: center; vertical-align: middle;">ประเมินผล</th>';
                    event_data += '<th rowspan="2" style="white-space: nowrap; width:5%; text-align: center; vertical-align: middle;">ลำดับ</th>';
                    event_data += '<th rowspan="2" style="white-space: nowrap; width: 25%; text-align: center; vertical-align: middle;">ประเภท</th>';
                    event_data += '<th rowspan="2" style="white-space: nowrap; width: 25%; text-align: center; vertical-align: middle;">เกณฑ์วัดผลการดำเนินงาน</th>';
                    event_data += '<th rowspan="2" style="white-space: nowrap; width: 10%; text-align: center; vertical-align: middle;">หน่วยวัด</th>';
                    event_data += '<th colspan="5" style="white-space: nowrap; width: 95%; text-align: center; vertical-align: middle;">ค่าเกณฑ์วัด</th>';
                    event_data += '<th rowspan="2" style="white-space: nowrap; width: 10%; text-align: center; vertical-align: middle;">ผู้ประเมิน</th>';


                    let rowList = data["Data"].length; // Model.RawDataSectionModelLists.Count;
                    let CountPEA = 0;
                    if (rowList > 0) {
                        CountPEA = data["Data"][0].PEA.length; // Model.RawDataSectionModelLists[0].PEA.Count;
                    }

                    for (let row = 0; row < data["Data"].length; row++) {
                        for (let index = 0; index < data["Data"][row].PEA.length; index++) {
                            event_data += '<th colspan="2" style="white-space:width: 10%; nowrap;text-align: center; vertical-align: middle;">' + data["Data"][row].PEA[index].PEA_OfficeNAME + '</th>';
                        }
                        break;
                    }

                    event_data += '</tr>';
                    event_data += '<tr>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">1</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">2</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">3</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">4</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">5</th>';

                    for (let index = 0; index < CountPEA; index++) {
                        event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">ผล</th>';
                        event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">ระดับ</th>';
                    }

                    event_data += '</tr>';
                    event_data += '</tr>';
                    event_data += '</thead>';
                    event_data += '<tbody style="color: #000000">';

                    // เริ่ม วนลูป นำข้อมูล มาลงในตาราง

                    for (let row = 0; row < data["Data"].length; row++) {
                        event_data += '<tr>';

                        event_data += '<th style="text-align: center; vertical-align: middle;">';
                        event_data += '<button type="button" id="' + data["Data"][row].ID + '" class="btn btn-primary"';
                        event_data += 'onclick="downloadExcel(this.id)" data-id="" title="ดาวน์โหลด">Export';
                        event_data += '</button>';
                        event_data += '<div style="padding-top:10px"></div>';
                        event_data += '<button type="button" id="' + data["Data"][row].ID + '" class="btn btn-primary"';
                        event_data += 'onclick="transfer(this.id,' + row + ')" data-id="" title="อัปโหลด">Upload';
                        event_data += '</button>';
                        event_data += '</th>';

                        event_data += '<th style="text-align: center; vertical-align: middle;">' + (row+1) + '</th>';
                        event_data += '<th>' + data["Data"][row].TopicName + '</th>';
                        event_data += '<th>' + data["Data"][row].Cri_work + '</th>';
                        event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_Unit + '</th>';

                        if (data["Data"][row].IsAllTheSame == "1") {
                            event_data += '<th colspan="5" style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv1 + '</th>';
                            event_data += '<th style="display: none"></th>';
                            event_data += '<th style="display: none"></th>';
                            event_data += '<th style="display: none"></th>';
                            event_data += '<th style="display: none"></th>';
                        }
                        else {
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv1 + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv2 + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv3 + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv4 + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv5 + '</th>';
                        }

                        event_data += '<th>' + data["Data"][row].Cri_res + '</th>';

                        for (let index = 0; index < data["Data"][row].PEA.length; index++) {
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].PEA[index].Score + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].PEA[index].Levels + '</th>';
                        }

                        event_data += '</tr>';
                    }
                    event_data += '</tbody >';
                    $("#list_table_json").append(event_data);
                    $('#list_table_json').DataTable({
                        scrollY: "600px",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: false,
                        fixedColumns: {
                            left: 3
                        },
                        "language": {
                            "search": '<i class="fa fa-search"></i>',
                            "searchPlaceholder": "search",
                        }, "aaSorting": []
                    });
                    @*$("#loadMe").modal("hide");*@
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        $("#loadMe").modal("hide");
                    });
                }
                else {
                    Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: data["Message"],
                    }).then(function () {
                        $("#loadMe").modal("hide");

                        $("#list_table_json").closest('table').find('tbody').hide();

                        @*$('#list_table_json').DataTable().clear().destroy();*@

                    });
                }
            },
            error: function (error) {
                @*alert(error);*@
                $("#loadMe").modal("hide");

                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    });

    function downloadExcel(KeyID) {
        let ID = KeyID;
        $.ajax({
            type: "POST",
            url: '@Url.Action("ExportToExcel", "PMSReportResult")',
            data: { ID: ID },
            @*contentType: "application/json; charset=utf-8",*@
            @*dataType: "json",*@
            xhrFields: {
                responseType: 'blob'
            },
            beforeSend: function () {
                // setting a timeout
                $("#loadMe").modal("show");
            },
            success: function (data) {
                @*console.log(data);*@

                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var downloadUrl = URL.createObjectURL(blob);
                var a = document.createElement("a");
                a.href = downloadUrl;
                a.download = "ReportFile.xlsx";
                document.body.appendChild(a);
                a.click();

                Swal.fire(
                    'สำเร็จ',
                    'ดาวน์โหลดสำเร็จ',
                    'success'
                ).then(function () {
                    $("#loadMe").modal("hide");
                });
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
                $("#loadMe").modal("hide");
            }
        });
    }


    function UploadFile() {
        let totalFiles = document.getElementById("PostedFile").files.length;
        let Year = $('#ChooseYear').val();
        let Round = $('#ChooseRound').val();
        let CheckID = $('#HiddenKey').val();
        let Hiddenrow = $('#HiddenRow').val();

        if (totalFiles == 0 || totalFiles == "0") {
            var notifierCheckbox = document.getElementById("PostedFile");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดอัปโหลดไฟล์.");
            notifierCheckbox.reportValidity();
            return;
        }
        var formData = new FormData();
        var fileInput = document.getElementById('PostedFile');
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formData.append("PostedFile", fileInput.files[i]);
        }

        formData.append("Year", Year);
        formData.append("Month", Round);
        formData.append("CheckID", CheckID);

        $.ajax({
            url: "@Url.Action("UploadFiles", "PMSReportResult")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
                $("#SaveUpload").attr("disabled", true);
                $("#loadMe").modal({
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard
                    show: true //Display loader!
                });
            },
            success: function (data) {
                console.log(data);
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        $("#textFile").text('เลือกไฟล์');
                        document.getElementById('PostedFile').value = null;
                        $("#SaveUpload").removeAttr("disabled");
                        $("#loadMe").modal("hide");
                    });
                }
                else if (data["Status"] == "1") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {

                        var table = $('#list_table_json').DataTable();
                        var idx = table
                            .row(Hiddenrow)
                            .index();
                        let startindex = 11;
                        let startnextindex = 12;

                        for (let i = 0; i < data["ListScore"].length; i++) {
                            table.cell(idx, startindex).data(data["ListScore"][i]).draw();
                            table.cell(idx, startnextindex).data(data["ListLevels"][i]).draw();
                            startindex += 2;
                            startnextindex += 2;
                        }

                        $("#SaveUpload").removeAttr("disabled");
                        $('#TransferModalCenter').modal('hide');
                        $("#loadMe").modal("hide");
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'ไม่สามารถบันทึกได้',
                        text: data["Message"],
                    }).then(function () {
                        $("#SaveUpload").removeAttr("disabled");
                        $("#loadMe").modal("hide");
                        @* location.reload();*@
                    });
                }
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
                $("#SaveUpload").removeAttr("disabled");
                $("#loadMe").modal("hide");
            }
        });
    }
    function setModalTransfer() {
        $("#textFile").text('เลือกไฟล์');
        document.getElementById('PostedFile').value = null;
    }
    function transfer(ID,row) {
        setModalTransfer();
        $('#HiddenKey').val(ID);
        $('#HiddenRow').val(row);
        $('#TransferModalCenter').modal('show');
    }

    //Export
    function ExportExcel() {
        let ChooseYear = $("#ChooseYear").val();
        let ChoosePEAGroup = @ViewData["PEAGroup"]; // ผชก.
        let ChooseNameTimesAYear = $("#ChooseNameTimesAYear").val();
        let ChooseRound = $("#ChooseRound").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("ReportExportToExcel", "PMSReportResult")',
            data: { Year: ChooseYear, PEAGroup: ChoosePEAGroup, NameTimesAYear: ChooseNameTimesAYear, Round: ChooseRound},
            @*contentType: "application/json; charset=utf-8",*@
            @*dataType: "json",*@
            xhrFields: {
                responseType: 'blob'
            },
            beforeSend: function () {
                // setting a timeout
                $("#loadMe").modal("show");
            },
            success: function (data) {
                @*console.log(data);*@

                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var downloadUrl = URL.createObjectURL(blob);
                var a = document.createElement("a");
                a.href = downloadUrl;
                a.download = "ReportFile.xlsx";
                document.body.appendChild(a);
                a.click();
                Swal.fire(
                    'สำเร็จ',
                    data["Message"],
                    'success'
                ).then(function () {
                    $("#loadMe").modal("hide");
                });
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                }).then(function () {
                    $("#loadMe").modal("hide");
                });
            }
        });
    }
</script>
