﻿@using iPMS.Models.SessionModel
@model iPMS.Models.ViewPMSReportResult
@{
    ViewBag.Title = "ViewAssistant";
}
@{
    var messageInfo = iPMS.Helper.MessageManager.GetMessage();
    var Employee = this.Session["UserProfile"] as UserProfileSessionData;
}
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }
    String[] list = { "ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4" };
    public String getTextQuarter(int index)
    {
        return list[index - 1];
    }
    String[] listMonth = { "ประจำเดือนมกราคม", "ประจำเดือนกุมภาพันธ์", "ประจำเดือนมีนาคม", "ประจำเดือนเมษายน"
        , "ประจำเดือนพฤษภาคม", "ประจำเดือนมิถุนายน", "ประจำเดือนกรกฎาคม", "ประจำเดือนสิงหาคม"
        , "ประจำเดือนกันยายน", "ประจำเดือนตุลาคม", "ประจำเดือนพฤศจิกายน", "ประจำเดือนธันวาคม" };
    public String getTextMonth(int index)
    {
        return listMonth[index - 1];
    }
}

<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-12 p-md-0">
            <div class="welcome-text">
                <div class="text-center mb-4">
                    <h4>
                        @ViewData["Title_Page"] ประจำปี
                        <span id="SpanYear" style="font-size: 1.25rem">@ViewData["Year"]</span>
                        @*<span>@ViewBag.IsEdit</span>*@
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">
            <div class="card">
                <div class="header-content">
                    <div class="navbar navbar-expand" style="padding: 1.25rem 1.25rem 5px;">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                                <h4 class="card-title">ตารางมาสเตอร์หัวข้อกิจกรรม</h4>
                            </div>

                            @*@if (@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0)
                            {
                                <div class="navbar-nav header-right">
                                    <button type="button" class="btn btn-rounded btn-warning" onclick="ExportExcel()">
                                        <span class="btn-icon-left text-warning">
                                            <i class="fa fa-download color-warning"></i>
                                        </span>Export Excel
                                    </button>
                                </div>
                            }*@

                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">เลือกปี</span>
                                </div>
                                <select id="ChooseYear" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.YearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["Year"] as string == item.Year)
                                        {
                                            <option value="@item.Year" selected>@item.Year</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Year">@item.Year</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ระยะเวลาการวัด</span>
                                </div>
                                <select id="ChooseNameTimesAYear" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["NameTimesAYear"] as string == item.ID)
                                        {
                                            <option value="@item.ID" data-year="@item.TimesAYear" selected>@item.NameTimesAYear</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID" data-year="@item.TimesAYear">@item.NameTimesAYear</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">รอบ</span>
                                </div>
                                <select id="ChooseRound" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["NameTimesAYear"] as string == item.ID)
                                        {
                                            for (int i = 1; i <= StringToInt(item.TimesAYear); i++)
                                            {
                                                if (i.ToString() == ViewData["Round"].ToString())
                                                {
                                                    <option value="@i" selected>@getTextMonth(i)</option>
                                                }
                                                else
                                                {
                                                    <option value="@i">@getTextMonth(i)</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0" id="list_table_json" name="list_table_json">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="width: auto; text-align: center; vertical-align: middle;">ลำดับ</th>
                                    <th rowspan="2" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">ประเภท</th>
                                    <th rowspan="2" style="width: 20%; text-align: center; vertical-align: middle;">เกณฑ์วัดผลการดำเนินงาน</th>
                                    <th rowspan="2" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">หน่วยวัด</th>
                                    <th colspan="5" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle; ">ค่าเกณฑ์วัด</th>
                                    <th rowspan="2" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">ผู้รายงาน</th>
                                    <th colspan="2" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">กฟก.2</th>
                                    <th rowspan="2" style="width: 5%; text-align: center; vertical-align: middle;">รายละเอียดผลการดำเนินงาน</th>
                                    <th rowspan="2" style="width: auto; text-align: center; vertical-align: middle;">กราฟดำเนินงานระดับ กฟฟ.</th>
                                </tr>
                                <tr>
                                    <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">1</th>
                                    <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">2</th>
                                    <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">3</th>
                                    <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">4</th>
                                    <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">5</th>
                                    <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">ผล</th>
                                    <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">ระดับ</th>
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                @foreach (var (item, index) in Model.RawDataSectionModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle;">@(index+1)</th>
                                        <th>@item.TopicName</th>
                                        <th>@item.Cri_work</th>
                                        <th style="text-align: center; vertical-align: middle;">@item.Cri_Unit</th>
                                        @if (item.IsAllTheSame == "1")
                                        {
                                            <th colspan="5" style="text-align: center; vertical-align: middle;">@item.Cri_lv1</th>
                                            <th style="display: none"></th>
                                            <th style="display: none"></th>
                                            <th style="display: none"></th>
                                            <th style="display: none"></th>
                                        }
                                        else
                                        {
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv1</th>
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv2</th>
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv3</th>
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv4</th>
                                            <th style="text-align: center; vertical-align: middle;">@item.Cri_lv5</th>
                                        }
                                        <th>@item.Cri_res</th>
                                        @foreach (var (score, indexscore) in item.PEA.Select((value, i) => (value, i)))
                                        {
                                            <th style="text-align: center; vertical-align: middle;">@score.Score</th>
                                            <th style="text-align: center; vertical-align: middle;">@score.Levels</th>
                                        }
                                        <th style="text-align: center; vertical-align: middle;">
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="ViewPerformanceResults(this.id,@(index+1))" data-id="" title="ผลการดำเนินงาน">
                                                <i class=""><img src="~/Repository/Template/iconImg/research2.png"></i>
                                            </button>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;">

                                            <span style="display: block;">
                                                <button type="button" id="@item.MastID" class="btn btn-primary-outline"
                                                        onclick="ViewOperation(this.id, @item.Year, @item.Month, '2')" data-id="" title="การดำเนินงาน กฟจ.CEO">
                                                    <i class=""><img src="~/Repository/Template/iconImg/graph-report-assistant.png"></i>
                                                    <span style="color:black;">กฟจ.CEO</span>
                                                </button>
                                            </span>

                                            <span style="display: block;">
                                                <button type="button" id="@item.MastID" class="btn btn-primary-outline"
                                                        onclick="ViewOperation(this.id, @item.Year, @item.Month, '3')" data-id="" title="การดำเนินงาน กฟส. Size L,M">
                                                    <i class=""><img src="~/Repository/Template/iconImg/graph-report-assistant.png"></i>
                                                    <span style="color:black">กฟส. L,M</span>
                                                </button>
                                            </span>

                                            <span style="display: block;">
                                                <button type="button" id="@item.MastID" class="btn btn-primary-outline"
                                                        onclick="ViewOperation(this.id, @item.Year, @item.Month, '4')" data-id="" title="การดำเนินงาน กฟส. Size S">
                                                    <i class=""><img src="~/Repository/Template/iconImg/graph-report-assistant.png"></i>
                                                    <span style="color:black">กฟส. S</span>
                                                </button>
                                            </span>

                                            <span style="display: block;">
                                                <button type="button" id="@item.MastID" class="btn btn-primary-outline"
                                                        onclick="ViewOperation(this.id, @item.Year, @item.Month, '5')" data-id="" title="การดำเนินงาน กฟส. Size XS">
                                                    <i class=""><img src="~/Repository/Template/iconImg/graph-report-assistant.png"></i>
                                                    <span style="color:black">กฟส. XS</span>
                                                </button>
                                            </span>
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ประเมินผลการดำเนินงาน</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            @*<div class="modal-body">
                    <h5 class="modal-title">กำหนดสิทธิ์ผู้ใช้งาน</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    </button>
                </div>*@
            <div class="modal-body" style="color:black">
                <div class="row">
                    <label class="col-lg-12 col-form-label bodycolor">
                        ลำดับที่ <span id="NoText">1</span> : <span id="text_Work" name="text_Work">1</span>
                    </label>
                </div>

                <div class="row">
                    <label class="col-lg-12 col-form-label bodycolor">
                        หน่วยวัด : <span id="text_Unit" name="text_Unit">1</span>
                    </label>
                </div>

                <div class="row" style="border-bottom: 1px solid #000000">
                    <label class="col-lg-12 col-form-label bodycolor">
                        ผู้รายงาน : <span id="text_res" name="text_res">1</span>
                    </label>
                </div>

                <div class="form-group row">
                    <label class="col-lg-12 col-form-label bodycolor">
                        รูปแบบการรายงาน (โปรดคัดลอกไปรายงาน)
                    </label>
                    <div class="col-lg-12" id="divCSD">
                        <a class="btn" id="btn_CSD"
                           href="/Repository/PDF/ActionPlan/วิเคราะห์ผลดำเนินงาน202427521.pdf?1724897691"
                           target="_blank" title="ไฟล์เอกสาร" style="color:black">
                            <span style="color:black">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                                </svg>
                            </span>
                            ไฟล์เอกสารแนบ
                        </a>
                    </div>
                </div>
                <div class="col-12" id="hiddenBlockStampAdmin">
                    <div class="" style="text-align: right;">
                        <label for="UsernameCSD" class="" style="color:black"> ผู้ประเมิน <span id="UsernameCSD">นางสาวนารถนรี หัทยาภิรมย์</span> </label>
                    </div>
                    <div class="" style="text-align: right;">
                        <label for="DatetimeCSD" class="" style="color:black"> วันที่ <span id="DatetimeCSD">02/07/2024 13:26:02</span></label>
                    </div>
                </div>

                <div class="form-group row" style="border-top: 1px solid #000000;margin-bottom: -1rem;">
                    <label class="col-lg-12 col-form-label bodycolor">
                        รายงานผล : เดือน <span id="textMonth">มกราคม</span>
                    </label>
                    <div class="col-lg-6">
                        ผล : <span id="ReportScore">1</span>
                    </div>
                    <div class="col-lg-6">
                        ระดับ : <span id="ReportLevel">2</span>
                    </div>
                    
                </div>
                <div class="form-group row" style="padding-top:15px">
                    <label class="col-lg-12 col-form-label bodycolor">
                        คาดการณ์ : เดือน <span id="textNextMonth">มกราคม</span>
                    </label>
                    <div class="col-lg-6">
                        ผล : <span id="PredictScore">1</span>
                    </div>
                    <div class="col-lg-6">
                        ระดับ : <span id="PredictLevel">2</span>
                    </div>
                    <div class="col-lg-12" id="divMonth">
                        <a class="btn" id="btn_Month"
                           href="/Repository/PDF/ActionPlan/วิเคราะห์ผลดำเนินงาน202427521.pdf?1724897691"
                           target="_blank" title="ไฟล์เอกสาร" style="color:black">
                            <span style="color:black">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                                </svg>
                            </span>
                            ไฟล์เอกสารแนบ
                        </a>
                    </div>
                    @*<div class="col-lg-12" id="divNextMonth">
                        <a class="btn" id="btn_NextMonth"
                           href="/Repository/PDF/ActionPlan/วิเคราะห์ผลดำเนินงาน202427521.pdf?1724897691"
                           target="_blank" title="ไฟล์เอกสาร" style="color:black">
                            <span style="color:black">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                                </svg>
                            </span>
                            ไฟล์เอกสารแนบ
                        </a>
                    </div>*@
                </div>
                <div class="form-group row" style="border-bottom: 1px solid #000000">
                    <div class="col-12" id="hiddenBlockStampAdmin" style="">
                        <div class="" style="text-align: right;">
                            <label for="Username" class="" style="color:black"> ผู้ประเมิน <span id="Username">นางสาวนารถนรี หัทยาภิรมย์</span> </label>
                        </div>
                        <div class="" style="text-align: right;">
                            <label for="Datetime" class="" style="color:black"> วันที่ <span id="Datetime">02/07/2024 13:26:02</span></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                @*<button type="button" class="btn btn-primary" onclick="Insert()">บันทึก</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Modal Chart -->
<div class="modal fade bd-example-modal-lg" id="exampleModalChart" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">กราฟแสดงผลดำเนินงาน</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body" style="color:black" id="divChart">
                <div class="col-sm-12 p-md-0">
                    <div class="welcome-text">
                        <div class="text-center">
                            <h4 style="color:red">
                                *** กรณีที่ไม่มีการไฟฟ้าบางแห่งปรากฎ แสดงว่า การไฟฟ้าดังกล่าวถูกประเมิน N/A
                            </h4>
                        </div>
                    </div>
                </div>
                <canvas id="chart"></canvas>
            </div>

            <div class="modal-body" style="color:black">
                <div class="col-sm-12 p-md-0">
                    <div class="welcome-text">
                        <div class="text-center">
                            <h4 style="color:blue">
                                <a href="www.google.co.th" target="_blank" id="linkBi"> sadsadsaddsad</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
@* modal load *@
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>รอสักครู่ กำลังโหลดข้อมูล</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#list_table_json').DataTable({
            @* "autoWidth": true,
            "scrollX": true,
                "scrollY": true,*@
            scrollY: "600px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,

            "language": {
                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });
    });
    const quarter = ["ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4"];
    const months = ["ประจำเดือนมกราคม", "ประจำเดือนกุมภาพันธ์", "ประจำเดือนมีนาคม", "ประจำเดือนเมษายน"
        , "ประจำเดือนพฤษภาคม", "ประจำเดือนมิถุนายน", "ประจำเดือนกรกฎาคม", "ประจำเดือนสิงหาคม"
        , "ประจำเดือนกันยายน", "ประจำเดือนตุลาคม", "ประจำเดือนพฤศจิกายน", "ประจำเดือนธันวาคม"];
    const rangemonths = ["มกราคม-มิถุนายน", "กรกฎาคม-ธันวาคม"];

    function getquarter(month) {
        return quarter[month - 1];
    }
    function getMonth(month) {
        return months[month - 1];
    }
    function getBetween(month) {
        return rangemonths[month - 1];
    }
    const viewlistMonth = [
        "มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน"
        , "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม"
        , "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม" ];
    function getviewTextMonth(index)
    {
        return viewlistMonth[index - 1];
    }

    $('select[name="Filter"]').change(function (e) {
        let Year = $('#ChooseYear').val();
        let PEAGroup = @ViewData["PEAGroup"]; // ผชก.
        let NameTimesAYear = $('#ChooseNameTimesAYear').val();
        let Round = $('#ChooseRound').val();
        var change = 0;
        if (this.id == "ChooseYear") {
            var yourlegend = document.getElementById("SpanYear");
            yourlegend.innerHTML = Year;
        }
        //if (this.id == "ChooseRound") {
        //    var value = getquarter(Round);
        //    var yourlegend = document.getElementById("TextRound");
        //    yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + value;
        //}
        if (this.id == "ChooseNameTimesAYear") {
            change = 1;
            let round = $(this).find(':selected').data("year");
            $('#ChooseRound').find('option').remove().end();
            let raw_data = '';
            if (NameTimesAYear == "2") { // กรณีที่เลือกเป็น ไตรมาส
                for (let index = 1; index <= round; index++) {
                    var quarter = getquarter(index);
                    if (index == 1) {
                        //var yourlegend = document.getElementById("TextRound");
                        //yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + quarter;
                        raw_data += '<option value="' + index + '" selected> ' + quarter + '</option>';
                    }
                    else {
                        raw_data += '<option value="' + index + '" >' + quarter + '</option>';
                    }
                }
            }
            else if (NameTimesAYear == "1") { // กรณีที่เลือกเป็น ทุกเดือน หรือ ทุกครึ่งปี
                for (let index = 1; index <= round; index++) {
                    var month = getMonth(index);
                    if (index == 1) {
                        //var yourlegend = document.getElementById("TextRound");
                        //yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + month;
                        raw_data += '<option value="' + index + '" selected>' + month + '</option>';
                    }
                    else {
                        raw_data += '<option value="' + index + '" >' + month + '</option>';
                    }
                }
            }
            else {
                for (let index = 1; index <= round; index++) {
                    var month = getBetween(index);
                    if (index == 1) {
                        //var yourlegend = document.getElementById("TextRound");
                        //yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + month;
                        raw_data += '<option value="' + index + '" selected>' + month + '</option>';
                    }
                    else {
                        raw_data += '<option value="' + index + '" >' + month + '</option>';
                    }
                }
            }
            $('#ChooseRound').append(raw_data);
        }
        if (change == 1) {
            Round = 1;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("FilterYear", "PMSReportResult")',
            data: { Year: Year, PEAGroup: PEAGroup, NameTimesAYear: NameTimesAYear, Round: Round},
            dataType: "json",
            beforeSend: function () {
                // setting a timeout
                @*$('#list_table_json').DataTable().clear().destroy();*@

                $("#loadMe").modal({
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard
                    show: true //Display loader!
                });
            },
            success: function (data) {
                @*console.log(data)*@
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                    console.log(data["Data"]);
                    $.fn.dataTable.FixedColumns.prototype.destroy = function () {
                    var nodes = ['body', 'footer', 'header'];

                    //remove the cloned nodes
                    for (var i = 0, l = nodes.length; i < l; i++) {
                        if (this.dom.clone.left[nodes[i]]) {
                            this.dom.clone.left[nodes[i]].parentNode.removeChild(this.dom.clone.left[nodes[i]]);
                        }
                        if (this.dom.clone.right[nodes[i]]) {
                            this.dom.clone.right[nodes[i]].parentNode.removeChild(this.dom.clone.right[nodes[i]]);
                        }
                    }

                    //remove event handlers
                    $(this.s.dt.nTable).off('column-sizing.dt.DTFC destroy.dt.DTFC draw.dt.DTFC');

                    $(this.dom.scroller).off('scroll.DTFC mouseover.DTFC');
                    $(window).off('resize.DTFC');

                    $(this.dom.grid.left.liner).off('scroll.DTFC wheel.DTFC mouseover.DTFC');
                    $(this.dom.grid.left.wrapper).remove();

                    $(this.dom.grid.right.liner).off('scroll.DTFC wheel.DTFC mouseover.DTFC');
                    $(this.dom.grid.right.wrapper).remove();

                    $(this.dom.body).off('mousedown.FC mouseup.FC mouseover.FC click.FC');

                    //remove DOM elements
                    var $scroller = $(this.dom.scroller).parent();
                    var $wrapper = $(this.dom.scroller).closest('.DTFC_ScrollWrapper');
                    $scroller.insertBefore($wrapper);
                    $wrapper.remove();

                    //cleanup variables for GC
                    delete this.s;
                    delete this.dom;
                    };

                    $('#list_table_json').DataTable().destroy();
                    $('#list_table_json').empty();
                    var event_data = '';
                    event_data += '<thead>';
                    event_data += '<tr>';
                    event_data += '<th rowspan="2" style="width: auto; text-align: center; vertical-align: middle;">ลำดับ</th>';
                    event_data += '<th rowspan="2" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">ประเภท</th>';
                    event_data += '<th rowspan="2" style="width: 20%; text-align: center; vertical-align: middle;">เกณฑ์วัดผลการดำเนินงาน</th>';
                    event_data += '<th rowspan="2" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">หน่วยวัด</th>';
                    event_data += '<th colspan="5" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">ค่าเกณฑ์วัด</th>';
                    event_data += '<th rowspan="2" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">ผู้รายงาน</th>';
                    event_data += '<th colspan="2" style="white-space: nowrap; width: auto; text-align: center; vertical-align: middle;">กฟก.2</th>';
                    event_data += '<th rowspan="2" style=" width: 5%; text-align: center; vertical-align: middle;">รายละเอียดผลการดำเนินงาน</th>';
                    event_data += '<th rowspan="2" style=" width: auto; text-align: center; vertical-align: middle;">กราฟดำเนินงานระดับ กฟฟ.</th>';
                    event_data += '</tr>';
                    event_data += '<tr>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">1</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">2</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">3</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">4</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">5</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">ผล</th>';
                    event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">ระดับ</th>';
                    event_data += '</tr>';
                    event_data += '</tr>';
                    event_data += '</thead>';
                    event_data += '<tbody style="color: #000000">';

                    // เริ่ม วนลูป นำข้อมูล มาลงในตาราง

                    for (let row = 0; row < data["Data"].length; row++) {
                        event_data += '<tr>';
                        event_data += '<th style="text-align: center; vertical-align: middle;">' + (row+1) + '</th>';
                        event_data += '<th>' + data["Data"][row].TopicName + '</th>';
                        event_data += '<th>' + data["Data"][row].Cri_work + '</th>';
                        event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_Unit + '</th>';

                        if (data["Data"][row].IsAllTheSame == "1") {
                            event_data += '<th colspan="5" style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv1 + '</th>';
                            event_data += '<th style="display: none"></th>';
                            event_data += '<th style="display: none"></th>';
                            event_data += '<th style="display: none"></th>';
                            event_data += '<th style="display: none"></th>';
                        }
                        else {
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv1 + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv2 + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv3 + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv4 + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].Cri_lv5 + '</th>';
                        }

                        event_data += '<th>' + data["Data"][row].Cri_res + '</th>';

                        for (let index = 0; index < data["Data"][row].PEA.length; index++) {
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].PEA[index].Score + '</th>';
                            event_data += '<th style="text-align: center; vertical-align: middle;">' + data["Data"][row].PEA[index].Levels + '</th>';
                        }

                        event_data += '<th style="text-align: center; vertical-align: middle;">';
                        event_data += '<button type="button" id="' + data["Data"][row].ID + '" class="btn btn-primary-outline"';
                        event_data += 'onclick="ViewPerformanceResults(this.id'+ ",'" + (row+1) + "'" +')" data-id="" title="ผลการดำเนินงาน">';
                        event_data += '<i class="" ><img src="../Repository/Template/iconImg/research2.png"></i>';
                        event_data += '</button>';
                        event_data += '</th>';

                        event_data += '<th style="text-align: center; vertical-align: middle;">';

                        event_data += '<span style="display: block;">';
                        event_data += '<button type="button" id="' + data["Data"][row].MastID + '" class="btn btn-primary-outline"';
                        event_data += 'onclick="ViewOperation(this.id,' + "'" + data["Data"][row].Year + "','" + data["Data"][row].Month + "', '2'" + ')" data-id="" title="การดำเนินงาน กฟจ.CEO">';
                        event_data += '<i class=""><img src="../Repository/Template/iconImg/graph-report-assistant.png"></i>';
                        event_data += '<span style="color:black">กฟจ.CEO</span>';
                        event_data += '</button>';
                        event_data += '</span>';

                        event_data += '<span style="display: block;">';
                        event_data += '<button type="button" id="' + data["Data"][row].MastID + '" class="btn btn-primary-outline"';
                        event_data += 'onclick="ViewOperation(this.id,' + "'" + data["Data"][row].Year + "','" + data["Data"][row].Month + "', '3'" + ')" data-id="" title="การดำเนินงาน กฟส. Size L,M">';
                        event_data += '<i class=""><img src="../Repository/Template/iconImg/graph-report-assistant.png"></i>';
                        event_data += '<span style="color:black">กฟส. L,M</span>';
                        event_data += '</button>';
                        event_data += '</span>';

                        event_data += '<span style="display: block;">';
                        event_data += '<button type="button" id="' + data["Data"][row].MastID + '" class="btn btn-primary-outline"';
                        event_data += 'onclick="ViewOperation(this.id,' + "'" + data["Data"][row].Year + "','" + data["Data"][row].Month + "', '4'" + ')" data-id="" title="การดำเนินงาน กฟส. Size S">';
                        event_data += '<i class=""><img src="../Repository/Template/iconImg/graph-report-assistant.png"></i>';
                        event_data += '<span style="color:black">กฟส. S</span>';
                        event_data += '</button>';
                        event_data += '</span>';

                        event_data += '<span style="display: block;">';
                        event_data += '<button type="button" id="' + data["Data"][row].MastID + '" class="btn btn-primary-outline"';
                        event_data += 'onclick="ViewOperation(this.id,' + "'" + data["Data"][row].Year + "','" + data["Data"][row].Month + "', '5'" + ')" data-id="" title="การดำเนินงาน กฟส. Size XS">';
                        event_data += '<i class=""><img src="../Repository/Template/iconImg/graph-report-assistant.png"></i>';
                        event_data += '<span style="color:black">กฟส. XS</span>';
                        event_data += '</button>';
                        event_data += '</span>';

                        event_data += '</th>';
                        event_data += '</tr>';
                    }
                    event_data += '</tbody >';
                    $("#list_table_json").append(event_data);
                    $('#list_table_json').DataTable({
                        scrollY: "600px",
                        scrollX: false,
                        scrollCollapse: true,
                        paging: false,

                        "language": {
                            "search": '<i class="fa fa-search"></i>',
                            "searchPlaceholder": "search",
                        }, "aaSorting": []
                    });
                    @*$("#loadMe").modal("hide");*@
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        $("#loadMe").modal("hide");
                    });
                }
                else {
                    Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: data["Message"],
                    }).then(function () {
                        $("#loadMe").modal("hide");

                        $("#list_table_json").closest('table').find('tbody').hide();

                        @*$('#list_table_json').DataTable().clear().destroy();*@

                    });
                }
            },
            error: function (error) {
                @*alert(error);*@
                $("#loadMe").modal("hide");

                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    });

    function ViewPerformanceResults(ID,row) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewPerformanceResults", "PMSReportResult")',
            data: { ID: ID },
            dataType: "json",
            success: function (data) {
                console.log(data);

                if(data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                    $('#NoText').html(row);
                    $('#text_Work').html(data["Data"][0].Cri_work);
                    $('#text_Unit').html(data["Data"][0].Cri_Unit);
                    $('#text_res').html(data["Data"][0].Cri_res);

                    if (data["Data"][0]["PEA"][0].FileName_CSD != "") {
                        $("#btn_CSD").attr("href", "../Repository/PDF/PMS/" + data["Data"][0]["PEA"][0].FileName_CSD + "?@GenerateMath()");
                        $('#divCSD').show();
                    }
                    else {
                        $('#divCSD').hide();
                    }
                    if (data["Data"][0]["PEA"][0].UpdateName_CSD != "") {
                        $('#UsernameCSD').html(data["Data"][0]["PEA"][0].UpdateName_CSD);
                        $('#DatetimeCSD').html(data["Data"][0]["PEA"][0].viewUpdateDateTime_CSD);
                    }
                    else {
                        $('#UsernameCSD').html('');
                        $('#DatetimeCSD').html('');
                    }

                    let ChooseRound = $('#ChooseRound').val();
                    let txtMonth = getviewTextMonth(ChooseRound);
                    $('#textMonth').html(txtMonth);

                    $('#ReportScore').html(data["Data"][0]["PEA"][0].Score);
                    $('#ReportLevel').html(data["Data"][0]["PEA"][0].Levels);

                    if (data["Data"][0]["PEA"][0].FileName_Score != "") {
                        $("#btn_Month").attr("href", "../Repository/PDF/PMS/" + data["Data"][0]["PEA"][0].FileName_Score + "?@GenerateMath()");
                        $('#divMonth').show();
                    }
                    else {
                        $('#divMonth').hide();
                    }

                    let ChooseRoundNext = parseInt(ChooseRound) + 1;
                    let txtNextMonth = getviewTextMonth(ChooseRoundNext);
                    if (txtNextMonth > 12) {
                        txtNextMonth = 1;
                    }
                    $('#textNextMonth').html(txtNextMonth);
                    $('#PredictScore').html(data["Data"][0]["PEA"][0].PredictScore);
                    $('#PredictLevel').html(data["Data"][0]["PEA"][0].PredictLevels);

                    if (data["Data"][0]["PEA"][0].FileName_Predict != "") {
                        $("#btn_NextMonth").attr("href", "../Repository/PDF/PMS/" + data["Data"][0]["PEA"][0].FileName_Predict + "?@GenerateMath()");
                        $('#divNextMonth').show();
                    }
                    else {
                        $('#divNextMonth').hide();
                    }

                    if (data["Data"][0]["PEA"][0].UpdateName != "") {
                        $('#Username').html(data["Data"][0]["PEA"][0].UpdateName);
                        $('#Datetime').html(data["Data"][0]["PEA"][0].viewUpdateDateTime);
                    }
                    else {
                        $('#Username').html('');
                        $('#Datetime').html('');
                    }

                    $('#exampleModalCenter').modal('show');
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    }
    function ViewOperation(ID, Year, Month, PEAGroup) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewOperation", "PMSReportResult")',
            data: { MastID: ID, Year: Year, Month: Month, PEAGroup: PEAGroup},
            dataType: "json",
            beforeSend: function () {
                $('#chart').remove();
                $('#divChart').append('<canvas id="chart"></canvas>');
                $("#linkBi").attr("href", "");
                $("#linkBi").text("");
            },
            success: function (data) {
                console.log(data);

                if(data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                    const barChart_1 = document.getElementById("chart").getContext('2d');

                    barChart_1.height = 100;
                    
                    new Chart(barChart_1, {
                        type: 'bar',
                        data: {
                            
                            defaultFontFamily: 'Poppins',
                            labels: data["Data"].PEAName,
                            datasets: [
                                {
                                    label: "ระดับ ",
                                    data: data["Data"].Levels,
                                    borderColor: 'rgba(26, 51, 213, 1)',
                                    borderWidth: "0",
                                    backgroundColor: data["Data"].backgroundColor
                                }
                            ]
                        },
                        options: {
                            legend: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                xAxes: [{
                                    // Change here ระยะห่างระหว่างกราฟแท่ง
                                    barPercentage: 0.75
                                }]
                            }
                        }
                    });

                    if (data["Data"].Cri_Bi != "") {
                        $("#linkBi").attr("href", data["Data"].Cri_Bi);
                        $("#linkBi").text("Link Power Bi Dashboard");
                    }

                    $('#exampleModalChart').modal('show');
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    }
</script>
