﻿

<div class="container-fluid">

    <div class="row page-titles mx-0">
        <div class="col-sm-12 p-md-0">
            <div class="welcome-text">
                <div class="text-center mb-4">
                    <h4>นิยามแผนปฏิบัติการด้าน "ด้านสังคมและสิ่งแวดล้อม" ประจำปี 2566</h4>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ตารางมาสเตอร์หัวข้อกิจกรรม</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">เลือกปี</span>
                                </div>
                                <select id="inputState" class="form-control">
                                    <option selected="">Choose...</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ระดับกฟฟ.</span>
                                </div>
                                <select id="inputState" class="form-control">
                                    <option selected="">Choose...</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ระยะเวลาการวัด</span>
                                </div>
                                <select id="inputState" class="form-control">
                                    <option selected="">Choose...</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">รอบ</span>
                                </div>
                                <select id="inputState" class="form-control">
                                    <option selected="">Choose...</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table table-bordered mb-0" id="list_table_json" name="list_table_json">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="white-space: nowrap; width: 1%; text-align: center; vertical-align: middle;">ลำดับ</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 1%; text-align: center; vertical-align: middle;">แผนงาน</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 1%; text-align: center; vertical-align: middle;">กิจกรรม</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 1%; text-align: center; vertical-align: middle;">ผู้ประเมิณ</th>
                                    <th colspan="24" style="width: auto; white-space: nowrap; width: 1%; text-align: center; vertical-align: middle;">ผลการดำเนินงาน</th>
                                </tr>
                                <tr>
                                    <th>data1</th>
                                    <th>data2</th>
                                    <th>data3</th>
                                    <th>data4</th>
                                    <th>data5</th>
                                    <th>data6</th>
                                    <th>data7</th>
                                    <th>data8</th>
                                    <th>data9</th>
                                    <th>data10</th>
                                    <th>data11</th>
                                    <th>data12</th>
                                    <th>data13</th>
                                    <th>data14</th>
                                    <th>data15</th>
                                    <th>data16</th>
                                    <th>data17</th>
                                    <th>data18</th>
                                    <th>data19</th>
                                    <th>data20</th>
                                    <th>data21</th>
                                    <th>data22</th>
                                    <th>data23</th>
                                    <th>data24</th>
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                    <td>19</td>
                                    <td>20</td>
                                    <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                </tr>
                                @*@foreach (var (item, index) in Model.ActivityModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        <input type="hidden" id="HiddensetRow-@index" name="HiddensetRow-@index" value="@index">
                                        <input type="hidden" id="HiddenRow-@item.ID" name="Hidden-@item.ID" value="@index">
                                        <td>@item.TypeName</td>
                                        <td>@item.AssessorDepartment</td>
                                        <td>@item.TopicName</td>
                                        <td>@item.Running</td>
                                        <td>@item.Plans</td>
                                        <td>@item.SectionName</td>
                                        <td>
                                            @if (@item.TargetFile != "")
                                            {
                                                <a class="btn" href="~/Repository/PDF/MastActivity/@item.TargetFile?@GenerateMath()"
                                                   target="_blank" title="ไฟล์เอกสาร">
                                                    <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="transfer(this.id)" data-id=""
                                                    title="ระบุการไฟฟ้า">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                                </svg>
                                            </button>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="confirmEdit(this.id,@index)" data-id=""
                                                    title="แก้ไขมาสเตอร์">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                </svg>
                                            </button>
                                            <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                    onclick="confirmDelete(this.id,@index)" data-id=""
                                                    title="ลบมาสเตอร์">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>