﻿@using iPMS.Models.SessionModel
@model iPMS.Models.ViewReportResults
@{
    var messageInfo = iPMS.Helper.MessageManager.GetMessage();
    var Employee = this.Session["UserProfile"] as UserProfileSessionData;
}
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }
    String[] list = { "ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4" };
    public String getTextQuarter(int index)
    {
        return list[index - 1];
    }
}
<link href="~/Repository/Template/spinner.css" rel="stylesheet">
@*<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>*@
<style>
    .btn-outline-danger:hover {
        background-color: white;
        color: #FF1616;
    }

    .btn-outline-success:hover {
        background-color: white;
        color: #7ED321;
    }

    .btn-outline-secondary {
        border-color: #6c757d;
        color: #6c757d;
    }

        .btn-outline-secondary:hover {
            background-color: white;
            color: #6c757d;
        }

    .btn-outline-warning:hover {
        background-color: white;
        color: #FFAA16;
    }
</style>
<div class="container-fluid">

    <div class="row page-titles mx-0">
        <div class="col-sm-12 p-md-0">
            <div class="welcome-text">
                <div class="text-center mb-4">
                    <h4>
                        นิยามแผนปฏิบัติการด้าน "@ViewData["TopicName"]" ประจำปี
                        <span id="SpanYear" style="font-size: 1.25rem">@ViewData["Year"]</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">
            <div class="card">
                <div class="header-content">
                    <div class="navbar navbar-expand" style="padding: 1.25rem 1.25rem 5px;">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                                <h4 class="card-title">ตารางมาสเตอร์หัวข้อกิจกรรม</h4>
                            </div>

                            @if (@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0)
                            {
                                <div class="navbar-nav header-right">
                                    <button type="button" class="btn btn-rounded btn-warning" onclick="ExportExcel()">
                                        <span class="btn-icon-left text-warning">
                                            <i class="fa fa-download color-warning"></i>
                                        </span>Export Excel
                                    </button>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                @*<div class="card-header">
                        <h4 class="card-title">ตารางมาสเตอร์หัวข้อกิจกรรม</h4>
                    </div>*@
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">เลือกปี</span>
                                </div>
                                <select id="ChooseYear" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.YearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["Year"] as string == item.Year)
                                        {
                                            <option value="@item.Year" selected>@item.Year</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Year">@item.Year</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ระดับกฟฟ.</span>
                                </div>
                                <select id="ChoosePEAGroup" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.MastPEAModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["PEAGroup"] as string == item.ID)
                                        {
                                            <option value="@item.ID" selected>@item.PEAGroup</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID">@item.PEAGroup</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ระยะเวลาการวัด</span>
                                </div>
                                <select id="ChooseNameTimesAYear" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["NameTimesAYear"] as string == item.ID)
                                        {
                                            <option value="@item.ID" data-year="@item.TimesAYear" selected>@item.NameTimesAYear</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID" data-year="@item.TimesAYear">@item.NameTimesAYear</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">รอบ</span>
                                </div>
                                <select id="ChooseRound" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["NameTimesAYear"] as string == item.ID)
                                        {
                                            for (int i = 1; i <= StringToInt(item.TimesAYear); i++)
                                            {
                                                if (i.ToString() == ViewData["Round"].ToString())
                                                {
                                                    <option value="@i" selected>@getTextQuarter(i)</option>
                                                }
                                                else
                                                {
                                                    <option value="@i">@getTextQuarter(i)</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0" id="list_table_json" name="list_table_json">
                            <thead>
                                <tr>
                                    @if (@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0)
                                    {
                                        <th rowspan="2" style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;"></th>
                                        <th rowspan="2" style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">All</th>
                                    }
                                    else if (@StringToInt(Employee.PermissionCode) <= 30 && @StringToInt(Employee.PermissionCode) >= 20)
                                    {
                                        <th rowspan="2" style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">All</th>
                                    }
                                    <th rowspan="2" style="white-space: nowrap; width: 35px; text-align: center; vertical-align: middle;">ลำดับ</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 200px; text-align: center; vertical-align: middle;">แผนงาน</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 200px; text-align: center; vertical-align: middle;">กิจกรรม</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 100px; text-align: center; vertical-align: middle;">ผู้ประเมิน</th>
                                    @{int rowList = Model.RawDataSectionModelLists.Count; }
                                    @{int CountPEA = 0;}
                                    @if (rowList > 0)
                                    {
                                        CountPEA = Model.RawDataSectionModelLists[0].PEA.Count;
                                    }
                                    <th colspan="@CountPEA" style="white-space: nowrap;text-align: center; vertical-align: middle;">ผลการดำเนินงาน</th>
                                </tr>
                                <tr>
                                    @foreach (var (item, index) in Model.RawDataSectionModelLists.Select((value, i) => (value, i)))
                                    {
                                        foreach (var (ListPEA, indexPEA) in item.PEA.Select((value, i) => (value, i)))
                                        {
                                            <th style="white-space: nowrap; width: 100px; text-align: center; vertical-align: middle;">@ListPEA.PEA_OfficeNAME</th>
                                        }
                                        break;
                                    }
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                @foreach (var (item, index) in Model.RawDataSectionModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        @if (@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0)
                                        {
                                            <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">
                                                <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                        onclick="confirmDelete(this.id,'@item.GroupSection',@index)" data-id=""
                                                        title="ลบมาสเตอร์">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                    </svg>
                                                </button>
                                            </th>
                                            <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">
                                                <input type="checkbox" id="SelectAll-@index" name="SelectAll-@index" data-toggle="toggle" style="transform: scale(1.5);">
                                            </th>
                                        }
                                        else if (@StringToInt(Employee.PermissionCode) <= 30 && @StringToInt(Employee.PermissionCode) >= 20)
                                        {
                                            <th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">
                                                <input type="checkbox" id="SelectAll-@index" name="SelectAll-@index" data-toggle="toggle" style="transform: scale(1.5);">
                                            </th>
                                        }
                                        <th style="text-align: center;width: 35px;">@(index+1)</th>
                                        <th style="width: 200px; vertical-align: top;">
                                            @item.Plans
                                            @if (item.Segment == "0")
                                            {
                                                <p style="color:red">@item.SegmentName</p>
                                            }
                                            else if (item.Segment == "1")
                                            {
                                                <p style="color:blue">@item.SegmentName</p>
                                            }
                                            else if (item.Segment == "2")
                                            {
                                                <p style="color:green">@item.SegmentName</p>
                                            }
                                        </th>
                                        <th style="width: 200px; vertical-align: top;">@item.SectionName</th>
                                        <th style="text-align: center; width: 100px;">@item.AssessorDepartment</th>
                                        @foreach (var (ListPEA, indexPEA) in item.PEA.Select((value, i) => (value, i)))
                                        {
                                            if (@ListPEA.Result == "1")
                                            {
                                                @*style="white-space: nowrap; width: 1%; text-align: center; vertical-align: middle;"*@
                                                <th>
                                                    <label class="btn btn-outline-success btn-block">
                                                        ผ่าน
                                                    </label>
                                                    @if (ListPEA.CheckBox == "1")
                                                    {
                                                        <button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                    else if (ListPEA.UpdateUser == "")
                                                    {
                                                        <button type="button" class="btn btn-outline-secondary btn-block" style="color:black"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-secondary btn-block" style="color: white; background: gray"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                </th>
                                            }
                                            else if (@ListPEA.Result == "0")
                                            {
                                                <th>
                                                    <label class="btn btn-outline-danger btn-block">ไม่ผ่าน</label>
                                                    @if (ListPEA.CheckBox == "1")
                                                    {
                                                        <button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                    else if (ListPEA.UpdateUser == "")
                                                    {
                                                        <button type="button" class="btn btn-outline-secondary btn-block" style="color:black"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-secondary btn-block" style="color: white; background: gray"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                </th>
                                            }
                                            else if (@ListPEA.Result == "-99")
                                            {
                                                <th>
                                                    <label class="btn btn-outline-secondary btn-block">N/A</label>
                                                    @if (ListPEA.CheckBox == "1")
                                                    {
                                                        <button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                    else if (ListPEA.UpdateUser == "")
                                                    {
                                                        <button type="button" class="btn btn-outline-secondary btn-block" style="color:black"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-secondary btn-block" style="color: white; background: gray"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                </th>
                                            }
                                            else
                                            {
                                                <th>
                                                    <label class="btn btn-outline-warning btn-block">-</label>
                                                    @if (ListPEA.CheckBox == "1")
                                                    {
                                                        <button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                    else if (ListPEA.UpdateUser == "")
                                                    {
                                                        <button type="button" class="btn btn-outline-secondary btn-block" style="color:black"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-secondary btn-block" style="color: white; background: gray"
                                                                onclick="OpenModal('@ListPEA.ID', '@ListPEA.ForeignSection', '@item.Plans', '@item.Target', '@item.TargetFile', '@ListPEA.TRSG', '@index', '@indexPEA')">
                                                            ประเมินผล/ชี้แจง
                                                        </button>
                                                    }
                                                </th>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title"> </h5>*@
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="KeyID" value="">
                @if (@StringToInt(Employee.PermissionCode) <= 30 && @StringToInt(Employee.PermissionCode) >= 0)
                {
                    <input type="hidden" id="HiddenValuePermission" value="1">
                }
                else
                {
                    <input type="hidden" id="HiddenValuePermission" value="0">
                }
                <input type="hidden" id="ForeignSection" value="">
                <input type="hidden" id="TRSG" value="">
                <input type="hidden" id="RowTable" value="">
                <input type="hidden" id="ColumnTable" value="">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label bodycolor" style="color:black">
                        แผนงาน
                    </label>
                    <label class="col-lg-9 col-form-label bodycolor" id="Plans" style="color:black">

                    </label>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label bodycolor" style="color:black">
                        เป้าหมาย
                        <br />
                        <span>
                            <a id="InFile" style="color:black">
                            </a>
                        </span>
                    </label>
                    <label class="col-lg-9 col-form-label bodycolor" id="Target" style="color:black">
                    </label>
                </div>

                <div class="form-group row" style=" outline: 1px solid black;padding:10px">

                    <div class="col-12">
                        <legend id="TextRound" style="color:black">ผลการดำเนินงานสะสมไตรมาส '@(Model.RawDataSectionModelLists.Count > (int?)0 ? Model.RawDataSectionModelLists[0].Round.ToString() : "")'</legend>
                    </div>

                    @* ถ้าเป็น admin กล่องจะถูกเปิด *@
                    @if (@StringToInt(Employee.PermissionCode) <= 30 && @StringToInt(Employee.PermissionCode) >= 0)
                    {
                        <div class="col-12">
                            <div class="form-group">
                                <label for="PerformanceText" class="col-form-label" style="color:black">ผลการดำเนินงาน </label>
                                <textarea class="form-control" id="PerformanceText" maxlength="500" style="color:black"></textarea>
                            </div>
                        </div>
                    }
                    @* ถ้าเป็น user กล่องจะถูกปิด *@
                    else
                    {
                        <div class="col-12">
                            <div class="form-group">
                                <label for="PerformanceText" class="col-form-label" style="color:black">ผลการดำเนินงาน </label>
                                <textarea class="form-control" id="PerformanceText" disabled
                                          style="color:#AAA;background:#F5F5F5;"
                                          maxlength="500">

                                </textarea>
                            </div>
                        </div>
                    }

                    @if (@StringToInt(Employee.PermissionCode) <= 30 && @StringToInt(Employee.PermissionCode) >= 0)
                    {
                        <div class="col-12">
                            <div class="form-group">
                                <div class="radio">
                                    <label style="color:black">
                                        <input type="radio" id="Result-Pass" name="Result" value="1"> ผ่าน
                                    </label>
                                </div>
                                <div class="radio">
                                    <label style="color:black">
                                        <input type="radio" id="Result-NP" name="Result" value="0"> ไม่ผ่าน
                                    </label>
                                </div>
                                <div class="radio disabled">
                                    <label style="color:black">
                                        <input type="radio" id="Result-NA" name="Result" value="-99"> N/A
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                    @* ถ้าเป็น user กล่องจะถูกปิด *@
                    else
                    {
                        <div class="col-12">
                            <div class="form-group">
                                <div class="radio">
                                    <label style="color:black">
                                        <input type="radio" id="Result-Pass" name="Result" value="1" disabled
                                               style="color: #AAA; background: #F5F5F5;"> ผ่าน
                                    </label>
                                </div>
                                <div class="radio">
                                    <label style="color:black">
                                        <input type="radio" id="Result-NP" name="Result" value="0" disabled
                                               style="color: #AAA; background: #F5F5F5;"> ไม่ผ่าน
                                    </label>
                                </div>
                                <div class="radio disabled">
                                    <label style="color:black">
                                        <input type="radio" id="Result-NA" name="Result" value="-99" disabled
                                               style="color: #AAA; background: #F5F5F5;"> N/A
                                    </label>
                                </div>
                            </div>
                        </div>
                    }

                    @* ถ้าเป็น admin กล่องจะถูกปิด *@
                    @if (@StringToInt(Employee.PermissionCode) <= 30 && @StringToInt(Employee.PermissionCode) >= 0)
                    {
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Report" class="col-form-label" style="color:black">ชี้แจงรายละเอียด </label>
                                <textarea class="form-control" id="Report" disabled
                                          style="color:#AAA;background:#F5F5F5;"
                                          maxlength="500">
                               
                                </textarea>
                            </div>
                        </div>
                    }
                    @* ถ้าเป็น user กล่องจะถูกเปิด *@
                    else
                    {
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Report" class="col-form-label" style="color:black">ชี้แจงรายละเอียด </label>
                                <textarea class="form-control" id="Report"
                                          maxlength="500">
                                </textarea>
                            </div>
                        </div>
                    }
                    <div class="col-12" id="hiddenBlockStampUser" style="display:none">
                        <div class="" style="text-align: right;">
                            <label for="UsernameUser" class="col-form-label" style="color:black"> ผู้โต้แย้ง <span id="UsernameUser"></span> </label>
                        </div>
                        <div class="" style="text-align: right;">
                            <label for="DatetimeUser" class="col-form-label" style="color:black"> วันที่ <span id="DatetimeUser"></span></label>
                        </div>
                    </div>


                    @* ถ้าเป็น admin ยืนยันการชี้แจง กล่องจะถูกเปิด *@
                    @if (@StringToInt(Employee.PermissionCode) <= 30 && @StringToInt(Employee.PermissionCode) >= 0)
                    {
                        <div class="col-12" id="hiddenBlockReportAdmin" style="display:none">
                            <div class="form-group">
                                <label for="PerformanceText2" class="col-form-label" style="color:black">ผู้ประเมินชี้แจงรายละเอียด </label>
                                <textarea class="form-control" id="PerformanceText2" maxlength="500" style="color:black"></textarea>
                            </div>
                        </div>
                        <div class="col-12" id="hiddenBlockConfirmAdmin">
                            <div class="">
                                <div class="radio">
                                    <label style="color:black">
                                        <input type="radio" id="ConfirmAdmin" name="ConfirmAdmin" value="1"> ยืนยันการชี้แจง
                                    </label>
                                </div>
                            </div>
                        </div>

                    }
                    @* ถ้าเป็น user กล่องจะถูกปิด *@
                    else
                    {
                        <div class="col-12" id="hiddenBlockReportAdmin" style="display:none">
                            <div class="form-group">
                                <label for="PerformanceText2" class="col-form-label" style="color:black">ผู้ประเมินชี้แจงรายละเอียด </label>
                                <textarea class="form-control" id="PerformanceText2" disabled
                                          style="color:#AAA;background:#F5F5F5;"
                                          maxlength="500">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-12" id="hiddenBlockConfirmAdmin" style="display:none">
                            <div class="">
                                <div class="radio">
                                    <label style="color:black">
                                        <input type="radio" id="ConfirmAdmin" name="ConfirmAdmin" value="1" disabled
                                               style="color: #AAA; background: #F5F5F5;"> ยืนยันการชี้แจง
                                    </label>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="col-12" id="hiddenBlockStampAdmin" style="display:none">
                        <div class="" style="text-align: right;">
                            <label for="UsernameAdmin" class="col-form-label" style="color:black"> ผู้ประเมิน <span id="UsernameAdmin"></span> </label>
                        </div>
                        <div class="" style="text-align: right;">
                            <label for="DatetimeADmin" class="col-form-label" style="color:black"> วันที่ <span id="DatetimeADmin"></span></label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Insert()">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>รอสักครู่ กำลังโหลดข้อมูล</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const quarter = ["ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4"];
    const months = ["ประจำเดือนมกราคม", "ประจำเดือนกุมภาพันธ์", "ประจำเดือนมีนาคม", "ประจำเดือนเมษายน"
        , "ประจำเดือนพฤษภาคม", "ประจำเดือนมิถุนายน", "ประจำเดือนกรกฎาคม", "ประจำเดือนสิงหาคม"
        , "ประจำเดือนกันยายน", "ประจำเดือนตุลาคม", "ประจำเดือนพฤศจิกายน", "ประจำเดือนธันวาคม"];
    const rangemonths = ["มกราคม-มิถุนายน", "กรกฎาคม-ธันวาคม"];

    function getquarter(month) {
        return quarter[month - 1];
    }
    function getMonth(month) {
        return months[month - 1];
    }
    function getBetween(month){
        return rangemonths[month - 1];
    }
    $(document).ready(function () {
        $('#list_table_json').DataTable({
            @*"autoWidth": true,
            "scrollX": true,
            "scrollY": true,*@
            scrollY: "600px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                left: 4
            },
            "language": {

                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });

    });

    $('select[name="Filter"]').change(function (e) {
        let Year = $('#ChooseYear').val();
        let PEAGroup = $('#ChoosePEAGroup').val();
        let NameTimesAYear = $('#ChooseNameTimesAYear').val();
        let Round = $('#ChooseRound').val();
        let TypeID = "3";
        let TopicID = @ViewData["TopicID"];

        if (this.id == "ChooseYear") {
            var yourlegend = document.getElementById("SpanYear");
            yourlegend.innerHTML = Year;
        }
        if (this.id == "ChooseRound") {
            var value = getquarter(Round);
            var yourlegend = document.getElementById("TextRound");
            yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + value;
        }
        if (this.id == "ChooseNameTimesAYear") {
            let round = $(this).find(':selected').data("year");
            $('#ChooseRound').find('option').remove().end();
            let raw_data = '';
            if (NameTimesAYear == "2") { // กรณีที่เลือกเป็น ไตรมาส
                for (let index = 1; index <= round; index++) {
                    var quarter = getquarter(index);
                    if (index == 1) {
                        var yourlegend = document.getElementById("TextRound");
                        yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + quarter;
                        raw_data += '<option value="' + index + '" selected> ' + quarter + '</option>';
                    }
                    else {
                        raw_data += '<option value="' + index + '" >' + quarter + '</option>';
                    }
                }
            }
            else if (NameTimesAYear == "1") { // กรณีที่เลือกเป็น ทุกเดือน หรือ ทุกครึ่งปี
                for (let index = 1; index <= round; index++) {
                    var month = getMonth(index);
                    if (index == 1) {
                        var yourlegend = document.getElementById("TextRound");
                        yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + month;
                        raw_data += '<option value="' + index + '" selected>' + month + '</option>';
                    }
                    else {
                        raw_data += '<option value="' + index + '" >' + month + '</option>';
                    }
                }
            }
            else {
                for (let index = 1; index <= round; index++) {
                    var month = getBetween(index);
                    if (index == 1) {
                        var yourlegend = document.getElementById("TextRound");
                        yourlegend.innerHTML = "ผลการดำเนินงานสะสม" + month;
                        raw_data += '<option value="' + index + '" selected>' + month + '</option>';
                    }
                    else {
                        raw_data += '<option value="' + index + '" >' + month + '</option>';
                    }
                }
            }
            $('#ChooseRound').append(raw_data);
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("FilterYear", "ReportResults")',
            data: { Year: Year, PEAGroup: PEAGroup, NameTimesAYear: NameTimesAYear, Round: Round, TypeID: TypeID, TopicID: TopicID },
            dataType: "json",
            beforeSend: function () {
                // setting a timeout
                @*$('#list_table_json').DataTable().clear().destroy();*@

                $("#loadMe").modal({
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard
                    show: true //Display loader!
                });
            },
            success: function (data) {
                @*console.log(data)*@
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                     console.log(data["Data"]);
                     $.fn.dataTable.FixedColumns.prototype.destroy = function () {
                        var nodes = ['body', 'footer', 'header'];

                        //remove the cloned nodes
                        for (var i = 0, l = nodes.length; i < l; i++) {
                            if (this.dom.clone.left[nodes[i]]) {
                                this.dom.clone.left[nodes[i]].parentNode.removeChild(this.dom.clone.left[nodes[i]]);
                            }
                            if (this.dom.clone.right[nodes[i]]) {
                                this.dom.clone.right[nodes[i]].parentNode.removeChild(this.dom.clone.right[nodes[i]]);
                            }
                        }

                        //remove event handlers
                        $(this.s.dt.nTable).off('column-sizing.dt.DTFC destroy.dt.DTFC draw.dt.DTFC');

                        $(this.dom.scroller).off('scroll.DTFC mouseover.DTFC');
                        $(window).off('resize.DTFC');

                        $(this.dom.grid.left.liner).off('scroll.DTFC wheel.DTFC mouseover.DTFC');
                        $(this.dom.grid.left.wrapper).remove();

                        $(this.dom.grid.right.liner).off('scroll.DTFC wheel.DTFC mouseover.DTFC');
                        $(this.dom.grid.right.wrapper).remove();

                        $(this.dom.body).off('mousedown.FC mouseup.FC mouseover.FC click.FC');

                        //remove DOM elements
                        var $scroller = $(this.dom.scroller).parent();
                        var $wrapper = $(this.dom.scroller).closest('.DTFC_ScrollWrapper');
                        $scroller.insertBefore($wrapper);
                        $wrapper.remove();

                        //cleanup variables for GC
                        delete this.s;
                        delete this.dom;
                     };

                     $('#list_table_json').DataTable().destroy();
                     $('#list_table_json').empty();
                     var event_data = '';
                     event_data += '<thead>';
                     event_data += '<tr>';
                     if (@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0) {
                        @*alert(@Employee.PermissionCode);*@
                        event_data += '<th rowspan="2" style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;"></th>';
                        event_data += '<th rowspan="2" style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">All</th>';
                     }
                     else if (@StringToInt(Employee.PermissionCode) <= 30 && @StringToInt(Employee.PermissionCode) >= 20)
                     {
                        event_data += '<th rowspan="2" style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">All</th>';
                     }
                     event_data += '<th rowspan="2" style="white-space: nowrap; width: 35px; text-align: center; vertical-align: middle;">ลำดับ</th>';
                     event_data += '<th rowspan="2" style="white-space: nowrap; width: 200px; text-align: center; vertical-align: middle;">แผนงาน</th>';
                     event_data += '<th rowspan="2" style="white-space: nowrap; width: 200px; text-align: center; vertical-align: middle;">กิจกรรม</th>';
                     event_data += '<th rowspan="2" style="white-space: nowrap; width: 100px; text-align: center; vertical-align: middle;">ผู้ประเมิน</th>';
                     let rowList = data["Data"].length; // Model.RawDataSectionModelLists.Count;
                     let CountPEA = 0;
                     if (rowList > 0) {
                        CountPEA = data["Data"][0].PEA.length; // Model.RawDataSectionModelLists[0].PEA.Count;
                     }
                     event_data += '<th colspan="' + CountPEA + '" style="width:385px;white-space: nowrap;text-align: center; vertical-align: middle;">ผลการดำเนินงาน</th>';
                     event_data += '</tr>';
                     event_data += '<tr>';
                     for (let row = 0; row < data["Data"].length; row++) {
                        for (let index = 0; index < data["Data"][row].PEA.length; index++) {
                            event_data += '<th style="white-space: nowrap; width: 100px; text-align: center; vertical-align: middle;">' + data["Data"][row].PEA[index].PEA_OfficeNAME + '</th>';
                        }
                        break;
                     }
                     event_data += '</tr>';
                     event_data += '</thead>';
                     event_data += '<tbody style="color: #000000">';

                     for (let row = 0; row < data["Data"].length; row++) {
                        event_data += '<tr>';

                        if (@StringToInt(Employee.PermissionCode) <= 10 && @StringToInt(Employee.PermissionCode) >= 0) {
                            event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">';
                            event_data += '<button type="button" id="' + data["Data"][row].ID + '" class="btn btn-primary-outline" ';
                            event_data += 'onclick="confirmDelete(this.id,' + "'" + data["Data"][row].GroupSection + "'" +',' + row + ')" data-id="" ';
                            event_data += 'title="ลบมาสเตอร์">';
                            event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">';
                            event_data += '<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>';
                            event_data += '</svg>';
                            event_data += '</button>';
                            event_data += '</th>';
                            event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">';
                            event_data += '<input type="checkbox" id="SelectAll-' + row + '" name="SelectAll-' + row + '" data-toggle="toggle" style="transform: scale(1.5);">';
                            event_data += '</th>';
                        }
                        else if (@StringToInt(Employee.PermissionCode) <= 30 && @StringToInt(Employee.PermissionCode) >= 20)
                        {
                            event_data += '<th style="white-space: nowrap; width: 25px; text-align: center; vertical-align: middle;">';
                            event_data += '<input type="checkbox" id="SelectAll-' + row + '" name="SelectAll-' + row + '" data-toggle="toggle" style="transform: scale(1.5);">';
                            event_data += '</th>';
                        }


                        event_data += '<th style="text-align: center;width: 35px;">' + (row + 1) + '</th>';
                        event_data += '<th style="width: 200px; vertical-align: top;">' + data["Data"][row].Plans ;

                        if (data["Data"][row].Segment == "0")
                        {
                            event_data += '<p style="color:red">' + data["Data"][row].SegmentName + '</p> </th>';
                        }
                        else if (data["Data"][row].Segment == "1")
                        {
                            event_data += '<p style="color:blue">' + data["Data"][row].SegmentName + '</p> </th>';
                        }
                        else if (data["Data"][row].Segment == "2")
                        {
                            event_data += '<p style="color:green">' + data["Data"][row].SegmentName + '</p> </th>';
                        }

                        event_data += '<th style="width: 200px; vertical-align: top;">' + data["Data"][row].SectionName + '</th>';
                        event_data += '<th style="text-align: center; width: 100px;">' + data["Data"][row].AssessorDepartment + '</th>';

                        for (let index = 0; index < data["Data"][row].PEA.length; index++) {

                            if (data["Data"][row].PEA[index].Result == "1") {
                                event_data += '<th>';
                                event_data += '<label class="btn btn-outline-success btn-block">';
                                event_data += 'ผ่าน';
                                event_data += '</label>';
                                if (data["Data"][row].PEA[index].CheckBox == "1")
                                {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"][row].PEA[index].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"][row].PEA[index].ID + "', '" + data["Data"][row].PEA[index].ForeignSection + "', '" + data["Data"][row].Plans + "', '" + data["Data"][row].Target + "', '" + data["Data"][row].TargetFile + "', '" + data["Data"][row].PEA[index].TRSG + "', '" + row + "', '" + index + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                                event_data += '</th>';
                            }
                            else if (data["Data"][row].PEA[index].Result == "0") {
                                event_data += '<th>';
                                event_data += '<label class="btn btn-outline-danger btn-block">ไม่ผ่าน</label>';
                                if (data["Data"][row].PEA[index].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"][row].PEA[index].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"][row].PEA[index].ID + "', '" + data["Data"][row].PEA[index].ForeignSection + "', '" + data["Data"][row].Plans + "', '" + data["Data"][row].Target + "', '" + data["Data"][row].TargetFile + "', '" + data["Data"][row].PEA[index].TRSG + "', '" + row + "', '" + index + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                                event_data += '</th>';
                            }
                            else if (data["Data"][row].PEA[index].Result == "-99") {
                                event_data += '<th>';
                                event_data += '<label class="btn btn-outline-secondary btn-block">N/A</label>';
                                if (data["Data"][row].PEA[index].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"][row].PEA[index].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"][row].PEA[index].ID + "', '" + data["Data"][row].PEA[index].ForeignSection + "', '" + data["Data"][row].Plans + "', '" + data["Data"][row].Target + "', '" + data["Data"][row].TargetFile + "', '" + data["Data"][row].PEA[index].TRSG + "', '" + row + "', '" + index + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                                event_data += '</th>';
                            }
                            else {
                                event_data += '<th>';
                                event_data += '<label class="btn btn-outline-warning btn-block">-</label>';
                                if (data["Data"][row].PEA[index].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"][row].PEA[index].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"][row].PEA[index].ID + "', '" + data["Data"][row].PEA[index].ForeignSection + "', '" + data["Data"][row].Plans + "', '" + data["Data"][row].Target + "', '" + data["Data"][row].TargetFile + "', '" + data["Data"][row].PEA[index].TRSG + "', '" + row + "', '" + index + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                                event_data += '</th>';
                            }
                        }
                        event_data += '</tr>';
                     }
                     event_data += '</tbody >';
                     $("#list_table_json").append(event_data);
                     $('#list_table_json').DataTable({
                        @*"autoWidth": true,
                        "scrollX": true,
                        "scrollY": true,*@
                        scrollY: "600px",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: false,
                        fixedColumns: {
                            left: 4
                        },
                        "language": {

                            "search": '<i class="fa fa-search"></i>',
                            "searchPlaceholder": "search",
                        }, "aaSorting": []
                     });
                     @*$("#loadMe").modal("hide");*@
                     Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                     ).then(function () {
                        $("#loadMe").modal("hide");
                     });
                }
                else {
                     Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                     }).then(function () {
                         $("#loadMe").modal("hide");

                         $("#list_table_json").closest('table').find('tbody').hide();

                         @*$('#list_table_json').DataTable().clear().destroy();*@

                     });
                }
            },
            error: function (error) {
                @*alert(error);*@
                $("#loadMe").modal("hide");

                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    });


    function OpenModal(ID, ForeignSection, Plans, Target, TargetFile,TRSG,row,column) {
        $('#KeyID').val(ID);
        $('#ForeignSection').val(ForeignSection);
        $('#TRSG').val(TRSG);
        $('#Plans').text(Plans);
        $('#Target').text(Target);
        $('#RowTable').val(row);
        $('#ColumnTable').val(column);

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDataResult", "ReportResults")',
            data: { ID: ID },
            dataType: "json",
            success: function (data) {
                @*console.log(data);*@

                if(data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                    $('#Report').val(data["Data"][0].Report);
                    $('#PerformanceText').val(data["Data"][0].PerformanceText);
                    $('#PerformanceText2').val(data["Data"][0].PerformanceText2);

                    let dateStringAdmin = data["DateTimeAdmin"];
                    let dateStringUser = data["DateTimeUser"];

                    if (data["Data"][0].UsernameAdmin != '') {
                        $('#UsernameAdmin').text(data["Data"][0].UsernameAdmin);
                        $('#DatetimeADmin').text(dateStringAdmin);
                    }
                    else {
                        $('#UsernameAdmin').text('');
                        $('#DatetimeADmin').text('');
                    }

                    if (data["Data"][0].UsernameUser != '') {
                        $('#UsernameUser').text(data["Data"][0].UsernameUser);
                        $('#DatetimeUser').text(dateStringUser);
                    }
                    else {
                        $('#UsernameUser').text('');
                        $('#DatetimeUser').text('');
                    }

                    if (data["Data"][0].UsernameAdmin != '' && data["Data"][0].UsernameUser == '') { // กรณีผู้ประเมินลงคะแนน และไม่มีผู้มาโต้แย้ง
                        $('#hiddenBlockStampAdmin').show();
                        $('#hiddenBlockReportAdmin').hide();
                        $('#hiddenBlockConfirmAdmin').hide();
                        $('#hiddenBlockStampUser').hide();
                    }
                    else if (data["Data"][0].UsernameUser != '') { // มีผู้มาโต้แย้ง
                        $('#hiddenBlockReportAdmin').show();
                        $('#hiddenBlockConfirmAdmin').show();
                        $('#hiddenBlockStampAdmin').show();
                        $('#hiddenBlockStampUser').show();
                    }
                    else { // ยังไม่ได้รับการประเมิน
                        $('#hiddenBlockReportAdmin').hide();
                        $('#hiddenBlockConfirmAdmin').hide();
                        $('#hiddenBlockStampAdmin').hide();
                        $('#hiddenBlockStampUser').hide();
                    }

                    @*if (data["Data"][0].UsernameAdmin != '') {
                        $('#hiddenBlockReportAdmin').show();
                        $('#hiddenBlockConfirmAdmin').show();
                        $('#hiddenBlockStampAdmin').show();
                    }*@

                    var radioConfirm = document.getElementsByName("ConfirmAdmin");
                    if (data["Data"][0].CheckBox == "1") {
                        radioConfirm[0].checked = true;
                        @*$('#hiddenBlockStampAdmin').show();*@
                    }
                    else {
                        radioConfirm[0].checked = false;
                    }

                    var radios = document.getElementsByName("Result");
                    for (var j = 0; j < radios.length; j++) {
                        if (radios[j].value == data["Data"][0].Result) {
                            radios[j].checked = true;
                            break;
                        }
                        else {
                            radios[j].checked = false;
                        }
                    }

                    if (TargetFile) {
                        $('#InFile').empty();
                        let event_data = '';
                        event_data += '<a class="btn" href="../Repository/PDF/MastActivity/' + TargetFile + '?@GenerateMath()"';
                        event_data += 'target="_blank" title="ไฟล์เอกสาร">';
                        event_data += '<span>';
                        event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">';
                        event_data += '<path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />';
                        event_data += '</svg>';
                        event_data += '<span>';
                        event_data += '</a>';
                        $('#InFile').append(event_data)
                    }
                    else {

                        $('#InFile').empty();
                    }
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });

        $('#exampleModalCenter').modal('show');
    }

    function confirmDelete(ID, GroupSection,indexRow) {
        @*let ID = $('#HiddenID').val();*@
        let Hiddenrow = indexRow;
        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ลบทิ้ง!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteSection", "ReportResults")',
                    data: { ID: ID, GroupSection: GroupSection },
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                            Swal.fire({
                                title: 'ลบแล้ว!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {

                                @*$('#exampleModalCenter').modal('hide');
                                location.reload();*@
                                location.reload();
                                @*var myTable = $('#list_table_json').DataTable();
                                myTable.row(Hiddenrow).remove().draw();*@

                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }
    function ConfirmInsert() {
        let PerformanceText = $("#PerformanceText").val();
        let Result = $('input[name="Result"]:checked').val();
        let Report = $("#Report").val();
        let KeyID = $("#KeyID").val();
        let ForeignSection = $("#ForeignSection").val();
        let TRSG = $("#TRSG").val();
        let PerformanceText2 = $('#PerformanceText2').val();
        let Round = $('#ChooseRound').val();
        let CheckBox = $('input[name="ConfirmAdmin"]:checked').val();

        let CheckRow = $('#RowTable').val();

        let checkedValue = $('#SelectAll-' + CheckRow).prop('checked');

        let CheckAdmin = $('#HiddenValuePermission').val();
        if (CheckAdmin == "1") {
            if (PerformanceText2 != '') {
                if (!CheckBox) { // เช็ค
                    let notifierCheckbox = document.getElementById("ConfirmAdmin");
                    notifierCheckbox.focus();
                    notifierCheckbox.setCustomValidity("โปรดยืนยันการชี้แจง.");
                    notifierCheckbox.reportValidity();
                    return;
                }
            }
        }

        var formData = new FormData();
        formData.append("ID", KeyID);
        formData.append("ForeignSection", ForeignSection);
        formData.append("TRSG", TRSG);
        formData.append("Round", Round);
        formData.append("PerformanceText", PerformanceText);
        formData.append("Result", Result);
        formData.append("Report", Report);

        formData.append("PerformanceText2", PerformanceText2);
        formData.append("CheckBox", CheckBox);

        let Year = $('#ChooseYear').val();
        let NameTimesAYear = $('#ChooseNameTimesAYear').val();
        formData.append("CheckYear", Year);
        formData.append("CheckTimesAYear", NameTimesAYear);
        formData.append("CheckInsertAll", checkedValue);

        $.ajax({
            url: "@Url.Action("Insert", "ReportResults")",
            dataType: 'json',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                // setting a timeout
                @*$("#BtnSave").attr("disabled", true);*@
            },
            success: function (data) {
                @*console.log(data);*@
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "0") {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        @*resetLabelAndBtn();*@
                    });
                }
                else if (data["Status"] == "1") {
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        @*$('#exampleModalCenter').modal('hide');*@
                        @*location.reload();*@

                        if (data["CheckAll"] == "1" && data["IsAdmin"] == "1") {
                            let rowTable = $('#RowTable').val();

                            // CheckBoxAll = false
                            $('#SelectAll-' + CheckRow).prop("checked", false);
                            //

                            for (let index = 0; index < data["DataAll"].length; index++) {
                                let event_data = '';
                                if (data["DataAll"][index].Result == "1") {
                                    event_data += '<label class="btn btn-outline-success btn-block">';
                                    event_data += 'ผ่าน';
                                    event_data += '</label>';
                                    if (data["DataAll"][index].CheckBox == "1") {
                                        event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                    }
                                    else if (data["DataAll"][index].UpdateUser == "") {
                                        event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                    }
                                    else {
                                        event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                    }
                                    event_data += 'onclick="OpenModal(' + "'" + data["DataAll"][index].ID + "', '" + data["DataAll"][index].ForeignSection + "', '" + data["DataAll"][index].Plans + "', '" + data["DataAll"][index].Target + "', '" + data["DataAll"][index].TargetFile + "', '" + data["DataAll"][index].TRSG + "', '" + rowTable + "', '" + index + "'" + ')">';
                                    event_data += 'ประเมินผล/ชี้แจง';
                                    event_data += '</button>';
                                }
                                else if (data["DataAll"][index].Result == "0") {
                                    event_data += '<label class="btn btn-outline-danger btn-block">ไม่ผ่าน</label>';
                                    if (data["DataAll"][index].CheckBox == "1") {
                                        event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                    }
                                    else if (data["DataAll"][index].UpdateUser == "") {
                                        event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                    }
                                    else {
                                        event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                    }
                                    event_data += 'onclick="OpenModal(' + "'" + data["DataAll"][index].ID + "', '" + data["DataAll"][index].ForeignSection + "', '" + data["DataAll"][index].Plans + "', '" + data["DataAll"][index].Target + "', '" + data["DataAll"][index].TargetFile + "', '" + data["DataAll"][index].TRSG + "', '" + rowTable + "', '" + index + "'" + ')">';
                                    event_data += 'ประเมินผล/ชี้แจง';
                                    event_data += '</button>';
                                }
                                else if (data["DataAll"][index].Result == "-99") {
                                    event_data += '<label class="btn btn-outline-secondary btn-block">N/A</label>';
                                    if (data["DataAll"][index].CheckBox == "1") {
                                        event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                    }
                                    else if (data["DataAll"][index].UpdateUser == "") {
                                        event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                    }
                                    else {
                                        event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                    }
                                    event_data += 'onclick="OpenModal(' + "'" + data["DataAll"][index].ID + "', '" + data["DataAll"][index].ForeignSection + "', '" + data["DataAll"][index].Plans + "', '" + data["DataAll"][index].Target + "', '" + data["DataAll"][index].TargetFile + "', '" + data["DataAll"][index].TRSG + "', '" + rowTable + "', '" + index + "'" + ')">';
                                    event_data += 'ประเมินผล/ชี้แจง';
                                    event_data += '</button>';
                                }
                                else {
                                    event_data += '<label class="btn btn-outline-warning btn-block">-</label>';
                                    if (data["DataAll"][index].CheckBox == "1") {
                                        event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                    }
                                    else if (data["DataAll"][index].UpdateUser == "") {
                                        event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                    }
                                    else {
                                        event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                    }
                                    event_data += 'onclick="OpenModal(' + "'" + data["DataAll"][index].ID + "', '" + data["DataAll"][index].ForeignSection + "', '" + data["DataAll"][index].Plans + "', '" + data["DataAll"][index].Target + "', '" + data["DataAll"][index].TargetFile + "', '" + data["DataAll"][index].TRSG + "', '" + rowTable + "', '" + index + "'" + ')">';
                                    event_data += 'ประเมินผล/ชี้แจง';
                                    event_data += '</button>';
                                }

                                let sumcolumn = parseInt(index) + data["Move"];

                                var table = $('#list_table_json').DataTable();
                                var idx = table
                                    .row(rowTable)
                                    .index();
                                table.cell(idx, sumcolumn).data(event_data).draw(false);
                            }
                        }
                        else if (data["IsAdmin"] == "1") {
                            let rowTable = $('#RowTable').val();
                            let columnTable = $('#ColumnTable').val();

                            let event_data = '';
                            if (data["Data"].Result == "1") {
                                event_data += '<label class="btn btn-outline-success btn-block">';
                                event_data += 'ผ่าน';
                                event_data += '</label>';
                                if (data["Data"].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"].ID + "', '" + data["Data"].ForeignSection + "', '" + data["Data"].Plans + "', '" + data["Data"].Target + "', '" + data["Data"].TargetFile + "', '" + data["Data"].TRSG + "', '" + rowTable + "', '" + columnTable + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                            }
                            else if (data["Data"].Result == "0") {
                                event_data += '<label class="btn btn-outline-danger btn-block">ไม่ผ่าน</label>';
                                if (data["Data"].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"].ID + "', '" + data["Data"].ForeignSection + "', '" + data["Data"].Plans + "', '" + data["Data"].Target + "', '" + data["Data"].TargetFile + "', '" + data["Data"].TRSG + "', '" + rowTable + "', '" + columnTable + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                            }
                            else if (data["Data"].Result == "-99") {
                                event_data += '<label class="btn btn-outline-secondary btn-block">N/A</label>';
                                if (data["Data"].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"].ID + "', '" + data["Data"].ForeignSection + "', '" + data["Data"].Plans + "', '" + data["Data"].Target + "', '" + data["Data"].TargetFile + "', '" + data["Data"].TRSG + "', '" + rowTable + "', '" + columnTable + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                            }
                            else {
                                event_data += '<label class="btn btn-outline-warning btn-block">-</label>';
                                if (data["Data"].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"].ID + "', '" + data["Data"].ForeignSection + "', '" + data["Data"].Plans + "', '" + data["Data"].Target + "', '" + data["Data"].TargetFile + "', '" + data["Data"].TRSG + "', '" + rowTable + "', '" + columnTable + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                            }

                            let sumcolumn = parseInt(columnTable) + data["Move"];

                            var table = $('#list_table_json').DataTable();
                            var idx = table
                                .row(rowTable)
                                .index();
                            table.cell(idx, sumcolumn).data(event_data).draw(false);
                        }
                        else { // กรณีหน้างานแจ้งเหตุผลในการโต้แย้งคะแนน
                            let rowTable = $('#RowTable').val();
                            let columnTable = $('#ColumnTable').val();

                            let event_data = '';
                            if (data["Data"].Result == "1") {
                                event_data += '<label class="btn btn-outline-success btn-block">';
                                event_data += 'ผ่าน';
                                event_data += '</label>';
                                if (data["Data"].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"].ID + "', '" + data["Data"].ForeignSection + "', '" + data["Data"].Plans + "', '" + data["Data"].Target + "', '" + data["Data"].TargetFile + "', '" + data["Data"].TRSG + "', '" + rowTable + "', '" + columnTable + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                            }
                            else if (data["Data"].Result == "0") {
                                event_data += '<label class="btn btn-outline-danger btn-block">ไม่ผ่าน</label>';
                                if (data["Data"].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"].ID + "', '" + data["Data"].ForeignSection + "', '" + data["Data"].Plans + "', '" + data["Data"].Target + "', '" + data["Data"].TargetFile + "', '" + data["Data"].TRSG + "', '" + rowTable + "', '" + columnTable + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                            }
                            else if (data["Data"].Result == "-99") {
                                event_data += '<label class="btn btn-outline-secondary btn-block">N/A</label>';
                                if (data["Data"].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"].ID + "', '" + data["Data"].ForeignSection + "', '" + data["Data"].Plans + "', '" + data["Data"].Target + "', '" + data["Data"].TargetFile + "', '" + data["Data"].TRSG + "', '" + rowTable + "', '" + columnTable + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                            }
                            else {
                                event_data += '<label class="btn btn-outline-warning btn-block">-</label>';
                                if (data["Data"].CheckBox == "1") {
                                    event_data += '<button type="button" class="btn btn-outline-primary btn-block" style="color: black; background: #00BFFF" ';
                                }
                                else if (data["Data"].UpdateUser == "") {
                                    event_data += '<button type="button" class="btn btn-outline-secondary btn-block" style="color:black" ';
                                }
                                else {
                                    event_data += '<button type = "button" class="btn btn-secondary btn-block" style = "color: white; background: gray" ';
                                }
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"].ID + "', '" + data["Data"].ForeignSection + "', '" + data["Data"].Plans + "', '" + data["Data"].Target + "', '" + data["Data"].TargetFile + "', '" + data["Data"].TRSG + "', '" + rowTable + "', '" + columnTable + "'" + ')">';
                                event_data += 'ประเมินผล/ชี้แจง';
                                event_data += '</button>';
                            }

                            let sumcolumn = parseInt(columnTable) + data["Move"];

                            var table = $('#list_table_json').DataTable();
                            var idx = table
                                .row(rowTable)
                                .index();
                            table.cell(idx, sumcolumn).data(event_data).draw(false);
                        }
                        $('#exampleModalCenter').modal('hide');

                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'ไม่สามารถบันทึกได้',
                        text: data["Message"],
                    }).then(function () {

                    });
                }
            },
            error: function (d) {
                /*console.log("error");*/
                alert("404. Please wait until the File is Loaded.");
            }
        });

    }
    function Insert() {
        let CheckRow = $('#RowTable').val();
        let checkedValue = $('#SelectAll-' + CheckRow).prop('checked');
        if (checkedValue == true) {
            Swal.fire({
                title: 'คุณต้องการบันทึกข้อมูลของทุก กฟฟ. ในครั้งเดียวใช่หรือไม่?',
                text: "คุณจะไม่สามารถย้อนกลับได้!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ใช่!',
                cancelButtonText: 'ยกเลิก'
            }).then((result) => {
                if (result.isConfirmed) {
                    ConfirmInsert()
                }
            })
        }
        else {
            ConfirmInsert()
        }


    }

    //Export
    function ExportExcel() {
        let ChooseYear = $("#ChooseYear").val();
        let ChoosePEAGroup = $("#ChoosePEAGroup").val();
        let ChooseNameTimesAYear = $("#ChooseNameTimesAYear").val();
        let ChooseRound = $("#ChooseRound").val();
        let TypeID = "3";
        let TopicID = @ViewData["TopicID"];
        $.ajax({
            type: "POST",
            url: '@Url.Action("ExportToExcel", "ReportResults")',
            data: { Year: ChooseYear, PEAGroup: ChoosePEAGroup, NameTimesAYear: ChooseNameTimesAYear, Round: ChooseRound, TypeID: TypeID, TopicID: TopicID },
            @*contentType: "application/json; charset=utf-8",*@
            @*dataType: "json",*@
            xhrFields: {
                responseType: 'blob'
            },
            beforeSend: function () {
                // setting a timeout
                $("#loadMe").modal("show");
            },
            success: function (data) {
                @*console.log(data);*@

                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var downloadUrl = URL.createObjectURL(blob);
                var a = document.createElement("a");
                a.href = downloadUrl;
                a.download = "ReportFile.xlsx";
                document.body.appendChild(a);
                a.click();
                $("#loadMe").modal("hide");
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
                $("#loadMe").modal("hide");
            }
        });
    }

</script>
