﻿@{
    Layout = null;
}
@{
    var messageInfo = iPMS.Helper.MessageManager.GetMessage();
}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>iPMS</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Repository/Template/images/logo.png">
    <link href="~/Repository/Template/css/style.css" rel="stylesheet">

</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">iPMS</h4>
                                    @using (Html.BeginForm("AuthenticationByPass", "Login", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <label><strong style="color:black;">รหัสพนักงาน</strong></label>
                                            <input type="text" class="form-control" id="username" name="username" autocomplete="off" maxlength="10" autofocus>
                                        </div>
                                        <div class="form-group">
                                            <label><strong style="color:black">รหัสผ่าน</strong></label>
                                            <input type="password" class="form-control" id="password" name="password">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">เข้าสู่ระบบ</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Repository/Template/vendor/global/global.min.js"></script>
    <script src="~/Repository/Template/js/quixnav-init.js"></script>
    <script src="~/Repository/Template/js/custom.min.js"></script>
    <script src="~/Repository/Template/SweetAlert/sweetalert.min.js"></script>

    @*<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>*@
</body>

</html>

<script>
    $(document).ready(function () {
        let message = '@(messageInfo?.Message)';
        let messageType = '@(messageInfo?.IsSuccess == (bool?)true ? "success": "error")';
        if (message) {
            Swal.fire(messageType, message, messageType);
        }
    });
</script>