﻿@using iPMS.Models.SessionModel
@model iPMS.Models.ViewExecutiveAckModel
@{
    var messageInfo = iPMS.Helper.MessageManager.GetMessage();
    var Employee = this.Session["UserProfile"] as UserProfileSessionData;
}
@functions{
    public long GenerateMath()
    {
        DateTime foo = DateTime.Now;
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();
        return unixTime;
    }
    public int StringToInt(String value)
    {
        return Int16.Parse(value);
    }
    String[] list = { "ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4" };
    public String getTextQuarter(int index)
    {
        return list[index - 1];
    }
}
<link href="~/Repository/Template/spinner.css" rel="stylesheet">

<style>
    .btn-outline-danger:hover {
        background-color: white;
        color: #FF1616;
    }

    .btn-outline-success:hover {
        background-color: white;
        color: #7ED321;
    }

    .btn-outline-secondary {
        border-color: #6c757d;
        color: #6c757d;
    }

    .btn-outline-secondary:hover {
        background-color: white;
        color: #6c757d;
    }

    .btn-outline-warning:hover {
        background-color: white;
        color: #FFAA16;
    }

</style>
<div class="container-fluid">

    <div class="row page-titles mx-0">
        <div class="col-sm-12 p-md-0">
            <div class="welcome-text">
                <div class="text-center mb-4">
                    <h4>
                        ผลดำเนินงานแผนปฏิบัติ ประจำปี
                        <span id="SpanYear" style="font-size: 1.25rem">@ViewData["Year"]</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">
            <div class="card">
                <div class="header-content">
                    <div class="navbar navbar-expand" style="padding: 1.25rem 1.25rem 5px;">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                                <h4 class="card-title">ตารางสรุปผลดำเนินงาน</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">เลือกปี</span>
                                </div>
                                <select id="ChooseYear" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.YearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["Year"] as string == item.Year)
                                        {
                                            <option value="@item.Year" selected>@item.Year</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Year">@item.Year</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ระยะเวลาการวัด</span>
                                </div>
                                <select id="ChooseNameTimesAYear" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["NameTimesAYear"] as string == item.ID)
                                        {
                                            <option value="@item.ID" data-year="@item.TimesAYear" selected>@item.NameTimesAYear</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID" data-year="@item.TimesAYear">@item.NameTimesAYear</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">รอบ</span>
                                </div>
                                <select id="ChooseRound" name="Filter" class="form-control">
                                    @foreach (var (item, index) in Model.TimesAYearsModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (ViewData["NameTimesAYear"] as string == item.ID)
                                        {
                                            for (int i = 1; i <= StringToInt(item.TimesAYear); i++)
                                            {
                                                if (i.ToString() == ViewData["Round"].ToString())
                                                {
                                                    <option value="@i" selected>@getTextQuarter(i)</option>
                                                }
                                                else
                                                {
                                                    <option value="@i">@getTextQuarter(i)</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="list_table_json" name="list_table_json" style="width: 100%; table-layout: fixed; word-wrap: break-word;">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="white-space: nowrap; width: 40px; text-align: center; vertical-align: middle;">ลำดับ</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 120px; text-align: center; vertical-align: middle;">หน่วยงาน</th>
                                    <th rowspan="2" style="white-space: nowrap; width: 100px; text-align: center; vertical-align: middle;">ยอมรับผลคะแนน</th>
                                    @foreach (var (item, index) in Model.DirectorModelLists.Select((value, i) => (value, i)))
                                    {
                                        <th style="width: auto;height:35px; text-align: center; vertical-align: middle; ">@item.CostCenterName.Substring(item.CostCenterName.Length - 4)</th>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var (item, index) in Model.DirectorModelLists.Select((value, i) => (value, i)))
                                    {
                                        if (item.Manager != null && !String.IsNullOrEmpty(item.Manager))
                                        {
                                        <th style="width: auto;height:35px; text-align: center; vertical-align: middle; ">
                                            @if (item.Refuse == "0")
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                                </svg>
                                            }
                                            else
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                </svg>
                                            }

                                            @* IF กรณีที่เป็น ผู้พัฒนาหรือแอดมิน สามารถลบการยืนยันของ อก. ได้ *@
                                            @if (StringToInt(Employee.PermissionCode) >= 0 && StringToInt(Employee.PermissionCode) <= 10)
                                            {
                                                <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                        onclick="confirmDelete(this.id,'@item.TRSG', @index)"
                                                        data-id="" title="ลบการยืนยัน" style="color:black">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                    </svg>
                                                </button>
                                            }
                                            <h2 style="font-size:11px;padding-top:5px;">@item.Managertime.ToString("dd/MM/yyyy HH:mm")</h2>
                                        </th>
                                        }
                                        else
                                        {
                                            <th style="white-space: nowrap; width: auto; height: 35px; text-align: center; vertical-align: middle; ">
                                            @* ผู้พัฒนาหรือแอดมิน สามารถกดยืนยันของ อก. ได้  *@
                                            @if(StringToInt(Employee.PermissionCode) >= 0 && StringToInt(Employee.PermissionCode) <= 10)
                                            {
                                                <button type="button" id="@item.ID" class="btn btn-primary-outline" 
                                                        onclick="confirmMgtDirector(this.id, '@item.TRSG', @index)"
                                                        data-id="" title="ยืนยันผลดำเนินงาน" style="color:black">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                        <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                                    </svg>
                                                </button>
                                            }
                                            @* IF กรณีที่เป็น อก. จะสามารถกดยืนยันผลการดำเนินการได้ *@
                                            else if( (StringToInt(Employee.PermissionCode) == 40 && Employee.Mast_TRSG == item.TRSG)) 
                                            { 
                                                <button type="button" id="@item.ID" class="btn btn-primary-outline" 
                                                        onclick="confirmMgtDirector(this.id, '@item.TRSG', @index)"
                                                        data-id="" title="ยืนยันผลดำเนินงาน" style="color:black">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                        <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                                    </svg>
                                                </button>
                                            }
                                            </th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                @foreach (var (item, index) in Model.PEAModelLists.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        <td style="width: 40px; text-align: center; vertical-align: middle; ">
                                            @(index+1)
                                        </td>
                                        <td style="width: 120px; text-align: center; vertical-align: middle; ">
                                            @item.PEA_OfficeNAME
                                        </td>
                                        <td style="width: 70px; text-align: center; vertical-align: middle; ">
                                            @if (item.Manager != null && !String.IsNullOrEmpty(item.Manager))
                                            {
                                                if (item.Refuse == "0")
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                                    </svg>
                                                }
                                                else
                                                {
                                                    <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                            onclick="OpenModalMessage('@item.Message')"
                                                            data-id="" title="การชี้แจง" style="color:black">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                        </svg>
                                                    </button>
                                                }

                                                @* IF กรณีที่เป็น ผู้พัฒนาหรือแอดมิน สามารถลบการยืนยันของ ผจก. ได้ *@
                                                if (StringToInt(Employee.PermissionCode) >= 0 && StringToInt(Employee.PermissionCode) <= 10)
                                                {
                                                    <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                            onclick="confirmDeleteManager(this.id,'@item.TRSG', @index)"
                                                            data-id="" title="ลบการยืนยัน" style="color:black">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                        </svg>
                                                    </button>
                                                }

                                                <h2 style="font-size:11px;padding-top:5px">@item.Managertime.ToString("dd/MM/yyyy HH:mm")</h2>
                                            }
                                            @* ผู้พัฒนาหรือแอดมิน สามารถกดยืนยันของ ผจก. ได้  *@
                                            @if (StringToInt(Employee.PermissionCode) >= 0 && StringToInt(Employee.PermissionCode) <= 10
                                                && (item.Manager == "" && String.IsNullOrEmpty(item.Manager)))
                                            {
                                                <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                        onclick="confirmMgtManager(this.id,'@item.TRSG',@index)"
                                                        data-id="" title="ยอมรับผลดำเนินงาน" style="color:black">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                        <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                                    </svg>
                                                </button>
                                                <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                        onclick="RefuseMgtManager(this.id,'@item.TRSG',@index)"
                                                        data-id="" title="ไม่ยอมรับผลดำเนินงาน" style="color:black">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                                        <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                                    </svg>
                                                </button>
                                            }
                                            @* IF กรณีที่เป็น อก. จะสามารถกดยืนยันผลการดำเนินการได้ *@
                                            else if (((StringToInt(Employee.PermissionCode) == 50 && Employee.Mast_TRSG == item.TRSG))
                                                && (item.Manager == "" && String.IsNullOrEmpty(item.Manager)))
                                            {
                                                <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                        onclick="confirmMgtManager(this.id,'@item.TRSG',@index)"
                                                        data-id="" title="ยอมรับผลดำเนินงาน" style="color:black">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                        <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                                    </svg>
                                                </button>
                                                <button type="button" id="@item.ID" class="btn btn-primary-outline"
                                                        onclick="RefuseMgtManager(this.id,'@item.TRSG',@index)"
                                                        data-id="" title="ไม่ยอมรับผลดำเนินงาน" style="color:black">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                                        <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                                    </svg>
                                                </button>
                                            }
                                        </td>
                                        @foreach (var (ListPEA, indexPEA) in item.score.Select((value, i) => (value, i)))
                                        {
                                            if(ListPEA.Counting == ListPEA.Total)
                                            {
                                                <td style="width: auto; text-align: center; vertical-align: middle;">
                                                    <button class="btn btn-outline-primary" style="background: none; border: none; color: #593bdb;font-size:16px" 
                                                            onclick="OpenModal('@ListPEA.TRSG', '@ListPEA.ID')">
                                                        @ListPEA.Counting / @ListPEA.Total
                                                    </button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="width: auto; text-align: center; vertical-align: middle;">
                                                    <button class="btn btn-outline-primary" style="background: none; border: none; color: red; font-weight: bold; font-size: 16px" 
                                                            onclick="OpenModal('@ListPEA.TRSG', '@ListPEA.ID')">
                                                        @ListPEA.Counting / @ListPEA.Total
                                                    </button>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="exampleModalCenter" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> รายละเอียดหัวข้อกิจกรรม </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="list_table_json_Modal" name="list_table_json_Modal" style="width: 100%; table-layout: fixed; word-wrap: break-word;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap; width: 10px; text-align: center; vertical-align: middle;">ลำดับ</th>
                                    <th style="white-space: nowrap; width: 100px; text-align: center; vertical-align: middle;">แผนงาน</th>
                                    <th style="white-space: nowrap; width: 100px; text-align: center; vertical-align: middle;">กิจกรรม</th>
                                    <th style="white-space: nowrap; width: 100px; text-align: center; vertical-align: middle;">เป้าหมาย</th>
                                    <th style="white-space: nowrap; width: 50px; text-align: center; vertical-align: middle;">ผู้ประเมิน</th>
                                    <th style="white-space: nowrap; width: 70px; text-align: center; vertical-align: middle;">ผลดำเนินงาน</th>
                                </tr>
                            </thead>
                            <tbody style="color: #000000">
                                
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary" onclick="Insert()">บันทึก</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>รอสักครู่ กำลังโหลดข้อมูล</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCenterRefuse" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ไม่ยอมรับผลดำเนินงาน</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="RefuseHiddenID" type="hidden" value="" />
                <input id="RefuseHiddenTRSG" type="hidden" value="" />
                <input id="RefuseHiddenindexRow" type="hidden" value="" />
                <div class="form-group row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="MessageReq" class="col-form-label" style="color:black">ชี้แจง<span class="text-danger"> * </span></label>
                            <textarea class="form-control" id="MessageReq" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ConfirmRefuse()">บันทึก</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalOpenMessage" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ไม่ยอมรับผลดำเนินงาน</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="MessageRes" class="col-form-label" style="color:black">ชี้แจง<span class="text-danger"> * </span></label>
                            <textarea class="form-control" id="MessageRes" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    const quarter = ["ไตรมาส 1", "ไตรมาส 1-2", "ไตรมาส 1-3", "ไตรมาส 1-4"];
    const months = ["ประจำเดือนมกราคม", "ประจำเดือนกุมภาพันธ์", "ประจำเดือนมีนาคม", "ประจำเดือนเมษายน"
        , "ประจำเดือนพฤษภาคม", "ประจำเดือนมิถุนายน", "ประจำเดือนกรกฎาคม", "ประจำเดือนสิงหาคม"
        , "ประจำเดือนกันยายน", "ประจำเดือนตุลาคม", "ประจำเดือนพฤศจิกายน", "ประจำเดือนธันวาคม"];
    const rangemonths = ["มกราคม-มิถุนายน", "กรกฎาคม-ธันวาคม"];

    function getquarter(month) {
        return quarter[month - 1];
    }
    function getMonth(month) {
        return months[month - 1];
    }
    function getBetween(month){
        return rangemonths[month - 1];
    }
    $(document).ready(function () {
        $('#list_table_json').DataTable({
            scrollY: "600px",
            @*scrollX: true,*@
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                left: 2
            },
            columnDefs: [{ orderable: false, targets: [3,4,5,6,7,8,9,10,11,12] }],
            "language": {

                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
            }, "aaSorting": []
        });

    });

    function formattime(date) {
        let days = date.getDay().toString();
        let month = date.getMonth().toString();
        let year = date.getFullYear().toString();
        let hours = date.getHours().toString();
        let minutes = date.getMinutes().toString();
        let forString = days + "/" + month + "/" + year + " " + hours + ":" + minutes
        return forString;
    }

    $('select[name="Filter"]').change(function (e) {
        let Year = $('#ChooseYear').val();
        let NameTimesAYear = $('#ChooseNameTimesAYear').val();
        let Round = $('#ChooseRound').val();

        if (this.id == "ChooseYear") {
            var yourlegend = document.getElementById("SpanYear");
            yourlegend.innerHTML = Year;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("FilterYear", "Executive")',
            data: { Year: Year, NameTimesAYear: NameTimesAYear, Round: Round },
            dataType: "json",
            beforeSend: function () {
                // setting a timeout
                $('#list_table_json').DataTable().clear().destroy();

                $("#loadMe").modal({
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard
                    show: true //Display loader!
                });
            },
            success: function (data) {
                @*console.log(data)*@
                if (data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {
                    //console.log(data["Data"]);
                    //$('#list_table_json').DataTable().clear().destroy();
                    let event_data = '';

                    for (let i = 0; i < data["Data"]["PEAModelLists"].length; i++) {

                        event_data += '<tr> ';
                        event_data += '<td style="width: 40px; text-align: center; vertical-align: middle; "> ';
                        event_data += (i+1);
                        event_data += '</td> ';
                        event_data += '<td style="width: 120px; text-align: center; vertical-align: middle; "> ';
                        event_data += data["Data"]["PEAModelLists"][i].PEA_OfficeNAME ;
                        event_data += ' </td> ';
                        event_data += '<td style="width: 70px; text-align: center; vertical-align: middle; "> ';
                        if (data["Data"]["PEAModelLists"][i].Manager)
                        {
                            if (data["Data"]["PEAModelLists"][i].Refuse == "0") {
                                event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16"> ';
                                event_data += '<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" /> ';
                                event_data += '</svg> ';
                            }
                            else {
                                @*event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"> ';
                                event_data += '<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /> ';
                                event_data += '</svg >';*@

                                @* ปุ่มกดได้ *@
                                event_data += '<button type="button" id="' + data["Data"]["PEAModelLists"][i].ID + '" class="btn btn-primary-outline" ';
                                event_data += 'onclick="OpenModalMessage(' + "'" + data["Data"]["PEAModelLists"][i].Message + "'" + ')" ';
                                event_data += 'data-id="" title="การชี้แจง" style="color:black"> ';
                                event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"> ';
                                event_data += '<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /> ';
                                event_data += '</svg > ';
                                event_data += '</button> ';
                            }
                            @* IF กรณีที่เป็น ผู้พัฒนาหรือแอดมิน สามารถลบการยืนยันของ ผจก.ได้ *@
                            if (@StringToInt(Employee.PermissionCode) >= 0 && @StringToInt(Employee.PermissionCode) <= 10)
                            {
                                event_data += '<button type="button" id="' + data["Data"]["PEAModelLists"][i].ID + '" class="btn btn-primary-outline" ';
                                event_data += 'onclick="confirmDeleteManager(this.id,' + "'" + data["Data"]["PEAModelLists"][i].TRSG + "'," + i + ')" ';
                                event_data += 'data-id="" title="ลบการยืนยัน" style="color:black"> ';
                                event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"> ';
                                event_data += '<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path> ';
                                event_data += '</svg> ';
                                event_data += '</button> ';
                            }
                            event_data += '<h2 style="font-size:11px;padding-top:5px;">' + formattime(new Date(parseInt(data["Data"]["PEAModelLists"][i].Managertime.substr(6, 13)))) + '</h2>';
                        }
                        @* ผู้พัฒนาหรือแอดมิน สามารถกดยืนยันของ ผจก. ได้  *@
                        if (@StringToInt(Employee.PermissionCode) >= 0 && @StringToInt(Employee.PermissionCode) <= 10
                            && (data["Data"]["PEAModelLists"][i].Manager == "" && !data["Data"]["PEAModelLists"][i].Manager))
                        {
                            event_data += '<button type="button" id="' + data["Data"]["PEAModelLists"][i].ID + '" class="btn btn-primary-outline" ';
                            event_data += 'onclick="confirmMgtManager(this.id,' + "'" + data["Data"]["PEAModelLists"][i].TRSG + "'" + ',' + i + ')" ';
                            event_data += 'data-id="" title="ยอมรับผลดำเนินงาน" style="color:black"> ';
                            event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16"> ';
                            event_data += '<path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" /> ';
                            event_data += '</svg> ';
                            event_data += '</button> ';

                            event_data += '<button type="button" id="' + data["Data"]["PEAModelLists"][i].ID + '" class="btn btn-primary-outline" ';
                            event_data += 'onclick="RefuseMgtManager(this.id,' + "'" + data["Data"]["PEAModelLists"][i].TRSG + "'" + ',' + i + ')" ';
                            event_data += 'data-id="" title="ไม่ยอมรับผลดำเนินงาน" style="color:black"> ';
                            event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16"> ';
                            event_data += '<path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" /> ';
                            event_data += '</svg> ';
                            event_data += '</button> ';
                        }
                        else if (((@StringToInt(Employee.PermissionCode) == 50 && '@Employee.Mast_TRSG' == data["Data"]["PEAModelLists"][i].TRSG))
                            && (data["Data"]["PEAModelLists"][i].Manager == "" && !data["Data"]["PEAModelLists"][i].Manager ))
                        {
                            event_data += '<button type="button" id="' + data["Data"]["PEAModelLists"][i].ID + '" class="btn btn-primary-outline" ';
                            event_data += 'onclick="confirmMgtManager(this.id,' + "'" + data["Data"]["PEAModelLists"][i].TRSG + "'" + ',' + i + ')" ';
                            event_data += 'data-id="" title="ยอมรับผลดำเนินงาน" style="color:black"> ';
                            event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16"> ';
                            event_data += '<path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" /> ';
                            event_data += '</svg> ';
                            event_data += '</button> ';

                            event_data += '<button type="button" id="' + data["Data"]["PEAModelLists"][i].ID + '" class="btn btn-primary-outline" ';
                            event_data += 'onclick="RefuseMgtManager(this.id,' + "'" + data["Data"]["PEAModelLists"][i].TRSG + "'" + ',' + i + ')" ';
                            event_data += 'data-id="" title="ไม่ยอมรับผลดำเนินงาน" style="color:black"> ';
                            event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16"> ';
                            event_data += '<path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" /> ';
                            event_data += '</svg> ';
                            event_data += '</button> ';

                        }
                        event_data += '</td> ';
                        for (let j = 0; j < data["Data"]["PEAModelLists"][i].score.length; j++)
                        {
                            if (data["Data"]["PEAModelLists"][i].score[j].Counting == data["Data"]["PEAModelLists"][i].score[j].Total) {
                                event_data += '<td style="width: auto; text-align: center; vertical-align: middle; "> ';
                                event_data += '<button class="btn btn-outline-primary" style="background: none; border: none; color: #593bdb;font-size:16px" ';
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"]["PEAModelLists"][i].score[j].TRSG + "', '" + data["Data"]["PEAModelLists"][i].score[j].ID + "'" + ')"> ';
                                event_data += data["Data"]["PEAModelLists"][i].score[j].Counting + " / " + data["Data"]["PEAModelLists"][i].score[j].Total;
                                event_data += '</button>';
                                event_data += '</td> ';
                            }
                            else {
                                event_data += '<td style="width: auto; text-align: center; vertical-align: middle; "> ';
                                event_data += '<button class="btn btn-outline-primary" style="background: none; border: none; color: red; font-weight: bold; font-size: 16px" ';
                                event_data += 'onclick="OpenModal(' + "'" + data["Data"]["PEAModelLists"][i].score[j].TRSG + "', '" + data["Data"]["PEAModelLists"][i].score[j].ID + "'" + ')"> ';
                                event_data += data["Data"]["PEAModelLists"][i].score[j].Counting + " / " + data["Data"]["PEAModelLists"][i].score[j].Total;
                                event_data += '</button>';
                                event_data += '</td> ';
                            }
                        }
                        event_data += '</tr> ';
                    }



                     $("#list_table_json").append(event_data);

                     $('#list_table_json').DataTable({
                        scrollY: "600px",
                        scrollCollapse: true,
                        paging: false,
                        fixedColumns: {
                            left: 2
                        },
                        columnDefs: [{ orderable: false, targets: [3,4,5,6,7,8,9,10,11,12] }],
                        "language": {

                            "search": '<i class="fa fa-search"></i>',
                            "searchPlaceholder": "search",
                        }, "aaSorting": []
                    });


                    for (let i = 0; i < data["Data"]["DirectorModelLists"].length; i++)
                    {
                        let table = $('#list_table_json').DataTable();
                        let columnTable = parseInt(data["Column"]) + parseInt(i);
                        let event_data = '';
                        if (data["Data"]["DirectorModelLists"][i].Manager)
                        {
                            event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16"> '
                            event_data += '<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" /> '
                            event_data += '</svg> '
                            if(@StringToInt(Employee.PermissionCode) >= 0 && @StringToInt(Employee.PermissionCode) <= 10)
                            {
                                event_data += '<button type="button" id="' + data["Data"]["DirectorModelLists"][i].ID + '" class="btn btn-primary-outline" ';
                                event_data += 'onclick="confirmDelete(this.id,' + "'" + data["Data"]["DirectorModelLists"][i].TRSG + "'" + ', ' + i + ')" ';
                                event_data += 'data-id="" title="ลบการยืนยัน" style="color:black"> ';
                                event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"> '
                                event_data += '<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path> ';
                                event_data += '</svg> '
                                event_data += '</button> '
                            }
                            event_data += '<h2 style="font-size:11px;padding-top:5px">' + formattime(new Date(parseInt(data["Data"]["DirectorModelLists"][i].Managertime.substr(6, 13)))) + '</h2>';
                        }
                        else
                        {
                            @* ผู้พัฒนาหรือแอดมิน สามารถกดยืนยันของ อก. ได้  *@
                            if((@StringToInt(Employee.PermissionCode)) >= 0 && (@StringToInt(Employee.PermissionCode)) <= 10)
                            {
                                event_data += '<button type="button" id="' + data["Data"]["DirectorModelLists"][i].ID +'" class="btn btn-primary-outline" ';
                                event_data += 'onclick="confirmMgtDirector(this.id, ' + "'" + data["Data"]["DirectorModelLists"][i].TRSG + "'" + ',' + i + ')" ';
                                event_data += 'data-id="" title="ยืนยันผลดำเนินงาน" style="color:black"> ';
                                event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16"> ';
                                event_data += '<path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" /> ';
                                event_data += '</svg> ';
                                event_data += '</button> ';
                            }
                            else if ((@StringToInt(Employee.PermissionCode) == 40 && '@Employee.Mast_TRSG' == data["Data"]["DirectorModelLists"][i].TRSG))
                            {
                                event_data += '<button type="button" id="' + data["Data"]["DirectorModelLists"][i].ID +'" class="btn btn-primary-outline" ';
                                event_data += 'onclick="confirmMgtDirector(this.id, ' + "'" + data["Data"]["DirectorModelLists"][i].TRSG + "'" + ',' + i + ')" ';
                                event_data += 'data-id="" title="ยืนยันผลดำเนินงาน" style="color:black"> ';
                                event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16"> ';
                                event_data += '<path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" /> ';
                                event_data += '</svg> ';
                                event_data += '</button> ';
                            }
                        }
                        $(table.column(columnTable).header()).html(event_data);
                     }

                     Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                     ).then(function () {
                        $("#loadMe").modal("hide");
                     });
                }
                else {
                     Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                     }).then(function () {
                         $("#loadMe").modal("hide");

                         $("#list_table_json").closest('table').find('tbody').hide();

                         @*$('#list_table_json').DataTable().clear().destroy();*@

                     });
                }
            },
            error: function (error) {
                @*alert(error);*@
                $("#loadMe").modal("hide");

                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    });


    function OpenModal(TRSG, CostCenterID) {
        let Year = $('#ChooseYear').val();
        let NameTimesAYear = $('#ChooseNameTimesAYear').val();
        let Round = $('#ChooseRound').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDataResult", "Executive")',
            data: { Year: Year, NameTimesAYear: NameTimesAYear, Round: Round,TRSG: TRSG, CostCenterID: CostCenterID },
            dataType: "json",
            success: function (data) {
                @*console.log(data);*@
                $('#list_table_json_Modal').DataTable().clear().destroy();
                if(data["Status"] == "-99") {
                    location.reload();
                }
                else if (data["Status"] == "1") {

                    let event_data = '';
                    for (let i = 0; i < data["Data"].length; i++) {
                        event_data += '<tr>';
                        event_data += '<td style="width: 10px; text-align: center; vertical-align: middle;">' + (i + 1) + '</td>';
                        event_data += '<td style="width: 100px; text-align: left; vertical-align: top;">' + data["Data"][i].Plans + '</td>';
                        event_data += '<td style="width: 100px; text-align: left; vertical-align: top;">' + data["Data"][i].SectionName + '</td>';
                        event_data += '<td style="width: 100px; text-align: left; vertical-align: top;">' + data["Data"][i].Target + '</td>';
                        event_data += '<td style="width: 50px; text-align: center; vertical-align: middle;">' + data["Data"][i].AssessorDepartment + '</td>';
                        if (data["Data"][i].Result == "0") {
                            event_data += '<td style="width: 70px; text-align: center; vertical-align: middle;">' + "ไม่ผ่าน" + '</td>';
                        }
                        else {
                            event_data += '<td style="width: 70px; text-align: center; vertical-align: middle;">' + "ยังไม่ได้รับการประเมิน" + '</td>';
                        }
                    }

                    $("#list_table_json_Modal").append(event_data);

                    $('#list_table_json_Modal').DataTable({
                        "autoWidth": false,
                        columnDefs: [
                            { width: 10, targets: 0 },
                            { width: 90, targets: 1 },
                            { width: 90, targets: 2 },
                            { width: 90, targets: 3 },
                            { width: 40, targets: 4 },
                            { width: 60, targets: 5 },
                        ],
                        "language": {

                            "search": '<i class="fa fa-search"></i>',
                            "searchPlaceholder": "search",
                        }, "aaSorting": []
                    });
                    Swal.fire(
                        'สำเร็จ',
                        data["Message"],
                        'success'
                    ).then(function () {
                        $('#exampleModalCenter').modal('show');
                    });
                }
                else {

                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดความผิดพลาด!',
                        text: data["Message"],
                    }).then(function () {
                        $('#exampleModalCenter').modal('show');
                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดความผิดพลาด!',
                    text: error["Message"],
                })
            }
        });
    }

    function confirmDelete(ID, TRSG,indexRow) {
        @*let ID = $('#HiddenID').val();*@
        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ลบทิ้ง!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("confirmDelete", "Executive")',
                    data: { ID: ID, TRSG: TRSG },
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                            Swal.fire({
                                title: 'ลบแล้ว!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {
                                @*location.reload();*@

                                let columnTable = parseInt(data["Column"]) + parseInt(indexRow);

                                var table = $('#list_table_json').DataTable();
                                let event_data = '';
                                $(table.column(columnTable).header()).html(event_data);

                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }
    function confirmDeleteManager(ID, TRSG, indexRow) {
        @*let ID = $('#HiddenID').val();*@
        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ลบทิ้ง!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("confirmDeleteManager", "Executive")',
                    data: { ID: ID, TRSG: TRSG },
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                            Swal.fire({
                                title: 'ลบแล้ว!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {
                                @*location.reload();*@

                                let rowTable = indexRow;
                                let columnTable = data["Column"] - 1;

                                let event_data = '';

                                var table = $('#list_table_json').DataTable();
                                var idx = table
                                    .row(rowTable)
                                    .index();
                                table.cell(idx, columnTable).data(event_data).draw(false);

                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }


    function confirmMgtDirector(ID, TRSG, indexRow) {
        let Year = $('#ChooseYear').val();
        let NameTimesAYear = $('#ChooseNameTimesAYear').val();
        let Round = $('#ChooseRound').val();
        Swal.fire({
            title: 'คุณต้องการยืนยันผลดำเนินการใช่ไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ยืนยัน!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("confirmMgtDirector", "Executive")',
                    data: { ID: ID, TRSG: TRSG, Year: Year, NameTimesAYear: NameTimesAYear, Round: Round },
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                            Swal.fire({
                                title: 'สำเร็จ!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {
                                @*location.reload();*@

                                let columnTable = parseInt(data["Column"]) + parseInt(indexRow);

                                var table = $('#list_table_json').DataTable();
                                let event_data = '';
                                event_data += '<svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" fill = "currentColor" class="bi bi-check-lg" viewBox = "0 0 16 16" > ';
                                event_data += '<path d = "M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" /> ';
                                event_data += '</svg >';

                                event_data += '<h2 style="font-size:11px;padding-top:5px;">' + formattime(new Date(parseInt(data["Data"][0].Managertime.substr(6, 13)))) + '</h2>';

                                $(table.column(columnTable).header()).html(event_data);

                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }
    function OpenModalMessage(Message) {
        $('#MessageRes').val(Message);
        $('#ModalOpenMessage').modal('show');
    }
    function RefuseMgtManager(ID, TRSG, indexRow) {
        $('#RefuseHiddenID').val(ID);
        $('#RefuseHiddenTRSG').val(TRSG);
        $('#RefuseHiddenindexRow').val(indexRow);
        $('#MessageReq').val('');
        $('#ModalCenterRefuse').modal('show');
    }
    function ConfirmRefuse() {
        let Year = $('#ChooseYear').val();
        let NameTimesAYear = $('#ChooseNameTimesAYear').val();
        let Round = $('#ChooseRound').val();

        let ID = $('#RefuseHiddenID').val();
        let TRSG = $('#RefuseHiddenTRSG').val();

        let Refuse = "1";
        let MessageReq = $('#MessageReq').val();

        if (MessageReq == '') {
            let notifierCheckbox = document.getElementById("MessageReq");
            notifierCheckbox.focus();
            notifierCheckbox.setCustomValidity("โปรดชี้แจง.");
            notifierCheckbox.reportValidity();
            return;
        }

        Swal.fire({
            title: 'คุณต้องการยืนยันผลดำเนินการใช่ไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ยืนยัน!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("confirmMgtManager", "Executive")',
                    data: { ID: ID, TRSG: TRSG, Year: Year, NameTimesAYear: NameTimesAYear, Round: Round, Refuse: Refuse, MessageReq: MessageReq},
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                            Swal.fire({
                                title: 'สำเร็จ!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {
                                @*location.reload();*@

                                let rowTable = $('#RefuseHiddenindexRow').val();
                                let columnTable = data["Column"] - 1;

                                let event_data = '';

                                @*event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"> ';
                                event_data += '<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /> ';
                                event_data += '</svg >';*@

                                event_data += '<button type="button" id="' + data["Data"][0].ID + '" class="btn btn-primary-outline" ';
                                event_data += 'onclick="OpenModalMessage(' + "'" + data["Data"][0].Message + "'" + ')" ';
                                event_data += 'data-id="" title="การชี้แจง" style="color:black"> ';
                                event_data += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"> ';
                                event_data += '<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /> ';
                                event_data += '</svg > ';
                                event_data += '</button> ';

                                event_data += '<h2 style="font-size:11px;padding-top:5px;">' + formattime(new Date(parseInt(data["Data"][0].Managertime.substr(6, 13)))) + '</h2>';

                                var table = $('#list_table_json').DataTable();
                                var idx = table
                                    .row(rowTable)
                                    .index();
                                table.cell(idx, columnTable).data(event_data).draw(false);

                                $('#ModalCenterRefuse').modal('hide');

                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }
    function confirmMgtManager(ID, TRSG, indexRow) {
        let Year = $('#ChooseYear').val();
        let NameTimesAYear = $('#ChooseNameTimesAYear').val();
        let Round = $('#ChooseRound').val();
        let Refuse = "0";
        @*let ID = $('#HiddenID').val();*@
        let Hiddenrow = indexRow;
        Swal.fire({
            title: 'คุณต้องการยืนยันผลดำเนินการใช่ไหม?',
            text: "คุณจะไม่สามารถย้อนกลับได้!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช่ ยืนยัน!',
            cancelButtonText: 'ยกเลิก'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("confirmMgtManager", "Executive")',
                    data: { ID: ID, TRSG: TRSG, Year: Year, NameTimesAYear: NameTimesAYear, Round: Round, Refuse: Refuse },
                    dataType: "json",
                    success: function (data) {
                        @*console.log(data)*@
                        if (data["Status"] == "1") {
                            Swal.fire({
                                title: 'สำเร็จ!',
                                text: data["Message"],
                                icon: 'success',
                                confirmButtonText: 'ตกลง',
                            }).then(function () {
                                @*location.reload();*@

                                let rowTable = indexRow;
                                let columnTable = data["Column"] - 1;

                                let event_data = '';
                                event_data += '<svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" fill = "currentColor" class="bi bi-check-lg" viewBox = "0 0 16 16" > ';
                                event_data += '<path d = "M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" /> ';
                                event_data += '</svg >';

                                event_data += '<h2 style="font-size:11px;padding-top:5px;">' + formattime(new Date(parseInt(data["Data"][0].Managertime.substr(6, 13)))) + '</h2>';

                                var table = $('#list_table_json').DataTable();
                                var idx = table
                                    .row(rowTable)
                                    .index();
                                table.cell(idx, columnTable).data(event_data).draw(false);

                                $('#ModalCenterRefuse').modal('hide');

                            });
                        }
                        else if (data["Status"] == "-99") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดความผิดพลาด!',
                                text: data["Message"],
                            }).then(function () {

                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'เกิดความผิดพลาด!',
                            text: error["Message"],
                        })
                    }
                });
            }
        })
    }
</script>
